{
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "bracketSpacing": true,
  "cssBlankLine": "always",
  "cssFormat": "expanded",
  "printWidth": 120
}