/** override hosts **/
body {
    overflow: hidden !important;
    background: none !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100vw !important;
}

/** base overrides for this app  **/
html {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100vw;
    height: 100vh;
}

ul {
    list-style: none;
}

* {
    transform: translate3d(0, 0, 0);
    overscroll-behavior: none;
    -webkit-overflow-scrolling: auto;
    margin: 0;
    padding: 0;
}