:root {
    --color-idle: #4b4b4b;
    --color-hover: #0056b3;
    --color-active: #003f7f;
    --color-loading: #ffc107;
    --color-success: #28a745;
    --color-error: #dc3545;
    --text-color-light: white;
    --text-color-dark: black;
    --border-radius: 15px;

    --button-red: #e63946;
    --button-pink: #ff79c6;
    --button-blue: #4a90e2;
    --button-aqua: #56cfe1;
    --button-black: #222;
    --button-orange: #f77f00;
    --button-purple: #9b5de5;
    --button-bloodorange: #ff4500;
    --button-deepyellow: #ffc300;
    --button-green: #14532d;
}

html {
    background: url("/image/assets-from-space.webp");
    background-size: cover;
    background-attachment: fixed;
    max-width: 100vw;
}

html.edit-active {
    background: url("/image/blueprint.webp");
    background-size: cover;
    background-attachment: fixed;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 100vw;
    background: none;
    padding:0;
    margin:0;
}

button {
    cursor: pointer;
}

.button-grid {
    display: grid;
    margin: 0;
    max-width: 100vw;
    align-content: stretch;
    justify-items: stretch;
    grid-template-rows: repeat(auto-fit, calc(25vh));
}

@media (min-aspect-ratio: 1/1) {
    .button-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-aspect-ratio: 1/1) {
    .button-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: 8px 8px 15px 0px rgba(0, 0, 0, 0.75);
    min-height: 25vh;
}

.button-grid img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.button button {
    width: 100%;
    height: 100%;
    font-size: clamp(24px, 3vw, 48px);
    color: var(--text-color-light);
    border: 10px solid rgba(255, 255, 255, 0.55);
    border-radius: var(--border-radius);
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    opacity: 1;
    padding: 5% 0;
    box-sizing: border-box;
    position: relative;
}

html.edit-active .button button {
    border-style: dashed;
}

.button button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 50px 25px rgba(0, 0, 0, 0.75);
    mix-blend-mode: screen;
}

.button button:hover::after {
    mix-blend-mode: overlay;
}

.button button:active::after {
    mix-blend-mode: multiply;
}

.button-red button {
    background-color: var(--button-red);
    color: var(--text-color-light);
}

.button-pink button {
    background-color: var(--button-pink);
    color: var(--text-color-light);
}

.button-blue button {
    background-color: var(--button-blue);
    color: var(--text-color-light);
}

.button-aqua button {
    background-color: var(--button-aqua);
    color: var(--text-color-dark);
}

.button-black button {
    background-color: var(--button-black);
    color: var(--text-color-light);
}

.button-orange button {
    background-color: var(--button-orange);
    color: var(--text-color-dark);
}

.button-purple button {
    background-color: var(--button-purple);
    color: var(--text-color-light);
}

.button-bloodorange button {
    background-color: var(--button-bloodorange);
    color: var(--text-color-light);
}

.button-deepyellow button {
    background-color: var(--button-deepyellow);
    color: var(--text-color-dark);
}

.button-green button {
    background-color: var(--button-green);
    color: var(--text-color-light);
}

.button button[data-state="loading"] {
    background-color: var(--color-loading);
    color: var(--text-color-dark);
}

.button button[data-state="success"] {
    background-color: var(--color-success);
    color: var(--text-color-light);
}

.button button[data-state="error"] {
    background-color: var(--color-error);
    color: var(--text-color-light);
}

.pointer-events-none {
    pointer-events: none;
}
