dialog {
    display: grid;
    grid-template-rows: 1fr min-content 1fr min-content min-content 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    width: 400px;
    max-width: 90%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}X