html,
body,
iframe {
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: transparent;
    overflow: hidden;
}
:root {
    --streamer-qr-size: 500px;
}
#streamer-qr-code {
    height:  var(--streamer-qr-size) !important;
    width:  var(--streamer-qr-size)200px !important;
    position: fixed;
    right:60px;
    bottom:60px;
    object-fit: contain;
    background: white;
    padding-bottom: 30px;
}
div::after {
    content: "Scan to Follow";
    width:  var(--streamer-qr-size);
    position: fixed;
    text-align: center;
    font-size: 4rem;
    right:60px;
    bottom:60px;
    background: white
    padding: 10px 0 10px 0;
}