#heart-rate {
    font-family: sans-serif;
    font-weight: bolder;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    text-align: center;
    line-height: 1;
    white-space: nowrap;
}

#heart-rate:after {
    content: "♥";
    display: inline;
    color: red;
    font-size: 120%;
    margin-left: 3%;
}
