@keyframes wave {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -100vw -100vh;
    }
}

#module-container {
    width: 100vw;
    height: 100vh;
    display: block;
    position: relative;
}

html:not(.iframe) {
    transform: scale(1.01);
}

html.iframe #module-container {
    background-image: linear-gradient(120deg, rgb(2, 2, 2) 0%, rgb(75, 75, 75) 33%, rgb(2, 2, 2) 33%, rgb(75, 75, 75) 100%);
    background-size: cover;
    box-shadow: inset 0 0 5px 5px rgb(255, 255, 255,.5);
}

html.iframe iframe {
    display: none;
}

#module-container {
    width: 100vw;
    height: 100vh;
    display: block;
    position: relative;
    background-size: 7vw 7vh;
    background-repeat: repeat;
    animation: wave 15s linear infinite;
}