:root {
    --selector-cell-width: 30px;
    --selector-cell-height: var(--selector-cell-width);
    --selector-width: calc(3 * var(--selector-cell-width));
    --selector-height: calc(3 * var(--selector-cell-height));
}

html {
    background: url("/image/blueprint.webp");
}

.modules {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    margin: 0;
    padding: 0;
}

@media (min-aspect-ratio: 1/1) {
    .modules {
        width: 50%;
        margin-left: 25%;
    }
}

.module .controls {
    display: flex;
}

.module .module-9x9-selector ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: var(--selector-width);
    height: var(--selector-height);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.module .module-9x9-selector li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.module .module-9x9-selector input[type="radio"] {
    border-radius: 0;
    width: var(--selector-cell-width);
    height: var(--selector-cell-height);
    border: 2px solid var(--button-bloodorange);
    background: var(--button-orange);
}

.module .module-9x9-selector input[type="radio"]:checked {
    border-width: 10px;
    background: var(--button-deepyellow);
}

.module .preview {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    background:
            radial-gradient(circle, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%),
            linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9) 70%);
    position: relative;
}

.module .preview iframe {
    transform: scale(calc(var(--js-module-preview-width) / 1920));
    pointer-events: none;
    border: none;
    background: none;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: 0 0;
}

.module .title {
    border-top: 20px solid rgba(255, 255, 255, 0.6);
    border-right: 20px solid rgba(255, 255, 255, 0.2);
    border-bottom: 20px solid rgba(255, 255, 255, 0.1);
    border-left: 20px solid rgba(255, 255, 255, 0.4);
    height: 5vh;
    display: flex;
    align-items: center;
    z-index: 1;
}

/** themes start **/
.module.aqua,
.module.aqua .title {
    background: var(--button-aqua);
}

.module.orange,
.module.orange .title {
    background: var(--button-orange);
}

.module.bloodorange,
.module.bloodorange .title {
    background: var(--button-bloodorange);
}

.module.purple,
.module.purple .title {
    background: var(--button-purple);
}
/** themes end **/