:root {
    --selector-cell-width: 30px;
    --selector-cell-height: var(--selector-cell-width);
    --selector-width: calc(3 * var(--selector-cell-width));
    --selector-height: calc(3 * var(--selector-cell-height));
}

html {
    background: url("/image/blueprint.webp");
}

.modules {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    margin: 0;
    padding: 0;
    background: repeating-linear-gradient(-45deg, #020202, #131313 15px);
}

.modules:after {
    content: "";
    height: 130px;
    background: transparent;
    width: 100%;
    display: block;
}

@media (min-aspect-ratio: 1/1) {
    .modules {
        width: 50%;
        margin-left: 25%;
    }
}

.module {
    overflow: hidden;
    transition: height 333ms linear;
}

.module .title p {
    flex-grow: 1;
    font-size: 30px;
    margin-left: 10px;
    background: repeating-linear-gradient(45deg, rgba(0, 0, 0, .05) 0px, rgba(0, 0, 0, .05) 2px, rgba(255, 255, 255, .05) 2px, rgba(255, 255, 255, .05) 4px);
}

.module .title button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 30px;
    margin: 3px;
    width: 40px;
    background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, .05) 0px, rgba(0, 0, 0, .05) 2px, rgba(255, 255, 255, .05) 2px, rgba(255, 255, 255, .05) 4px);
}

.module .controls {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    gap: 12px;
    margin: 12px;
    width: fit-content;
    min-height: 110px;
}

.module .module-9x9-selector {
    align-self: center;
    margin-top: 20px;
}

.module .module-9x9-selector ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: var(--selector-width);
    height: var(--selector-height);
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.module .module-9x9-selector:nth-child(1) ul:after {
    content: "Large X,Y";
}

.module .module-9x9-selector:nth-child(2) ul:after {
    content: "Small X,Y";
}

.module .module-9x9-selector:nth-child(3) ul:after {
    content: "Rotate 3D";
}

.module .module-9x9-selector:nth-child(4) ul:after {
    content: "Zoom";
}

.module .module-9x9-selector ul:after {
    background: white;
    width: 90px;
    position: absolute;
    left: 0;
    top: -19px;
    z-index: 100;
    border: 2px solid var(--button-bloodorange);
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    border-bottom: none;
}

.module .module-9x9-selector li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.module .module-9x9-selector input[type="radio"] {
    border-radius: 0;
    width: var(--selector-cell-width);
    height: var(--selector-cell-height);
    border: 2px solid var(--button-bloodorange);
    background: var(--button-orange);
}

.module .module-9x9-selector input[type="radio"]:checked {
    border-width: 10px;
    background: var(--button-deepyellow);
}

.module .preview {
    width: 100%;
    height: 0;
    padding-top: calc(900%/16);/** 9/16 hack **/
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.95) 70%),
    radial-gradient(circle, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0) 60%),
    url("/image/stage.webp");
    background-size: cover;
    position: relative;
}

.module .preview iframe {
    transform: scale(calc(var(--js-module-preview-width) / 1920));
    pointer-events: none;
    border: none;
    background: none;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: 0 0;
}

.module .title {
    border-top: 20px solid rgba(255, 255, 255, 0.6);
    border-right: 20px solid rgba(255, 255, 255, 0.2);
    border-bottom: 20px solid rgba(255, 255, 255, 0.1);
    border-left: 20px solid rgba(255, 255, 255, 0.4);
    height: 5vh;
    display: flex;
    align-items: center;
    z-index: 1;
}

/** themes start **/
.module.aqua,
.module.aqua .title {
    background: var(--button-aqua);
}

.module.orange,
.module.orange .title {
    background: var(--button-orange);
}

.module.bloodorange,
.module.bloodorange .title {
    background: var(--button-bloodorange);
}

.module.purple,
.module.purple .title {
    background: var(--button-purple);
}

/** themes end **/