* {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border: none
}
*:focus {
    outline: none;
}
*:focus-visible {
    outline: none;
}
body {
    -webkit-tap-highlight-color: transparent;
}
input, button, select, textarea {
    border: none;
    outline: none;
    background: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
}
img, a {
    -webkit-user-drag: none;
    user-drag: none;
}
button {
    cursor: pointer;
}