.settings-container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    margin: 0;
    font-size: 300%;
}

.settings-nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
}

.settings-container--header {
    border-top: 20px solid rgba(255, 255, 255, 0.6);
    border-right: 20px solid rgba(255, 255, 255, 0.2);
    border-bottom: 20px solid rgba(255, 255, 255, 0.1);
    border-left: 20px solid rgba(255, 255, 255, 0.4);
    position: sticky;
    background: white;
    height: 5vh;
    top: 0;
    display: flex;
    align-items: center;
}

.settings-container--header p {
    flex-grow: 1;
    font-size: 30px;
    margin-left: 10px;
}

.settings-container--header.aqua {
    background: var(--button-aqua);
}

@media (min-aspect-ratio: 1/1) {
    .settings-container {
        width: 50%;
        margin-left: 25%;
    }
}

.settings-editor {

}
