.settings-container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    margin: 0;
    font-size: 300%;
}

.settings-nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
}

.settings-container--header {
    position: sticky;
    background: white;
    top: 0;
    display: flex;
    padding: 15px;
}

.settings-container--header h2 {
    font-size: 28px;
    flex-grow: 1;
}

.settings-container--header.aqua {
    background: var(--button-aqua);
}

@media (min-aspect-ratio: 1/1) {
    .settings-container {
        width: 50%;
        margin-left: 25%;
    }
}

.settings-editor {

}
