html {
    background: url("/image/blueprint.webp");
}

ul + #emoji-widget {
    display: none;
}

.settings-container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 300%;
}

.settings-nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
}

.settings-container--header {
    border-top: 20px solid rgba(255, 255, 255, 0.6);
    border-right: 20px solid rgba(255, 255, 255, 0.2);
    border-bottom: 20px solid rgba(255, 255, 255, 0.1);
    border-left: 20px solid rgba(255, 255, 255, 0.4);
    height: 5vh;
    display: flex;
    align-items: center;
    z-index: 1;
}

.settings-container--header p {
    flex-grow: 1;
    font-size: 30px;
    margin-left: 10px;
    background: repeating-linear-gradient(45deg, rgba(0, 0, 0, .05) 0px, rgba(0, 0, 0, .05) 2px, rgba(255, 255, 255, .05) 2px, rgba(255, 255, 255, .05) 4px);
}

@media (min-aspect-ratio: 1/1) {
    .settings-container {
        width: 50%;
        margin-left: 25%;
    }
}

.settings-editor {
    display: grid;
    grid-template-columns: repeat(5, calc(100% / 5));
    min-height: 8vh;
}

.settings-editor * {
    font-size: 25px;
}

.settings-editor > [type="text"] {
    grid-column: span 3;
    padding: 0 5px;
}

.settings-editor > [type="text"]:disabled {
    opacity: .5;
}

.settings-editor > [type="text"]:focus {
    background: var(--button-deepyellow);
}

.settings-editor > :not([type="text"]) {
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

#emoji-widget {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, calc(100% / 5));
}

.emoji-widget-instance,
.emoji-widget-instance-trigger{
    background: green !important;
}

#emoji-widget li {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    height: 10vh;
}

#emoji-widget li.active {
    box-shadow: inset 0 0 8px 8px var(--button-deepyellow);
}

/** themes start **/
.settings-editor.aqua,
.settings-container--header.aqua,
.settings-editor.aqua + #emoji-widget {
    background: var(--button-aqua);
}

.settings-editor.orange,
.settings-container--header.orange,
.settings-editor.orange + #emoji-widget {
    background: var(--button-orange);
}

.settings-editor.bloodorange,
.settings-container--header.bloodorange,
.settings-editor.bloodorange + #emoji-widget {
    background: var(--button-bloodorange);
}

.settings-editor.purple,
.settings-container--header.purple,
.settings-editor.purple + #emoji-widget {
    background: var(--button-purple);
}
/** themes end **/