<nav>
    <input type="checkbox" id="toggle-nav-show">
    <label for="toggle-nav-show" aria-label="🧮"></label>
    <aside>
        <button aria-label="Reload"><em aria-label="🔄"></em></button>
        <button aria-label="Show QR"><em aria-label="🔗"></em></button>
        <button aria-label="Dev"><em aria-label="⚙"></em></button>
        <button aria-label="App"><em aria-label="🕹️"></em></button>
        <button aria-label="Login"><em aria-label="🔒"></em></button>
        <button aria-label="Draw"><em aria-label="🖌️"></em></button>
        <button aria-label="Layout"><em aria-label="🎬"></em></button>
        <button aria-label="Actions"><em aria-label="⚡"></em></button>
        <button style="display:none;" id="toggle-edit-dashboard"></button>
    </aside>
</nav>