{%extends "main.njk"%}
{%block cdn%}{%endblock%}
{%block client%}{%endblock%}}
{%block head%}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js?{{cacheBuster}}" type="text/javascript" crossorigin="anonymous" defer></script>
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js?{{cacheBuster}}" type="text/javascript" crossorigin="anonymous" defer></script>
<script src="../client/script/get_url.js?{{cacheBuster}}" type="text/javascript" defer></script>
<script src="../client/script/iframe_detect.js?{{cacheBuster}}" type="text/javascript" defer></script>
<script src="../client/script/socket.js?{{cacheBuster}}" type="text/javascript" defer></script>
<link rel="stylesheet" href="../client/style/base.css?{{cacheBuster}}">
<link rel="stylesheet" href="../client/style/reset.css?{{cacheBuster}}">
<link rel="stylesheet" href="../client/style/iframe.css?{{cacheBuster}}">
<style>
    #twitch-embed {
        justify-content: center;
        align-items: center;
        font-size: 100px;
        width: 100vw;
        height: 100vh;
    }
</style>
<style>
    :root {
        --_feat-translateX: 0.0;
        --_feat-translateY: 0.0;
        --_feat-scaleX: 100.0;
        /*--_feat-scaleY: 100.0;*/
        --_feat-scaleY: var(--_feat-scaleX);
        --_feat-rotateX: 0.0;
        --_feat-rotateY: 0.0;
        --_feat-rotateZ: 0.0;
    }
</style>
{%include "_style.njk"%}
<style>
    body {
        perspective: calc(3 * 1920px);
        perspective-origin: calc(0.5 * 1920px) calc(0.5 * 1920px);
    }
    #module-container {
        transform: translateX(calc(calc(var(--_feat-translateX) * -1%) + 40%))
        translateY(calc(calc(var(--_feat-translateY) * -1%) + 40%))
        scaleX(calc(var(--_feat-scaleX) * 0.01))
        scaleY(calc(var(--_feat-scaleY) * 0.01))
        rotateX(calc(var(--_feat-rotateX) * 3.6deg))
        rotateY(calc(var(--_feat-rotateY) * -3.6deg))
        rotateZ(calc(var(--_feat-rotateZ) * -3.6deg))
    }
</style>
{%endblock%}
{%block body%}
<main id="module-container">
    <iframe id="twitch-embed"
            frameborder="0"
            allowfullscreen="true"
            scrolling="no"
            height="100%"
            width="100%">
    </iframe>
</main>
{%endblock%}
{%block scripts%}
<script defer>
    document.addEventListener("DOMContentLoaded", () => iframeDetect());
    document.addEventListener("DOMContentLoaded", () => socketConnect());
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => socketWatchStyle((payload) => {
        let style = payload.split('style:set:')[1];
        document.head.querySelector('#public_module_styles').innerHTML = `:root{${style};}`;

    }));
    document.addEventListener("DOMContentLoaded", () => socketWatchFeatureSet((payload) => {
        if ('#edit' === window.location.hash) return;
        const urlParams = new URLSearchParams(window.location.search);
        const streamerQueryParam = urlParams.get('featuredName');
        const featuredName = payload.split(':').pop();
        const isOpen = (streamerQueryParam === featuredName);
        if (isOpen) {
            try {
                (!'#featuredNameLock' == window.location.hash) && document.documentElement.remove();
            } catch (e) {
                window.location.reload();
            }
        } else {
            getURL(`${window.location.origin}${window.location.pathname}?featuredName=${featuredName}`);
        }
    }));
    document.addEventListener("DOMContentLoaded", () => {
        if ('#edit' === window.location.hash) return;
        const urlParams = new URLSearchParams(window.location.search);
        const streamerQueryParam = urlParams.get('featuredName');
        if (!streamerQueryParam) {
            console.log('embed-twitch :: no streamer found');
        } else {
            const URL = `https://player.twitch.tv/?channel=${streamerQueryParam}&parent=localhost&muted=false`;
            const twitchEmbed = document.body.querySelector('#twitch-embed');
            twitchEmbed.src = URL;
        }
    });
</script>
{%endblock%}