{%extends "main.njk"%}
{%block cdn%}{%endblock%}
{%block client%}{%endblock%}}
{%block head%}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js?{{cacheBuster}}" type="text/javascript" crossorigin="anonymous" defer></script>
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js?{{cacheBuster}}" type="text/javascript" crossorigin="anonymous" defer></script>
<script src="../client/script/iframe_detect.js?{{cacheBuster}}" type="text/javascript" defer></script>
<script src="../client/script/socket.js?{{cacheBuster}}" type="text/javascript" defer></script>
<link rel="stylesheet" href="../client/style/base.css?{{cacheBuster}}">
<link rel="stylesheet" href="../client/style/iframe.css?{{cacheBuster}}">
<style>
    canvas {
        width: 50vw;
        height: 50vw;
        box-sizing: border-box;
        object-fit: contain;
    }
</style>
<style>
    :root {
        --_draw-translateX: 0.0;
        --_draw-translateY: 0.0;
        --_draw-scaleX: 100.0;
        --_draw-scaleY: var(--_draw-scaleX);
        --_draw-rotateX: 0.0;
        --_draw-rotateY: 0.0;
        --_draw-rotateZ: 0.0;
    }
</style>
{%include "_style.njk"%}
<style>
    main {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    body {
        perspective: 1920px;
    }

    main {
        transform: translateX(calc(calc(var(--_draw-translateX) * -1%) + 33%)) translateY(calc(calc(var(--_draw-translateY) * -1%) + 33%)) scaleX(calc(var(--_draw-scaleX) * 0.01)) scaleY(calc(var(--_draw-scaleY) * 0.01)) rotateX(calc(var(--_draw-rotateX) * 3.6deg)) rotateY(calc(var(--_draw-rotateY) * 3.6deg)) rotateZ(calc(var(--_draw-rotateZ) * 3.6deg));
    }
</style>
{%endblock%}
{%block body%}
<main>
    <canvas></canvas>
</main>
{%endblock%}
{%block scripts%}
<script defer>
    document.addEventListener("DOMContentLoaded", () => iframeDetect());
    document.addEventListener("DOMContentLoaded", () => socketConnect());
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => socketWatchStyle((payload) => {
        let style = payload.split('style:set:')[1];
        document.head.querySelector('#public_module_styles').innerHTML = `:root{${style};}`;
    }));
    document.addEventListener("DOMContentLoaded", () => socketWatchDrawSet((payload) => {
        if (document.$drawing) {
            console.log('socketWatchDrawSet busy...');
            return;
        }
        document.$drawing = true;
        const pixelSize = 20;
        const playback = payload.split(":")[1].split(",");
        const canvas = document.querySelector("canvas");
        canvas.width = canvas.getBoundingClientRect().width;
        canvas.height = canvas.getBoundingClientRect().height;
        const ctx = document.querySelector("canvas").getContext("2d");
        if (canvas.width > canvas.height) {
            canvas.width = canvas.height;
        }
        if (canvas.height > canvas.width) {
            canvas.height = canvas.width;
        }
        canvas.style.width = `${canvas.width}px`;
        canvas.style.height = `${canvas.height}px`;
        document.replayDone = () => {
            document.$drawing = setTimeout(() => {
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                document.$drawing = false;
            }, 5000);
        };
        document.replayStart = () => {
            if (playback.length) {
                const x = playback.shift();
                const y = playback.shift();
                ctx.fillStyle = "#2fffa5";
                ctx.beginPath();
                ctx.arc(x, y, (pixelSize * 1.25) / 2, 0, Math.PI * 2, false);
                ctx.fill();
                requestAnimationFrame(document.replayStart);
            } else {
                document.replayDone();
            }
        };
        document.replayStart();
    }));
</script>
{%endblock%}