{%extends "main.njk"%}
{%block cdn%}{%endblock%}
{%block client%}{%endblock%}}
{%block head%}
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" type="text/javascript" defer></script>
<script crossorigin="anonymous" src="https://cdn.socket.io/4.0.0/socket.io.min.js" type="text/javascript" defer></script>
<script defer src="../client/script/css_dev_watch.js?{{cacheBuster}}" type="text/javascript"></script>
<script defer src="../client/script/iframe_detect.js?{{cacheBuster}}" type="text/javascript"></script>
<script defer src="../client/script/socket.js?{{cacheBuster}}" type="text/javascript"></script>
<script defer src="../client/script/get_path.js?{{cacheBuster}}" type="text/javascript"></script>
<link rel="stylesheet" href="../client/style/variables.css?{{cacheBuster}}">
<link rel="stylesheet" href="../client/style/reset.css?{{cacheBuster}}">
<link rel="stylesheet" href="../client/style/base.css?{{cacheBuster}}">
<link rel="stylesheet" href="../client/style/iframe.css?{{cacheBuster}}">
<style>
    #bpm-embed {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        font-size: 100px;
        color: var(--color-red);
        width: calc(100% - 25px);
        height: 100%;
    }
</style>
<style>
    :root {
        --_bpm-o: 1.0;
        --_bpm-tX: 50.0;
        --_bpm-tY: 50.0;
        --_bpm-sX: 50.0;
        --_bpm-sY: 50.0;
        --_bpm-sZ: 50.0;
        --_bpm-rX: 50.0;
        --_bpm-rY: 50.0;
    }
</style>
{%include "_style.njk"%}
<style>
    body {
        perspective: calc(3 * 1920px);
        perspective-origin: calc(0.5 * 1920px) calc(0.5 * 1920px);
    }
    main {
        opacity: var(--_bpm-o);
        transform: translateX(calc(calc(var(--_bpm-tX) * -1%) + 50%))
        translateY(calc(calc(var(--_bpm-tY) * -1%) + 50%))
        scaleX(calc(calc(var(--_bpm-sX) * 0.01) + 0.0))
        scaleY(calc(calc(var(--_bpm-sY) * 0.01) + 0.0))
        rotateX(calc(calc(var(--_bpm-rY) * 3.6deg) - 180deg))
        rotateY(calc(calc(var(--_bpm-rX) * 3.6deg) - 180deg));
    }
</style>
{%endblock%}
{%block body%}
<main>
    <section id="bpm-embed"
             data-label-content="{{signal.label}}"
             data-emoji-content="{{signal.emoji}}">
        <div></div>
        <div></div>
    </section>
</main>
{%endblock%}
{%block scripts%}
<script defer>
    document.addEventListener("DOMContentLoaded", () => cssDevWatch());
    document.addEventListener("DOMContentLoaded", () => iframeDetect());
    document.addEventListener("DOMContentLoaded", () => socketConnect());
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => socketWatchStyle((payload) => {
        let style = payload.split('style:set:')[1];
        document.head.querySelector('#public_module_styles').innerHTML = `:root{${style};}`;
    }));
    document.addEventListener("DOMContentLoaded", () => {
        const bpmRateElement = document.body.querySelector('#bpm-embed');
        const labelEl = bpmRateElement.querySelector('div:nth-of-type(1)');
        const emojiEl = bpmRateElement.querySelector('div:nth-of-type(2)');
        const bpmPing = async () => {
            try {
                const response = await axios.get(getPath("API_BPM_PING"));
                const bpmRate = response.data;
                const label = bpmRateElement.getAttribute('data-label-content');
                const emoji = bpmRateElement.getAttribute('data-emoji-content');
                labelEl.textContent = bpmRate ? bpmRate : label;
                emojiEl.textContent = emoji ? emoji : "♥";
            } catch (error) {
                bpmRateElement.textContent = "BPM";
                console.log("Failed to fetch bpm rate:", error);
            }
        };
        setInterval(() => bpmPing(), 1000);
    });
</script>
{%endblock%}