{%extends "main.njk"%}
{%block cdn%}{%endblock%}
{%block client%}{%endblock%}}
{%block head%}
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" type="text/javascript" defer></script>
<script crossorigin="anonymous" src="https://cdn.socket.io/4.0.0/socket.io.min.js" type="text/javascript" defer></script>
{{ '<script src="../client/script/css_dev_watch.js?" defer type="text/javascript"></script>' | inlineScriptContents | safe }}
{{ '<script src="../client/script/iframe_detect.js?" defer type="text/javascript"></script>' | inlineScriptContents | safe }}
{{ '<script src="../client/script/socket.js?" defer type="text/javascript"></script>' | inlineScriptContents | safe }}
{{ '<script src="../client/script/get_path.js?" defer type="text/javascript"></script>' | inlineScriptContents | safe }}
{{ '<link href="../client/style/variables.css?" rel="stylesheet">' | inlineScriptContents | safe }}
{{ '<link href="../client/style/reset.css?" rel="stylesheet">' | inlineScriptContents | safe }}
{{ '<link href="../client/style/base.css?" rel="stylesheet">' | inlineScriptContents | safe }}
{{ '<link href="../client/style/iframe.css?" rel="stylesheet">' | inlineScriptContents | safe }}
<style>
    #embed {
        width: 100vw;
        height: 100vh;
        object-fit: contain;
        background: none;
    }
    #embed[src=''] {
        visibility: hidden;
    }
</style>
<style>
    :root {
        --_med-o: 100.0;
        --_med-tX: 50.0;
        --_med-tY: 50.0;
        --_med-sX: 50.0;
        --_med-sY: 50.0;
        --_med-rX: 50.0;
        --_med-rY: 50.0;
    }
</style>
{%include "_style.njk"%}
<style>
    html.iframe main {
        box-shadow: inset 0 0 30px 30px var(--color-dark);
    }
    html.iframe #embed {
        box-shadow: inset 0 0 30px 30px var(--color-dark);
        visibility: visible;
    }
    main {
        perspective: calc(1 * 1920px);
        transform: translateX(calc(calc(var(--_med-tX) * -1%) + 50%))
        translateY(calc(calc(var(--_med-tY) * -1%) + 50%))
        scaleX(calc(calc(var(--_med-sX) * 0.01) + 0.0))
        scaleY(calc(calc(var(--_med-sY) * 0.01) + 0.0))
    }
    #embed {
        opacity: calc(var(--_med-o)/100);
        transform: rotateX(calc(calc(var(--_med-rY) * -1.8deg) - 90deg))
        rotateY(calc(calc(var(--_med-rX) * -1.8deg) - 90deg));
    }
</style>
{%endblock%}
{%block body%}
<main>
    <img id="embed" src=""/>
</main>
{%endblock%}
{%block scripts%}
<script defer>
    document.addEventListener("DOMContentLoaded", () => cssDevWatch());
    document.addEventListener("DOMContentLoaded", () => iframeDetect());
    document.addEventListener("DOMContentLoaded", () => socketConnect());
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => socketWatchStyle((payload) => {
        let style = payload.split('style:set:')[1];
        document.head.querySelector('#public_module_styles').innerHTML = `:root{${style};}`;
    }));
    document.addEventListener("DOMContentLoaded", () => socketWatchMediaSet((payload) => {
        let cells = payload.split('media:set:')[1];
        const [name, type, suffix] = cells.split(',');
        const src = `/media/${name}.${suffix}?type=${type}`;
        if (document.body.querySelector('#embed').getAttribute('src') === src) {
            document.body.querySelector('#embed').setAttribute('src', '');
        } else {
            document.body.querySelector('#embed').setAttribute('src', src);
        }
        console.log('media', name, type, suffix);
    }));
</script>
{%endblock%}