<!DOCTYPE html>
<html lang="en">
<head>
    <title>Media</title>
    <meta charset="UTF-8">
    <meta name="description" content="This is a description.">
    <meta name="keywords" content="keyword">
    <link rel="icon" href="/icon512_rounded.png" type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js?" defer type="text/javascript" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js?" defer type="text/javascript" crossorigin="anonymous"></script>
    <script src="../client/script/iframe_detect.js?" defer type="text/javascript"></script>
    <script src="../client/script/socket.js?" defer type="text/javascript"></script>
    <script src="../client/script/get_path.js?" defer type="text/javascript"></script>
</head>
<body>
<script>
    document.addEventListener("DOMContentLoaded", () => cssDevWatch());
    document.addEventListener("DOMContentLoaded", () => iframeDetect());
    document.addEventListener("DOMContentLoaded", () => socketConnect());
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => {
        let audio;
        return socketWatchSoundSet((payload) => {
            console.log('socketWatchSoundSet :: ', payload);
            try {
                if (audio) {
                    audio.pause();
                    audio = undefined;
                }
                const cells = payload.split(":")[1].split(',');
                const fileName = cells[0];
                const fileSuffix = cells[2];
                audio = new Audio(`/media/${fileName}.${fileSuffix}`);
                audio.volume = 0.75;
                audio.currentTime = 0;
                audio.play();
            } catch (e) {
                console.log('socketWatchSoundSet :: error', e);
            }
        });
    });
</script>
</body>
</html>