{%extends "main.njk"%}
{%block cdn%}{%endblock%}
{%block client%}{%endblock%}}
{%block head%}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js?{{cacheBuster}}" type="text/javascript" crossorigin="anonymous" defer></script>
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js?{{cacheBuster}}" type="text/javascript" crossorigin="anonymous" defer></script>
<script src="../client/script/get_url.js?{{cacheBuster}}" type="text/javascript" defer></script>
<script defer src="../client/script/css_dev_watch.js?{{cacheBuster}}" type="text/javascript"></script>
<script src="../client/script/iframe_detect.js?{{cacheBuster}}" type="text/javascript" defer></script>
<script src="../client/script/socket.js?{{cacheBuster}}" type="text/javascript" defer></script>
<link rel="stylesheet" href="../client/style/variables.css?{{cacheBuster}}">
<link rel="stylesheet" href="../client/style/reset.css?{{cacheBuster}}">
<link rel="stylesheet" href="../client/style/base.css?{{cacheBuster}}">
<link rel="stylesheet" href="../client/style/iframe.css?{{cacheBuster}}">
<style>
    #feature-embed {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }
</style>
<style>
    :root {
        --_feat-o: 1.0;
        --_feat-tX: 50.0;
        --_feat-tY: 50.0;
        --_feat-sX: 50.0;
        --_feat-sY: 50.0;
        --_feat-rX: 50.0;
        --_feat-rY: 50.0;
    }
</style>
{%include "_style.njk"%}
<style>
    body {
        perspective: calc(3 * 1920px);
        perspective-origin: calc(0.5 * 1920px) calc(0.5 * 1920px);
    }
    main {
        transform: translateX(calc(calc(var(--_feat-tX) * -1%) + 50%))
        translateY(calc(calc(var(--_feat-tY) * -1%) + 50%))
        scaleX(calc(calc(var(--_feat-sX) * 0.01) + 0.0))
        scaleY(calc(calc(var(--_feat-sY) * 0.01) + 0.0))
        rotateX(calc(calc(var(--_feat-rY) * 3.6deg) - 180deg))
        rotateY(calc(calc(var(--_feat-rX) * 3.6deg) - 180deg));
    }
</style>
{%endblock%}
{%block body%}
<main>
    <iframe id="feature-embed"
            frameborder="0"
            allowfullscreen="true"
            scrolling="no"
            height="100%"
            width="100%">
    </iframe>
</main>
{%endblock%}
{%block scripts%}
<script defer>
    document.addEventListener("DOMContentLoaded", () => cssDevWatch());
    document.addEventListener("DOMContentLoaded", () => iframeDetect());
    document.addEventListener("DOMContentLoaded", () => socketConnect());
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => socketWatchStyle((payload) => {
        let style = payload.split('style:set:')[1];
        document.head.querySelector('#public_module_styles').innerHTML = `:root{${style};}`;

    }));
    document.addEventListener("DOMContentLoaded", () => socketWatchFeatureSet((payload) => {
        if ('#edit' === window.location.hash) return;
        const urlParams = new URLSearchParams(window.location.search);
        const streamerQueryParam = urlParams.get('featuredName');
        const featuredName = payload.split(':').pop();
        const isOpen = (streamerQueryParam === featuredName);
        if (isOpen) {
            try {
                (!'#featuredNameLock' == window.location.hash) && document.documentElement.remove();
            } catch (e) {
                window.location.reload();
            }
        } else {
            getURL(`${window.location.origin}${window.location.pathname}?featuredName=${featuredName}`);
        }
    }));
    document.addEventListener("DOMContentLoaded", () => {
        if ('#edit' === window.location.hash) return;
        const urlParams = new URLSearchParams(window.location.search);
        const streamerQueryParam = urlParams.get('featuredName');
        if (!streamerQueryParam) {
            console.log('embed-feature :: no streamer found');
        } else {
            const URL = `https://player.twitch.tv/?channel=${streamerQueryParam}&parent=localhost&muted=false`;
            const twitchEmbed = document.body.querySelector('#feature-embed');
            twitchEmbed.src = URL;
        }
    });
</script>
{%endblock%}