{%extends "main.njk"%}
{%block cdn%}{%endblock%}
{%block client%}{%endblock%}}
{%block body%}{%endblock%}}
{%block head%}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js?{{cacheBuster}}" type="text/javascript" crossorigin="anonymous" defer></script>
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js?{{cacheBuster}}" type="text/javascript" crossorigin="anonymous" defer></script>
<script src="../client/script/iframe_detect.js?{{cacheBuster}}" type="text/javascript" defer></script>
<script src="../client/script/socket.js?{{cacheBuster}}" type="text/javascript" defer></script>
{%include "_style.njk"%}
{%endblock%}
{%block scripts%}
<script defer>
    document.addEventListener("DOMContentLoaded", () => iframeDetect());
    document.addEventListener("DOMContentLoaded", () => socketConnect());
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => socketWatchSoundSet((payload) => {
        console.log('socketWatchSoundSet :: ', payload);
        try {
            new Audio("/.media/" + payload.split(":")[1] + ".mp3").play();
        } catch (e) {
            console.log('socketWatchSoundSet :: error', e);
        }
    }));
</script>
{%endblock%}