{%extends "main.njk"%}
{%block cdn%}{%endblock%}
{%block client%}{%endblock%}}
{%block head%}
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" type="text/javascript" defer></script>
<script crossorigin="anonymous" src="https://cdn.socket.io/4.0.0/socket.io.min.js" type="text/javascript" defer></script>
<script defer src="../client/script/iframe_detect.js?{{cacheBuster}}" type="text/javascript"></script>
<script defer src="../client/script/socket.js?{{cacheBuster}}" type="text/javascript"></script>
<link rel="stylesheet" href="../client/style/base.css?{{cacheBuster}}">
<link rel="stylesheet" href="../client/style/reset.css?{{cacheBuster}}">
<link rel="stylesheet" href="../client/style/iframe.css?{{cacheBuster}}">
<style>
    iframe {
        width: 100vw;
        height: 100vh;
    }
    main {
        width: 100vw;
        height: 100vh;
    }
</style>
{%endblock%}
{%block body%}
<main>
    <iframe src="{{public_routes.PANEL_FEATURE_EMBED}}"></iframe>
    <iframe src="{{public_routes.PANEL_BPM_EMBED}}"></iframe>
    <iframe src="{{public_routes.PANEL_DRAW_EMBED}}"></iframe>
    <iframe src="{{public_routes.PANEL_SOUND_EMBED}}"></iframe>
    <iframe src="{{public_routes.PANEL_MEDIA_EMBED}}"></iframe>
</main>
{%endblock%}
{%block scripts%}
<script defer>
    document.addEventListener("DOMContentLoaded", () => iframeDetect());
    document.addEventListener("DOMContentLoaded", () => socketConnect());
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
</script>
{%endblock%}