{%extends "main.njk"%}
{%set public_routes = 'public_routes'|getParam%}
{%block cdn%}{%endblock%}
{%block client%}{%endblock%}}
{%block head%}
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js?{{''|cacheBuster}}" type="text/javascript" defer></script>
<script crossorigin="anonymous" src="https://cdn.socket.io/4.0.0/socket.io.min.js?{{''|cacheBuster}}" type="text/javascript" defer></script>
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js?{{''|cacheBuster}}" type="text/javascript" defer></script>
{{ '<link href="../client/style/index.css?" rel="stylesheet">' | inlineScriptContents | safe }}
{{ '<script src="../client/script/reduced_motion.js?" type="text/javascript" defer></script>' | inlineScriptContents | safe }}
{%include "_style.njk"%}
{%endblock%}
{%block body%}
<main>
    <iframe src="https://{{ 'device_ip' | getParam }}{{public_routes.PANEL_LAYOUT}}" allow="fullscreen; autoplay; camera; microphone; geolocation; encrypted-media; display-capture; clipboard-read; clipboard-write; payment; accelerometer; gyroscope; magnetometer; xr-spatial-tracking"></iframe>
    <iframe src="https://{{ 'device_ip' | getParam }}{{public_routes.PANEL_DASHBOARD}}" allow="fullscreen; autoplay; camera; microphone; geolocation; encrypted-media; display-capture; clipboard-read; clipboard-write; payment; accelerometer; gyroscope; magnetometer; xr-spatial-tracking"></iframe>
    <iframe src="https://{{ 'device_ip' | getParam }}{{public_routes.PANEL_ACTIONS}}" allow="fullscreen; autoplay; camera; microphone; geolocation; encrypted-media; display-capture; clipboard-read; clipboard-write; payment; accelerometer; gyroscope; magnetometer; xr-spatial-tracking"></iframe>
    <iframe src="https://{{ 'device_ip' | getParam }}{{public_routes.PANEL_DRAW}}" allow="fullscreen; autoplay; camera; microphone; geolocation; encrypted-media; display-capture; clipboard-read; clipboard-write; payment; accelerometer; gyroscope; magnetometer; xr-spatial-tracking"></iframe>
</main>
{%endblock%}
{%block scripts%}
{{ '<script src="../client/script/socket.js?" type="text/javascript" defer></script>' | inlineScriptContents | safe }}
{{ '<script src="../client/script/detect_press_hold.js?" type="text/javascript" defer></script>' | inlineScriptContents | safe }}
{{ '<script src="../client/script/debounce_function.js?" type="text/javascript" defer></script>' | inlineScriptContents | safe }}
<script defer>
    document.addEventListener("DOMContentLoaded", () => reducedMotion());
    document.addEventListener("DOMContentLoaded", () => socketConnect());
    document.addEventListener("DOMContentLoaded", () => socketWatchPathRequest((data) => {
        const currentPath = data;
        const iframeEl = Array.from(document.body.querySelectorAll(`iframe[src="${currentPath}"]`))[0];
        const indexOf = Array.from(document.body.querySelectorAll("iframe")).indexOf(iframeEl);
        const vw = parseFloat(getComputedStyle(document.documentElement).getPropertyValue('--index-grid-cell-width'));
        const vh = parseFloat(getComputedStyle(document.documentElement).getPropertyValue('--index-grid-cell-height'));
        const translateValues = [
            {translateX: `${1 * vw}vw`, translateY: `${0 * vh}vh`},
            {translateX: `${0 * vw}vw`, translateY: `${0 * vh}vh`},
            {translateX: `${-1 * vw}vw`, translateY: `${0 * vh}vh`},
            {translateX: `${0 * vw}vw`, translateY: `${1 * vh}vh`},
        ];
        const {translateX, translateY} = translateValues[indexOf];
        !document.documentElement.classList.contains('reduced-motion') && anime({
            targets: 'main',
            translateX: translateX,
            translateY: translateY,
            duration: 333,
            easing: 'linear',
        });
    }));
</script>
{%endblock%}