<!DOCTYPE html>
<html lang="en">
<head>
    <title>OS</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="keyword">
    <meta name="viewport" content="width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" href="/icon512_rounded.png" type="image/png">
    <link rel="manifest" href="./manifest.json">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.5.1/dist/axios.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="../client/script/socket.js?" defer type="text/javascript"></script>
    <script src="../client/script/reduced_motion.js?" defer type="text/javascript"></script>
    <script src="../client/script/get_path.js?" defer type="text/javascript"></script>
    <link href="../client/style/index.css?" rel="stylesheet">
    <meta name="INDEX" content="index.html">
    <meta name="PANEL_DASHBOARD" content="panel-dashboard.html">
    <meta name="PANEL_ACTIONS" content="panel-actions.html">
    <meta name="PANEL_LAYOUT" content="panel-layout.html">
    <meta name="PANEL_DRAW" content="panel-draw.html">
    <meta name="PANEL_EMBED" content="embed.html">
    <meta name="PANEL_FEATURE_EMBED" content="embed-feature.html">
    <meta name="PANEL_MEDIA_EMBED" content="embed-media.html">
    <meta name="PANEL_DRAW_EMBED" content="embed-draw.html">
    <meta name="PANEL_SOUND_EMBED" content="embed-sound.html">
    <meta name="API_STYLE_GET" content="https://api.dbdbdbdbdbgroup.com/demo/api/style/get">
    <meta name="API_CONFIG_GET" content="https://api.dbdbdbdbdbgroup.com/demo/api/config/get">
    <meta name="API_SIGNAL_CREATE" content="https://api.dbdbdbdbdbgroup.com/demo/api/signal/create">
    <meta name="API_CONFIG_UPDATE" content="https://api.dbdbdbdbdbgroup.com/demo/api/config/update">
    <meta name="API_STYLE_UPDATE" content="https://api.dbdbdbdbdbgroup.com/demo/api/style/update">
    <meta name="API_MEDIA_UPDATE" content="https://api.dbdbdbdbdbgroup.com/demo/api/media/update">
    <meta name="TWITCH_LOGIN" content="https://api.dbdbdbdbdbgroup.com/demo/t/w/i/t/c/h/l/o/g/i/n/">
    <meta name="TWITCH_LOGIN_SUCCESS" content="https://api.dbdbdbdbdbgroup.com/t/w/i/t/c/h/l/o/g/i/n/s/u/c/c/e/s/s/">
    <style id="public_module_styles"></style>
</head>
<body>
<main>
    <iframe></iframe>
    <iframe></iframe>
    <iframe></iframe>
    <iframe></iframe>
</main>
<script>
    document.addEventListener("DOMContentLoaded", () => reducedMotion());
    document.addEventListener("DOMContentLoaded", () => socketConnect());
    document.addEventListener("DOMContentLoaded", () => socketWatchRoute((payload)=>{
        if(payload.startsWith('browser:route:')){
            const currentPath =  payload.split('browser:route:')[1];
            const iframeEl = Array.from(document.body.querySelectorAll(`iframe[src="${currentPath}"]`))[0];
            const indexOf = Array.from(document.body.querySelectorAll("iframe")).indexOf(iframeEl);
            if(indexOf === -1) return;
            const vw = parseFloat(getComputedStyle(document.documentElement).getPropertyValue('--index-grid-cell-width'));
            const vh = parseFloat(getComputedStyle(document.documentElement).getPropertyValue('--index-grid-cell-height'));
            const translateValues = [
                {translateX: `${-1 * vw}vw`, translateY: `${0 * vh}vh`},
                {translateX: `${0 * vw}vw`, translateY: `${0 * vh}vh`},
                {translateX: `${1 * vw}vw`, translateY: `${0 * vh}vh`},
                {translateX: `${0 * vw}vw`, translateY: `${1 * vh}vh`},
            ];
            const {translateX, translateY} = translateValues[indexOf];
            if(document.documentElement.classList.contains('reduced-motion')){
                anime({
                    targets: 'main',
                    translateX: translateX,
                    translateY: translateY,
                    duration: 1,
                    easing: 'linear',
                });
            }else{
                anime({
                    targets: 'main',
                    translateX: translateX,
                    translateY: translateY,
                    duration: 333,
                    easing: 'linear',
                });
            }
        }
    }));
    document.addEventListener("DOMContentLoaded", () => {
        document.body.querySelectorAll('iframe')[0].src = getPath('PANEL_LAYOUT');
        document.body.querySelectorAll('iframe')[1].src = getPath('PANEL_DASHBOARD');
        document.body.querySelectorAll('iframe')[2].src = getPath('PANEL_ACTIONS');
        document.body.querySelectorAll('iframe')[3].src = getPath('PANEL_DRAW');
    });
</script>
</body>
</html>