<!DOCTYPE html>
{%set public_routes = "public_routes"|getParam%}
{%set device_ip = "device_ip"|getParam%}
<html lang="en">
<head>
    <title>OS</title>
    <meta charset="UTF-8">
    <meta name="description" content="This is a description.">
    <meta name="referrer" content="unsafe-url">
    <meta name="keywords" content="keyword">
    <meta name="viewport" content="width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" href="/icon512_rounded.png" type="image/png">
    <link rel="manifest" href="/manifest.json">
    <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js?" type="text/javascript" defer></script>
    <script crossorigin="anonymous" src="https://cdn.socket.io/4.0.0/socket.io.min.js?" type="text/javascript" defer></script>
    <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js?" type="text/javascript" defer></script>
    <script src="../client/script/socket.js?" defer type="text/javascript"></script>
    <script src="../client/script/reduced_motion.js?" defer type="text/javascript"></script>
    <link href="../client/style/index.css?" rel="stylesheet">
</head>
<body>
<main>
    <iframe src="https://{{device_ip}}{{public_routes.PANEL_LAYOUT}}"></iframe>
    <iframe src="https://{{device_ip}}{{public_routes.PANEL_DASHBOARD}}"></iframe>
    <iframe src="https://{{device_ip}}{{public_routes.PANEL_ACTIONS}}"></iframe>
    <iframe src="https://{{device_ip}}{{public_routes.PANEL_DRAW}}"></iframe>
</main>
<script defer>
    document.addEventListener("DOMContentLoaded", () => reducedMotion());
    document.addEventListener("DOMContentLoaded", () => socketConnect());
    document.addEventListener("DOMContentLoaded", () => socketWatchRoute((payload)=>{
        if(payload.startsWith('browser:route:')){
            const currentPath =  payload.split('browser:route:')[1];
            const iframeEl = Array.from(document.body.querySelectorAll(`iframe[src="${currentPath}"]`))[0];
            const indexOf = Array.from(document.body.querySelectorAll("iframe")).indexOf(iframeEl);
            const vw = parseFloat(getComputedStyle(document.documentElement).getPropertyValue('--index-grid-cell-width'));
            const vh = parseFloat(getComputedStyle(document.documentElement).getPropertyValue('--index-grid-cell-height'));
            const translateValues = [
                {translateX: `${-1 * vw}vw`, translateY: `${0 * vh}vh`},
                {translateX: `${0 * vw}vw`, translateY: `${0 * vh}vh`},
                {translateX: `${1 * vw}vw`, translateY: `${0 * vh}vh`},
                {translateX: `${0 * vw}vw`, translateY: `${1 * vh}vh`},
            ];
            const {translateX, translateY} = translateValues[indexOf];
            !document.documentElement.classList.contains('reduced-motion') && anime({
                targets: 'main',
                translateX: translateX,
                translateY: translateY,
                duration: 333,
                easing: 'linear',
            });
        }
    }));
</script>
</body>
</html>