<!--  -->
<script src="../client/script/css_dev_watch.js?" defer type="text/javascript"></script>
<script src="../client/script/reduced_motion.js?" defer type="text/javascript"></script>
<script src="../client/script/get_url.js?" defer type="text/javascript"></script>
<script src="../client/script/get_path.js?" defer type="text/javascript"></script>
<script src="../client/script/generate_qr_code.js?" defer type="text/javascript"></script>
<script src="../client/script/generate_copy_link.js?" defer type="text/javascript"></script>
<script src="../client/script/controls.js?" defer type="text/javascript"></script>
<script src="../client/script/socket.js?" defer type="text/javascript"></script>
<script src="../client/script/scroll_snap.js?" defer type="text/javascript"></script>
<script src="../client/script/variables.js?" defer type="text/javascript"></script>
<script src="../client/script/iframe_detect.js?" defer type="text/javascript"></script>
<link href="../client/style/variables.css?" rel="stylesheet">
<link href="../client/style/reset.css?" rel="stylesheet">
<link href="../client/style/base.css?" rel="stylesheet">
<link href="../client/style/scrollbar.css?" rel="stylesheet">
<link href="../client/style/controls.css?" rel="stylesheet">
<link href="../client/style/dialog.css?" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/qrcode@1.5.1/build/qrcode.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
{% for key, value in public_routes%}
<meta name="{{ key }}" content="https://device_ip' | getParam }}{{ value }}">
{% endfor %}
<!--  -->