{%extends "main.njk"%}
{%set public_routes = "public_routes"|getParam%}
{%block head%}
{{ '
<link href="../client/style/draw.css?" rel="stylesheet">' | inlineScriptContents | safe }}
<style>
    :root {
        --range-rotation-deg: 0;
    }

    section button {
        transition: opacity 100ms ease-out;
    }

    section button:nth-of-type(2)::before {
        transition: rotateZ 2000ms ease-in-out;
        transform: rotateZ(var(--range-rotation-deg));
    }
</style>
{%endblock%}
{%block body%}
<section>
    <canvas></canvas>
    <input type="range" min="0" max="1000" value="0" disabled>
    <button aria-label="🌀"></button>
    <button disabled aria-label="🚀" disabled></button>
    <button disabled aria-label="🧼" disabled></button>
</section>
{%endblock%}
{%block scripts%}
<script defer>
    document.addEventListener("DOMContentLoaded", () => cssDevWatch());
    document.addEventListener("DOMContentLoaded", () => reducedMotion());
    document.addEventListener("DOMContentLoaded", () => iframeDetect());
    document.addEventListener("DOMContentLoaded", () => socketConnect());
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => initHomeControls());
    document.addEventListener("DOMContentLoaded", () => draw());
</script>
{%endblock%}