<!DOCTYPE html>
<html lang="en">
<head>
    <title>Layout</title>
    <meta charset="UTF-8">
    <link rel="icon" href="/icon512_rounded.png" type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.5.1/dist/axios.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/qrcode@1.5.1/build/qrcode.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="../client/script/css_dev_watch.js?" defer type="text/javascript"></script>
    <script src="../client/script/reduced_motion.js?" defer type="text/javascript"></script>
    <script src="../client/script/get_url.js?" defer type="text/javascript"></script>
    <script src="../client/script/get_path.js?" defer type="text/javascript"></script>
    <script src="../client/script/generate_qr_code.js?" defer type="text/javascript"></script>
    <script src="../client/script/generate_copy_link.js?" defer type="text/javascript"></script>
    <script src="../client/script/controls.js?" defer type="text/javascript"></script>
    <script src="../client/script/socket.js?" defer type="text/javascript"></script>
    <script src="../client/script/scroll_snap.js?" defer type="text/javascript"></script>
    <script src="../client/script/variables.js?" defer type="text/javascript"></script>
    <script src="../client/script/iframe_detect.js?" defer type="text/javascript"></script>
    <script src="../client/script/layout.js?" defer type="text/javascript"></script>
    <link href="../client/style/variables.css?" rel="stylesheet">
    <link href="../client/style/reset.css?" rel="stylesheet">
    <link href="../client/style/base.css?" rel="stylesheet">
    <link href="../client/style/scrollbar.css?" rel="stylesheet">
    <link href="../client/style/controls.css?" rel="stylesheet">
    <link href="../client/style/dialog.css?" rel="stylesheet">
    <link href="../client/style/layout.css?" rel="stylesheet">
    <meta name="INDEX" content="index.html">
    <meta name="PANEL_DASHBOARD" content="panel-dashboard.html">
    <meta name="PANEL_ACTIONS" content="panel-actions.html">
    <meta name="PANEL_LAYOUT" content="panel-layout.html">
    <meta name="PANEL_DRAW" content="panel-draw.html">
    <meta name="PANEL_EMBED" content="embed.html">
    <meta name="PANEL_FEATURE_EMBED" content="embed-feature.html">
    <meta name="PANEL_MEDIA_EMBED" content="embed-media.html">
    <meta name="PANEL_DRAW_EMBED" content="embed-draw.html">
    <meta name="PANEL_FIELD_EMBED" content="embed-field.html">
    <meta name="PANEL_SOUND_EMBED" content="embed-sound.html">
    <meta name="API_STYLE_GET" content="https://api.dbdbdbdbdbgroup.com/demo/api/style/get">
    <meta name="API_CONFIG_GET" content="https://api.dbdbdbdbdbgroup.com/demo/api/config/get">
    <meta name="API_SIGNAL_CREATE" content="https://api.dbdbdbdbdbgroup.com/demo/api/signal/create">
    <meta name="API_CONFIG_UPDATE" content="https://api.dbdbdbdbdbgroup.com/demo/api/config/update">
    <meta name="API_STYLE_UPDATE" content="https://api.dbdbdbdbdbgroup.com/demo/api/style/update">
    <meta name="API_MEDIA_UPDATE" content="https://api.dbdbdbdbdbgroup.com/demo/api/media/update">
    <meta name="TWITCH_LOGIN" content="https://api.dbdbdbdbdbgroup.com/demo/t/w/i/t/c/h/l/o/g/i/n/">
    <meta name="TWITCH_LOGIN_SUCCESS" content="https://api.dbdbdbdbdbgroup.com/t/w/i/t/c/h/l/o/g/i/n/s/u/c/c/e/s/s/">
    <style id="public_module_styles"></style>
</head>
<body>
    <section>
        <article>
            <div class="preview">
                <iframe style="z-index: var(--_feat-layer)" name="_feat" width="1920" height="1080"></iframe>
                <iframe style="z-index: var(--_med-layer)" name="_med" width="1920" height="1080"></iframe>
                <iframe style="z-index: var(--_draw-layer)" name="_draw" width="1920" height="1080"></iframe>
            </div>
            <div class="layers">
                <div>
                    <input type="radio" name="layer" id="_feat"/>
                    <label for="_feat" aria-label="..."></label>
                </div>
                <div>
                    <input type="radio" name="layer" id="_draw"/>
                    <label for="_draw" aria-label="..."></label>
                </div>
                <div>
                    <input type="radio" name="layer" id="_med"/>
                    <label for="_med" aria-label="..."></label>
                </div>
            </div>
            <div class="effects">
                <button aria-label="🔗️"></button>
                <button aria-label="🎯"></button>
            </div>
            <div class="controls">
                <label>
                    <input type="range" min="0" max="200" step="1.0" value="50" name="--_feat-tX"/>
                    <input type="range" min="0" max="200" step="1.0" value="50" name="--_feat-tY"/>
                    <input type="range" min="0" max="200" step="1.0" value="50" name="--_feat-sX"/>
                    <input type="range" min="0" max="200" step="1.0" value="50" name="--_feat-sY"/>
                    <input type="range" min="0" max="200" step="2.5" value="100" name="--_feat-rX"/>
                    <input type="range" min="0" max="200" step="2.5" value="100" name="--_feat-rY"/>
                    <input type="range" min="0" max="200" step="1.0" value="200" name="--_feat-o"/>
                    <input type="range" min="0" max="200" step="1.0" value="200" name="--_feat-o"/>
                    <input type="range" min="0" max="800" step="2.5" value="100" name="--_feat-pZ"/>
                    <input type="range" min="0" max="800" step="2.5" value="100" name="--_feat-pZ"/>
                    <input type="range" min="0" max="200" step="1.0" value="50" name="--_draw-tX"/>
                    <input type="range" min="0" max="200" step="1.0" value="50" name="--_draw-tY"/>
                    <input type="range" min="0" max="200" step="1.0" value="50" name="--_draw-sX"/>
                    <input type="range" min="0" max="200" step="1.0" value="50" name="--_draw-sY"/>
                    <input type="range" min="0" max="200" step="2.5" value="100" name="--_draw-rX"/>
                    <input type="range" min="0" max="200" step="2.5" value="100" name="--_draw-rY"/>
                    <input type="range" min="0" max="200" step="1.0" value="200" name="--_draw-o"/>
                    <input type="range" min="0" max="200" step="1.0" value="200" name="--_draw-o"/>
                    <input type="range" min="0" max="800" step="2.5" value="100" name="--_draw-pZ"/>
                    <input type="range" min="0" max="800" step="2.5" value="100" name="--_draw-pZ"/>
                    <input type="range" min="0" max="200" step="1.0" value="50" name="--_med-tX"/>
                    <input type="range" min="0" max="200" step="1.0" value="50" name="--_med-tY"/>
                    <input type="range" min="0" max="200" step="1.0" value="50" name="--_med-sX"/>
                    <input type="range" min="0" max="200" step="1.0" value="50" name="--_med-sY"/>
                    <input type="range" min="0" max="200" step="2.5" value="100" name="--_med-rX"/>
                    <input type="range" min="0" max="200" step="2.5" value="100" name="--_med-rY"/>
                    <input type="range" min="0" max="200" step="1.0" value="200" name="--_med-o"/>
                    <input type="range" min="0" max="200" step="1.0" value="200" name="--_med-o"/>
                    <input type="range" min="0" max="800" step="2.5" value="100" name="--_med-pZ"/>
                    <input type="range" min="0" max="800" step="2.5" value="100" name="--_med-pZ"/>
                </label>
            </div>
            <div class="modes">
                <input type="radio" name="modes" id="opacity"/>
                <label for="opacity" aria-label="🕶️"></label>

                <input type="radio" name="modes" id="translate"/>
                <label for="translate" aria-label="🚂"></label>

                <input type="radio" name="modes" id="scale"/>
                <label for="scale" aria-label="📐"></label>

                <input type="radio" name="modes" id="rotate"/>
                <label for="rotate" aria-label="🧊"></label>

                <input type="radio" name="modes" id="pivot"/>
                <label for="pivot" aria-label="🌀"></label>

                <input type="checkbox" name="reorder" id="reorder"/>
                <label for="reorder" aria-label="🔃"></label>
            </div>
        </article>
    </section>
    <nav class="left">
        <button aria-label="🧮"></button>
    </nav>
    <dialog id="qr-dialog">
        <h2 aria-label="Embed Link"></h2>
        <h3 aria-label="Use this link as a source input"></h3>
        <canvas data-url="https://localhost{{public_routes.PANEL_EMBED}}"></canvas>
        <button data-url="https://localhost{{public_routes.PANEL_EMBED}}" aria-label="Click to Copy Link!" data-click-text="Link Copied!"></button>
        <button aria-label="✅Done" onclick="javascript:document.body.querySelector('#qr-dialog').close();"></button>
    </dialog>
    <script>
        document.addEventListener("DOMContentLoaded", () => cssDevWatch());
        document.addEventListener("DOMContentLoaded", () => reducedMotion());
        document.addEventListener("DOMContentLoaded", () => iframeDetect());
        document.addEventListener("DOMContentLoaded", () => socketConnect());
        document.addEventListener("DOMContentLoaded", () => socketWatchReload());
        document.addEventListener("DOMContentLoaded", () => generateCopyLink(document.body.querySelector("#qr-dialog button[data-url]")));
        document.addEventListener("DOMContentLoaded", () => generateQrCode(
            document.body.querySelector("#qr-dialog canvas"),
            document.body.querySelector("#qr-dialog canvas").getAttribute("data-url"),
        ));
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelector('dialog button:last-of-type').addEventListener('click', () => document.body.querySelector('#qr-dialog').close())
        });
        document.addEventListener("DOMContentLoaded", () => {
            const processStyle = (style) => {
                document.head.querySelector('#public_module_styles').innerHTML = `:root{${style};}`;
                console.log(`processStyle :: set ${style}`);
                setModes();
            };
            const res = axios.get(getPath("API_STYLE_GET"));
            res.then((res) => processStyle(res.data));
            res.catch((error) => console.log("API_STYLE_GET :: error:", error.response.data));
            res.finally(_ => console.info("API_STYLE_GET :: complete"));
        });
        document.addEventListener("DOMContentLoaded", () => {
            const processConfig = (signals) => {

                const media = signals.filter(s => s.type === "media");
                const feature = signals.filter(s => s.type === "feature");

                document.querySelector('section article .layers div:nth-of-type(1) label').setAttribute('aria-label', feature[0].label);
                document.querySelector('section article .layers div:nth-of-type(2) label').setAttribute('aria-label', media[0].label);
                document.querySelector('section article .layers div:nth-of-type(3) label').setAttribute('aria-label', "draw");

                document.querySelector('iframe:nth-of-type(1)').src = `${getPath('PANEL_FEATURE_EMBED')}?featuredName=${feature[0].label}#edit`;
                document.querySelector('iframe:nth-of-type(2)').src = `${getPath('PANEL_MEDIA_EMBED')}?featuredMedia=${media[0].description}#edit`;
                document.querySelector('iframe:nth-of-type(3)').src = `${getPath('PANEL_DRAW_EMBED')}`;

                console.log('socketWatchConfig :: set', signals);
            };
            const fetchConfig = ()=>{
                const res = axios.get(getPath("API_CONFIG_GET"));
                res.then((res) => processConfig(res.data));
                res.catch((error) => console.log("API_CONFIG_GET :: error:", error.response.data));
                res.finally(_ => console.info("API_CONFIG_GET :: complete"));
            };
            fetchConfig();
        });
        document.addEventListener("DOMContentLoaded", () => scrollSnap(document.body.querySelector("body > section")));
        document.addEventListener("DOMContentLoaded", () => initHomeControls());
        document.addEventListener("DOMContentLoaded", () => generateCopyLink(document.body.querySelector("#qr-dialog button[data-url]")));
        document.addEventListener("DOMContentLoaded", () => generateQrCode(
            document.body.querySelector("#qr-dialog canvas"),
            document.body.querySelector("#qr-dialog canvas").getAttribute("data-url"),
        ));
        document.addEventListener("DOMContentLoaded", () => setCssVariable('.preview', 'width', '--js-module-preview-width'));
        document.addEventListener("DOMContentLoaded", () => initializeLayoutClickTouch());
        document.addEventListener("DOMContentLoaded", () => enableRadioButtons());
        document.addEventListener("DOMContentLoaded", () => {
            const updateTransform = () => {
                const {width} = document.querySelector('.preview').getBoundingClientRect();
                document.querySelectorAll('iframe').forEach(iframe => {
                    iframe.style.transform = `scale(${width / 1920})`;
                });
            };
            window.addEventListener('orientationchange', updateTransform);
            window.addEventListener('resize', updateTransform);
            updateTransform();
        });
    </script>
</body>
</html>