{%extends "main.njk"%}
{%set public_routes = 'public_routes'|getParam%}
{%block head%}
{{ '<link href="../client/style/actions.css?" rel="stylesheet">' | inlineScriptContents | safe }}
{%endblock%}
{%block body%}
<section>

        {%set feature_title_set = false%}
        {%for signal in "dashboard_signals_config"|getParam%}
        {%if signal.type == "announce"%}
        {%if not feature_title_set%}{%set feature_title_set = true%}
        <div class="{{signal.theme}}" aria-label="Announce"></div>
        {%endif%}
        <div class="{{signal.theme}}">
            <label id="{{loop.index0}}">
                <button aria-label="{{signal.emoji}}"></button>
                <input type="text" value="{{signal.label}}"/>
                <button disabled></button>
                <button disabled></button>
                <button aria-label="{{signal.visibility}}"></button>
                <textarea value="{{signal.description}}">{{signal.description}}</textarea>
            </label>
        </div>
        {%endif%}
        {%endfor%}
        {%set feature_title_set = false%}
        {%for signal in "dashboard_signals_config"|getParam%}
        {%if signal.type == "media"%}
        {%if not feature_title_set%}{%set feature_title_set = true%}
        <div class="{{signal.theme}}" aria-label="Media"></div>
        {%endif%}
        <div class="{{signal.theme}}">
            <label id="{{loop.index0}}">
                <button aria-label="{{signal.emoji}}"></button>
                <input type="text" value="{{signal.label}}"/>
                <button aria-label="⬆" id="{{signal.description}}"></button>
                <button aria-label="🔍"></button>
                <button aria-label="{{signal.visibility}}"></button>
                <img />
            </label>
        </div>
        {%endif%}
        {%endfor%}
        {%set feature_title_set = false%}
        {%for signal in "dashboard_signals_config"|getParam%}
        {%if signal.type == "sound"%}
        {%if not feature_title_set%}{%set feature_title_set = true%}
        <div class="{{signal.theme}}" aria-label="Sound"></div>
        {%endif%}
        <div class="{{signal.theme}}">
            <label id="{{loop.index0}}">
                <button aria-label="{{signal.emoji}}"></button>
                <input type="text" value="{{signal.label}}"/>
                <button aria-label="⬆" id="{{signal.description}}"></button>
                <button aria-label="🎶"></button>
                <button aria-label="{{signal.visibility}}"></button>
            </label>
        </div>
        {%endif%}
        {%endfor%}
        {%set feature_title_set = false%}
        {%for signal in "dashboard_signals_config"|getParam%}
        {%if signal.type == "feature"%}
        {%if not feature_title_set%}{%set feature_title_set = true%}
        <div class="{{signal.theme}}" aria-label="Feature"></div>
        {%endif%}
        <div class="{{signal.theme}}">
            <label id="{{loop.index0}}">
                <button aria-label="{{signal.emoji}}"></button>
                <input type="text" value="{{signal.label}}"/>
                <button disabled></button>
                <button disabled></button>
                <button aria-label="{{signal.visibility}}"></button>
            </label>
        </div>
        {%endif%}
        {%endfor%}
        {%set feature_title_set = false%}
        {%for signal in "dashboard_signals_config"|getParam%}
        {%if signal.type == "mark"%}
        {%if not feature_title_set%}{%set feature_title_set = true%}
        <div class="{{signal.theme}}" aria-label="Mark"></div>
        {%endif%}
        <div class="{{signal.theme}}">
            <label id="{{loop.index0}}">
                <button aria-label="{{signal.emoji}}"></button>
                <input type="text" value="{{signal.label}}"/>
                <button disabled></button>
                <button disabled></button>
                <button aria-label="{{signal.visibility}}"></button>
            </label>
        </div>
        {%endif%}
        {%endfor%}
        {%set feature_title_set = false%}
        {%for signal in "dashboard_signals_config"|getParam%}
        {%if signal.type == "ad"%}
        {%if not feature_title_set%}{%set feature_title_set = true%}
        <div class="{{signal.theme}}" aria-label="Ad"></div>
        {%endif%}
        <div class="{{signal.theme}}">
            <label id="{{loop.index0}}">
                <button aria-label="{{signal.emoji}}"></button>
                <input type="text" value="{{signal.label}}" disabled/>
                <button disabled></button>
                <button disabled></button>
                <button aria-label="{{signal.visibility}}"></button>
            </label>
        </div>
        {%endif%}
        {%endfor%}
        {%set feature_title_set = false%}
        {%for signal in "dashboard_signals_config"|getParam%}
        {%if signal.type == "bpm"%}
        {%if not feature_title_set%}{%set feature_title_set = true%}
        <div class="{{signal.theme}}" aria-label="BPM"></div>
        {%endif%}
        <div class="{{signal.theme}}">
            <label id="{{loop.index0}}">
                <button aria-label="{{signal.emoji}}"></button>
                <input type="text" value="{{signal.label}}"/>
                <button disabled></button>
                <button disabled></button>
                <button aria-label="{{signal.visibility}}"></button>
            </label>
        </div>
        {%endif%}
        {%endfor%}

</section>
{%include "_home.njk"%}
{%endblock%}
{%block dialogs%}
{%set device_ip = "device_ip"|getParam%}
<dialog id="qr-dialog">
    <h2 aria-label="Dashboard Link"></h2>
    <h3 aria-label="This link will open the dashboard on any device on your network."></h3>
    <canvas data-url="https://{{ 'device_ip' | getParam }}"></canvas>
    <button data-url="https://{{ 'device_ip' | getParam }}" aria-label="Click to Copy Link!" data-click-text="Link Copied!"></button>
    <button onclick="javascript:document.body.querySelector('#qr-dialog').close();" aria-label="✅Done" ></button>
</dialog>
{%include "_emoji.njk"%}
{%endblock%}
{%block scripts%}
<script defer>
    document.addEventListener("DOMContentLoaded", () => cssDevWatch());
    document.addEventListener("DOMContentLoaded", () => reducedMotion());
    document.addEventListener("DOMContentLoaded", () => iframeDetect());
    document.addEventListener("DOMContentLoaded", () => socketConnect());
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => autoSizeInput());
    document.addEventListener("DOMContentLoaded", () => scrollSnap(document.body.querySelector("body > section")));
    document.addEventListener("DOMContentLoaded", () => generateCopyLink(document.body.querySelector("#qr-dialog button[data-url]")));
    document.addEventListener("DOMContentLoaded", () => generateQrCode(
        document.body.querySelector("#qr-dialog canvas"),
        document.body.querySelector("#qr-dialog canvas").getAttribute("data-url"),
    ));
    document.addEventListener("DOMContentLoaded", () => actions());
</script>
{%endblock%}