{%extends "main.njk"%}
{%set public_routes = 'public_routes'|getParam%}
{%block head%}
<link rel="stylesheet" href="../client/style/settings.css?{{cacheBuster}}">
{%endblock%}
{%block body%}
<section class="settings">
    <ul>
        {%set feature_title_set = false%}
        {%for signal in "dashboard_signals_config"|getParam%}
        {%if signal.type == "feature"%}
        {%if not feature_title_set%}{%set feature_title_set = true%}
        <li class="settings-header {{signal.theme}}" aria-label="Featured"></li>
        {%endif%}
        <li>
            <label class="{{signal.theme}}" id="{{loop.index0}}">
                <button aria-label="{{signal.emoji}}"></button>
                <input type="text" value="{{signal.label}}"/>
            </label>
        </li>
        {%endif%}
        {%endfor%}
        {%set feature_title_set = false%}
        {%for signal in "dashboard_signals_config"|getParam%}
        {%if signal.type == "mark"%}
        {%if not feature_title_set%}{%set feature_title_set = true%}
        <li class="settings-header {{signal.theme}}" aria-label="Markers"></li>
        {%endif%}
        <li>
            <label class="{{signal.theme}}" id="{{loop.index0}}">
                <button aria-label="{{signal.emoji}}"></button>
                <input type="text" value="{{signal.label}}"/>
            </label>
        </li>
        {%endif%}
        {%endfor%}
        {%set feature_title_set = false%}
        {%for signal in "dashboard_signals_config"|getParam%}
        {%if signal.type == "ad"%}
        {%if not feature_title_set%}{%set feature_title_set = true%}
        <li class="settings-header {{signal.theme}}" aria-label="Ads"></li>
        {%endif%}
        <label class="{{signal.theme}}" id="{{loop.index0}}">
            <button aria-label="{{signal.emoji}}"></button>
            <input type="text" disabled value="{{signal.label}}"/>
        </label>
        </li>
        {%endif%}
        {%endfor%}
        {%set feature_title_set = false%}
        {%for signal in "dashboard_signals_config"|getParam%}
        {%if signal.type == "bpm"%}
        {%if not feature_title_set%}{%set feature_title_set = true%}
        <li class="settings-header {{signal.theme}}" aria-label="BPM"></li>
        </li>
        {%endif%}
        <li>
            <label class="{{signal.theme}}" id="{{loop.index0}}">
                <button aria-label="{{signal.emoji}}"></button>
                <input type="text" value="{{signal.label}}"/>
            </label>
        </li>
        {%endif%}
        {%endfor%}
        {%set feature_title_set = false%}
        {%for signal in "dashboard_signals_config"|getParam%}
        {%if signal.type == "announce"%}
        {%if not feature_title_set%}{%set feature_title_set = true%}
        <li class="settings-header {{signal.theme}}" aria-label="BPM"></li>
        </li>
        {%endif%}
        <li>
            <label class="{{signal.theme}}" id="{{loop.index0}}">
                <button aria-label="{{signal.emoji}}"></button>
                <input type="text" value="{{signal.label}}"/>
                <textarea value="{{signal.label}}">{{signal.label}}</textarea>
            </label>
        </li>
        {%endif%}
        {%endfor%}
    </ul>
</section>
{%include "_home.njk"%}
{%endblock%}
{%block dialogs%}
{%set device_ip = "device_ip"|getParam%}
<dialog id="qr-dashboard-dialog" data-url="https://{{device_ip}}">
    <h2 aria-label="QR Code Link"></h2>
    <h3 aria-label="This link will open this page on any device on your network"></h3>
    <canvas></canvas>
    <button aria-label="Click to Copy Link!">
    </button>
    <button aria-label="✅Done" onclick="javascript:document.body.querySelector('#qr-dashboard-dialog').close();">
    </button>
</dialog>
{%include "_emoji.njk"%}
{%endblock%}
{%block scripts%}
<script defer>
    document.addEventListener("DOMContentLoaded", () => reducedMotion());
    document.addEventListener("DOMContentLoaded", () => cssDevWatch());
    document.addEventListener("DOMContentLoaded", () => iframeDetect());
    document.addEventListener("DOMContentLoaded", () => socketConnect());
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => autoSizeInput());
    document.addEventListener("DOMContentLoaded", () => scrollSnap(document.body.querySelector("body > section")));
    document.addEventListener("DOMContentLoaded", () => generateCopyLink(document.body.querySelector("#qr-dashboard-dialog")));
    document.addEventListener("DOMContentLoaded", () => generateQrCode(
        document.body.querySelector("#qr-dashboard-dialog canvas"),
        document.body.querySelector("#qr-dashboard-dialog").getAttribute("data-url"),
    ));
    document.addEventListener("DOMContentLoaded", () => settings());
</script>
{%endblock%}