<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <link rel="icon" href="/icon512_rounded.png" type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.5.1/dist/axios.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/qrcode@1.5.1/build/qrcode.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="../client/script/css_dev_watch.js?" defer type="text/javascript"></script>
    <script src="../client/script/reduced_motion.js?" defer type="text/javascript"></script>
    <script src="../client/script/get_url.js?" defer type="text/javascript"></script>
    <script src="../client/script/get_path.js?" defer type="text/javascript"></script>
    <script src="../client/script/generate_qr_code.js?" defer type="text/javascript"></script>
    <script src="../client/script/generate_copy_link.js?" defer type="text/javascript"></script>
    <script src="../client/script/controls.js?" defer type="text/javascript"></script>
    <script src="../client/script/socket.js?" defer type="text/javascript"></script>
    <script src="../client/script/scroll_snap.js?" defer type="text/javascript"></script>
    <script src="../client/script/variables.js?" defer type="text/javascript"></script>
    <script src="../client/script/iframe_detect.js?" defer type="text/javascript"></script>
    <script src="../client/script/dashboard.js?" defer type="text/javascript"></script>
    <link href="../client/style/variables.css?" rel="stylesheet">
    <link href="../client/style/reset.css?" rel="stylesheet">
    <link href="../client/style/base.css?" rel="stylesheet">
    <link href="../client/style/scrollbar.css?" rel="stylesheet">
    <link href="../client/style/controls.css?" rel="stylesheet">
    <link href="../client/style/dialog.css?" rel="stylesheet">
    <link href="../client/style/dashboard.css?" rel="stylesheet">
    <meta name="MEMORY_SIGNAL_CREATE" content="https://api.dbdbdbdbdbgroup.com/demo/memory/signal/create">
    <meta name="MEMORY_CONFIG_UPDATE" content="https://api.dbdbdbdbdbgroup.com/demo/memory/config/update">
    <meta name="MEMORY_STYLE_UPDATE" content="https://api.dbdbdbdbdbgroup.com/demo/memory/style/update">
    <meta name="MEMORY_MEDIA_UPDATE" content="https://api.dbdbdbdbdbgroup.com/demo/memory/media/update">
    <meta name="API_SIGNAL_CREATE" content="https://api.dbdbdbdbdbgroup.com/demo/api/signal/create">
    <meta name="API_CONFIG_UPDATE" content="https://api.dbdbdbdbdbgroup.com/demo/api/config/update">
    <meta name="API_STYLE_UPDATE" content="https://api.dbdbdbdbdbgroup.com/demo/api/style/update">
    <meta name="API_MEDIA_UPDATE" content="https://api.dbdbdbdbdbgroup.com/demo/api/media/update">
    <meta name="TWITCH_LOGIN" content="https://api.dbdbdbdbdbgroup.com/demo/t/w/i/t/c/h/l/o/g/i/n/">
    <meta name="TWITCH_LOGIN_SUCCESS" content="https://api.dbdbdbdbdbgroup.com/t/w/i/t/c/h/l/o/g/i/n/s/u/c/c/e/s/s/">
    <meta name="INDEX" content="/demo/index.html">
    <meta name="PANEL_DASHBOARD" content="/demo/panel-dashboard.html">
    <meta name="PANEL_ACTIONS" content="/demo/panel-actions.html">
    <meta name="PANEL_LAYOUT" content="/demo/panel-layout.html">
    <meta name="PANEL_DRAW" content="/demo/panel-draw.html">
    <meta name="PANEL_EMBED" content="/demo/embed.html">
    <meta name="PANEL_FEATURE_EMBED" content="/demo/embed-feature.html">
    <meta name="PANEL_MEDIA_EMBED" content="/demo/embed-media.html">
    <meta name="PANEL_DRAW_EMBED" content="/demo/embed-draw.html">
    <meta name="PANEL_SOUND_EMBED" content="/demo/embed-sound.html">
    <style id="public_module_styles"></style>
</head>
<body>
<section>

    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>

    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>

    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>

    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>

    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>

    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>
    <article class="empty">
        <button data-href="" disabled><label aria-label=""></label><label aria-label=""></label></button>
    </article>

</section>
<nav class="controls">
    <button aria-label="Draw"><em aria-label="🎨"></em></button>
    <button aria-label="Layout"><em aria-label="🎬"></em></button>
    <button aria-label="Actions"><em aria-label="📜"></em></button>
    <button aria-label="Show QR"><em aria-label="🔗"></em></button>
    <button aria-label="Login"><em aria-label="🔒"></em></button>
    <button aria-label="App"><em aria-label="🕹️"></em></button>
    <button aria-label="Dev"><em aria-label="🧪"></em></button>
    <button aria-label="Reload"><em aria-label="🔄"></em></button>
    <button id="toggle-controls-open" aria-label="Open"><em aria-label="🍔"></em></button>
    <button id="toggle-controls-close" aria-label="Close"><em aria-label="🥪"></em></button>
    <button id="toggle-edit-dashboard-edit" aria-label="Edit"><em aria-label="✏"></em></button>
    <button id="toggle-edit-dashboard-done" aria-label="Done"><em aria-label="✅"></em></button>
</nav>
<dialog id="qr-dialog">
    <h2 aria-label="Dashboard Link"></h2>
    <h3 aria-label="This link will open the dashboard on any device on your network."></h3>
    <canvas data-url="https://dbdbdbdbdbgroup.com/hello.html?"></canvas>
    <button data-url="https://dbdbdbdbdbgroup.com/hello.html?" aria-label="Click to Copy Link!" data-click-text="Link Copied!"></button>
    <button aria-label="✅Done"></button>
</dialog>
<script>
    document.addEventListener("DOMContentLoaded", () => reducedMotion());
    document.addEventListener("DOMContentLoaded", () => cssDevWatch());
    document.addEventListener("DOMContentLoaded", () => iframeDetect());
    document.addEventListener("DOMContentLoaded", () => socketConnect());
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => socketWatchConfig((payload) => {
        const data = JSON.parse(payload.split('config:set:')[1]);
        const signals = JSON.parse(data);
        signals.forEach((signal, index) => {
            const type = signal.type;
            const {description, emoji, label, theme, visibility} = signal;
            const articleEl = document.body.querySelector('section').children[index];
            const buttonEl = articleEl.querySelector('button');
            const emojiEl = articleEl.querySelector('label:nth-of-type(1)');
            const labelEl = articleEl.querySelector('label:nth-of-type(2)');
            buttonEl.disabled = (visibility === "OFF");
            articleEl.setAttribute('class', theme || "empty");
            emojiEl.setAttribute('aria-label', emoji || "");
            labelEl.setAttribute('aria-label', label || "");
            if (type === "empty") {
                buttonEl.setAttribute('data-href', ``);
            } else if (type === "mark") {
                buttonEl.setAttribute('data-href', `${getPath('API_SIGNAL_CREATE')}?type=${type}&description=${label}`);
            } else if (type === "feature") {
                buttonEl.setAttribute('data-href', `${getPath('API_SIGNAL_CREATE')}?type=${type}&description=${description}:${label}`);
            } else {
                buttonEl.setAttribute('data-href', `${getPath('API_SIGNAL_CREATE')}?type=${type}&description=${description}`);
            }
            // console.log('socketWatchConfig :: signal', signal);
        });
    }));
    document.addEventListener("DOMContentLoaded", () => initNavControls());
    document.addEventListener("DOMContentLoaded", () => scrollSnap(document.body.querySelector("body > section")));
    document.addEventListener("DOMContentLoaded", () => generateCopyLink(document.body.querySelector("#qr-dialog button[data-url]")));
    document.addEventListener("DOMContentLoaded", () => generateQrCode(
        document.body.querySelector("#qr-dialog canvas"),
        document.body.querySelector("#qr-dialog canvas").getAttribute("data-url"),
    ));
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelector('dialog button:last-of-type').addEventListener('click', () => document.body.querySelector('#qr-dialog').close())
    });
    document.addEventListener("DOMContentLoaded", () => dashboard());
    document.addEventListener("DOMContentLoaded", () => {
        setInterval(dashboardRotateHue, 10000);
        setInterval(dashboardSpinLabels, 10000);
        dashboardBlinkButtons();
        dashboardRotateHue();
        setTimeout(() => dashboardSpinLabels(), 5000);
    });
</script>
</body>
</html>