<!DOCTYPE html>
{%set public_routes = "public_routes"|getParamFilter%}
{%set device_ip = "device_ip"|getParamFilter%}
<html lang="en">
<head>
    <title>Dashboard</title>
    <script src="../client/script/css_dev_watch.js?" defer type="text/javascript"></script>
    <script src="../client/script/reduced_motion.js?" defer type="text/javascript"></script>
    <script src="../client/script/get_url.js?" defer type="text/javascript"></script>
    <script src="../client/script/get_path.js?" defer type="text/javascript"></script>
    <script src="../client/script/generate_qr_code.js?" defer type="text/javascript"></script>
    <script src="../client/script/generate_copy_link.js?" defer type="text/javascript"></script>
    <script src="../client/script/controls.js?" defer type="text/javascript"></script>
    <script src="../client/script/socket.js?" defer type="text/javascript"></script>
    <script src="../client/script/scroll_snap.js?" defer type="text/javascript"></script>
    <script src="../client/script/variables.js?" defer type="text/javascript"></script>
    <script src="../client/script/iframe_detect.js?" defer type="text/javascript"></script>
    <link href="../client/style/variables.css?" rel="stylesheet">
    <link href="../client/style/reset.css?" rel="stylesheet">
    <link href="../client/style/base.css?" rel="stylesheet">
    <link href="../client/style/scrollbar.css?" rel="stylesheet">
    <link href="../client/style/controls.css?" rel="stylesheet">
    <link href="../client/style/dialog.css?" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.5.1/dist/axios.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/qrcode@1.5.1/build/qrcode.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    {% for key, value in public_routes%}
    <meta name="{{key}}" content="https://{{device_ip}}{{value}}">
    {% endfor %}
    <link href="../client/style/dashboard.css?" rel="stylesheet">
    <script src="../client/script/dashboard.js?" defer type="text/javascript"></script>
    <style id="public_module_styles">:root{{'{'~'public_module_styles'|getParamFilter ~';}'}}</style>
</head>
<body>
<section>
    {%for config in "dashboard_signals_config"|getParamFilter%}
    {%if config.type == "feature"%}
    {%set data_href = public_routes.API_SIGNAL_CREATE ~ "?type=" ~ config.type ~ "&description=" ~ config.description ~ ":" ~ config.label%}
    {%elif config.type == "mark"%}
    {%set data_href = public_routes.API_SIGNAL_CREATE ~ "?type=" ~ config.type ~ "&description=" ~ config.label%}
    {%else%}
    {%set data_href = public_routes.API_SIGNAL_CREATE ~ "?type=" ~ config.type ~ "&description=" ~ config.description%}
    {%endif%}
    {%if config.type === "empty"%}
    <article class="empty"></article>
    {%else%}
    <article class="{{config.theme}}">
        <button data-href="{{data_href}}" {%if config.visibility=="OFF"%}disabled{%endif%}>
            <label aria-label="{{config.emoji}}"></label>
            <label aria-label="{{config.label}}"></label>
        </button>
    </article>
    {%endif%}
    {%endfor%}
</section>
<nav class="controls">
    <button aria-label="Draw"><em aria-label="🎨"></em></button>
    <button aria-label="Layout"><em aria-label="🎬"></em></button>
    <button aria-label="Actions"><em aria-label="📜"></em></button>
    <button aria-label="Show QR"><em aria-label="🔗"></em></button>
    <button aria-label="Login"><em aria-label="🔒"></em></button>
    <button aria-label="App"><em aria-label="🕹️"></em></button>
    <button aria-label="Dev"><em aria-label="🧪"></em></button>
    <button aria-label="Reload"><em aria-label="🔄"></em></button>
    <button id="toggle-controls-open" aria-label="Open"><em aria-label="🍔"></em></button>
    <button id="toggle-controls-close" aria-label="Close"><em aria-label="🥪"></em></button>
    <button id="toggle-edit-dashboard-edit" aria-label="Edit"><em aria-label="✏"></em></button>
    <button id="toggle-edit-dashboard-done" aria-label="Done"><em aria-label="✅"></em></button>
</nav>
<dialog id="qr-dialog">
    <h2 aria-label="Dashboard Link"></h2>
    <h3 aria-label="This link will open the dashboard on any device on your network."></h3>
    <canvas data-url="https://dbdbdbdbdbgroup.com/{{'device_ip_suffix'|getParamFilter}}.html?"></canvas>
    <button data-url="https://dbdbdbdbdbgroup.com/{{'device_ip_suffix'|getParamFilter}}.html?" aria-label="Click to Copy Link!" data-click-text="Link Copied!"></button>
    <button aria-label="✅Done"></button>
</dialog>
<script>
    document.addEventListener("DOMContentLoaded", () => reducedMotion());
    document.addEventListener("DOMContentLoaded", () => cssDevWatch());
    document.addEventListener("DOMContentLoaded", () => iframeDetect());
    document.addEventListener("DOMContentLoaded", () => socketConnect());
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => initNavControls());
    document.addEventListener("DOMContentLoaded", () => scrollSnap(document.body.querySelector("body > section")));
    document.addEventListener("DOMContentLoaded", () => generateCopyLink(document.body.querySelector("#qr-dialog button[data-url]")));
    document.addEventListener("DOMContentLoaded", () => generateQrCode(
        document.body.querySelector("#qr-dialog canvas"),
        document.body.querySelector("#qr-dialog canvas").getAttribute("data-url"),
    ));
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelector('dialog button:last-of-type').addEventListener('click', () => document.body.querySelector('#qr-dialog').close())
    });
    document.addEventListener("DOMContentLoaded", () => dashboard());
    document.addEventListener("DOMContentLoaded", () => {
        setInterval(dashboardRotateHue, 10000);
        setInterval(dashboardSpinLabels, 10000);
        dashboardBlinkButtons();
        dashboardRotateHue();
        setTimeout(() => dashboardSpinLabels(), 5000);
    });
</script>
</body>
</html>