{%extends "main.njk"%}
{%set device_ip = "device_ip"|getParam%}
{%set public_routes = "public_routes"|getParam%}
{%block head%}
{{ '
<link href="../client/style/dashboard.css?" rel="stylesheet">' | inlineScriptContents | safe }}
{%include "_style.njk"%}
{%endblock%}
{%block body%}
<section>
    {%for config in "dashboard_signals_config"|getParam%}
    {%if config.type == "feature"%}
    {%set data_href = public_routes.API_SIGNAL_CREATE ~ "?type=" ~ config.type ~ "&description=" ~ config.description ~ ":" ~ config.label%}
    {%elif config.type == "mark"%}
    {%set data_href = public_routes.API_SIGNAL_CREATE ~ "?type=" ~ config.type ~ "&description=" ~ config.label%}
    {%else%}
    {%set data_href = public_routes.API_SIGNAL_CREATE ~ "?type=" ~ config.type ~ "&description=" ~ config.description%}
    {%endif%}
    {%if config.type === "empty"%}
    <article class="empty"></article>
    {%else%}
    <article class="{{config.theme}}">
        <button data-href="{{data_href}}" {%if config.visibility=="OFF"%}disabled{%endif%}>
            <label aria-label="{{config.emoji}}"></label>
            <label aria-label="{{config.label}}"></label>
        </button>
    </article>
    {%endif%}
    {%endfor%}
</section>
<nav class="controls">
    <button aria-label="Draw"><em aria-label="⬆"></em></button>
    <button aria-label="Layout"><em aria-label="➡"></em></button>
    <button aria-label="Actions"><em aria-label="⬅"></em></button>
    <button aria-label="Layout"><em aria-label="🎬"></em></button>
    <button aria-label="Actions"><em aria-label="📜"></em></button>
    <button aria-label="Show QR"><em aria-label="🔗"></em></button>
    <button aria-label="Login"><em aria-label="🔒"></em></button>
    <button aria-label="App"><em aria-label="🕹️"></em></button>
    <button aria-label="Dev"><em aria-label="🧪"></em></button>
    <button aria-label="Reload"><em aria-label="🔄"></em></button>
    <button id="toggle-edit-dashboard"></button>
</nav>
{%endblock%}
{%block dialogs%}
<dialog id="qr-dialog">
    <h2 aria-label="Dashboard Link"></h2>
    <h3 aria-label="This link will open the dashboard on any device on your network."></h3>
    <canvas data-url="https://dbdbdbdbdbgroup.com/{{ 'device_ip_suffix' | getParam }}.html?{{''|cacheBuster}}"></canvas>
    <button data-url="https://dbdbdbdbdbgroup.com/{{ 'device_ip_suffix' | getParam }}.html?{{''|cacheBuster}}" aria-label="Click to Copy Link!" data-click-text="Link Copied!"></button>
    <button aria-label="✅Done"></button>
</dialog>
{%endblock%}
{%block scripts%}
<script defer>
    document.addEventListener("DOMContentLoaded", () => reducedMotion());
    document.addEventListener("DOMContentLoaded", () => cssDevWatch());
    document.addEventListener("DOMContentLoaded", () => iframeDetect());
    document.addEventListener("DOMContentLoaded", () => socketConnect());
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => initNavControls());
    document.addEventListener("DOMContentLoaded", () => scrollSnap(document.body.querySelector("body > section")));
    document.addEventListener("DOMContentLoaded", () => generateCopyLink(document.body.querySelector("#qr-dialog button[data-url]")));
    document.addEventListener("DOMContentLoaded", () => generateQrCode(
        document.body.querySelector("#qr-dialog canvas"),
        document.body.querySelector("#qr-dialog canvas").getAttribute("data-url"),
    ));
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelector('dialog button:last-of-type').addEventListener('click', () => document.body.querySelector('#qr-dialog').close())
    });
    document.addEventListener("DOMContentLoaded", () => dashboard());
    document.addEventListener("DOMContentLoaded", () => {
        setInterval(dashboardRotateHue, 10000);
        setInterval(dashboardSpinLabels, 10000);
        dashboardBlinkButtons();
        dashboardRotateHue();
        setTimeout(() => dashboardSpinLabels(), 5000);
    });
</script>
{%endblock%}