{%extends "main.njk"%}
{%set public_routes = 'public_routes'|getParam%}
{%block head%}
<link rel="stylesheet" href="../client/style/modules.css?{{cacheBuster}}">
{%include "_style.njk"%}
{%endblock%}
{%block body%}
{%set public_routes = 'public_routes'|getParam%}
<section class="modules">
    <article class="module aqua">
        <div class="title" aria-label="Featured">
            <button onclick="javascript:document.body.querySelector('#qr-embed-dialog').showModal()"
                    aria-label="🔗"></button>
        </div>
        <div class="preview">
            <iframe width="1920" height="1080" src="{{public_routes.PANEL_EMBED}}#edit"></iframe>
        </div>
        <div class="layers">

        </div>
        <div class="controls">
            <label>
                <input type="range" min="0" max="200" step="5.0" value="50" name="--_feat-tX" hidden>
                <input type="range" min="0" max="200" step="5.0" value="50" name="--_feat-tY" hidden>
            </label>
            <label>
                <input type="range" min="0" max="200" step="5.0" value="50" name="--_feat-sX" hidden>
                <input type="range" min="0" max="200" step="5.0" value="50" name="--_feat-sY" hidden>
            </label>
            <label>
                <input type="range" min="0" max="200" step="5.0" value="0" name="--_feat-rX" hidden>
                <input type="range" min="0" max="200" step="5.0" value="0" name="--_feat-rY" hidden>
            </label>
        </div>
        <div class="controls">
            <label>
                <input type="range" min="0" max="200" step="5.0" value="50" name="--_bpm-tX" hidden>
                <input type="range" min="0" max="200" step="5.0" value="50" name="--_bpm-tY" hidden>
            </label>
            <label>
                <input type="range" min="0" max="200" step="5.0" value="50" name="--_bpm-sX" hidden>
                <input type="range" min="0" max="200" step="5.0" value="50" name="--_bpm-sY" hidden>
            </label>
            <label>
                <input type="range" min="0" max="200" step="5.0" value="0" name="--_bpm-rX" hidden>
                <input type="range" min="0" max="200" step="5.0" value="0" name="--_bpm-rY" hidden>
            </label>
        </div>
    </article>
</section>
{%include "_home.njk"%}
{%endblock%}
{%block dialogs%}
{%set device_ip = "device_ip"|getParam%}
<dialog id="qr-embed-dialog" data-url="https://{{device_ip}}{{public_routes.PANEL_EMBED}}">
    <section>
        <h2 aria-label="Embed Link"></h2>
        <h3 aria-label="Use this link as a source input"></h3>
        <canvas data-url="https://{{device_ip}}"></canvas>
        <button data-url="https://{{device_ip}}{{public_routes.PANEL_EMBED}}" aria-label="Click to Copy Link!"></button>
        <button aria-label="✅Done" onclick="javascript:document.body.querySelector('#qr-embed-dialog').close();"></button>
    </section>
</dialog>
{%endblock%}
{%block scripts%}
<script defer>
    document.addEventListener("DOMContentLoaded", () => cssDevWatch());
    document.addEventListener("DOMContentLoaded", () => reducedMotion());
    document.addEventListener("DOMContentLoaded", () => iframeDetect());
    document.addEventListener("DOMContentLoaded", () => socketConnect());
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => scrollSnap(document.body.querySelector("body > section")));
    document.addEventListener("DOMContentLoaded", () => generateCopyLink(document.body.querySelector("#qr-embed-dialog")));
    document.addEventListener("DOMContentLoaded", () => generateQrCode(
        document.body.querySelector("#qr-embed-dialog canvas"),
        document.body.querySelector("#qr-embed-dialog canvas").getAttribute("data-url"),
    ));
    document.addEventListener("DOMContentLoaded", () => setCssVariable('.preview', 'width', '--js-module-preview-width'));
    document.addEventListener("DOMContentLoaded", () => setCssVariable('.title', 'height', '--js-module-title-height', 'px'));
    document.addEventListener("DOMContentLoaded", () => setCssVariable('.module', 'height', '--js-module-content-height', 'px'));
    document.addEventListener("DOMContentLoaded", () => applyModuleStyles());
    document.addEventListener("DOMContentLoaded", () => initializeModuleClickTouch());
</script>
{%endblock%}