<!DOCTYPE html>
<html lang="en">
<head>
    <title>Actions</title>
    <meta charset="UTF-8">
    <link rel="icon" href="/icon512_rounded.png" type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.5.1/dist/axios.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/qrcode@1.5.1/build/qrcode.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <script src="../client/script/css_dev_watch.js?" defer type="text/javascript"></script>
    <script src="../client/script/reduced_motion.js?" defer type="text/javascript"></script>
    <script src="../client/script/get_url.js?" defer type="text/javascript"></script>
    <script src="../client/script/get_path.js?" defer type="text/javascript"></script>
    <script src="../client/script/generate_qr_code.js?" defer type="text/javascript"></script>
    <script src="../client/script/generate_copy_link.js?" defer type="text/javascript"></script>
    <script src="../client/script/controls.js?" defer type="text/javascript"></script>
    <script src="../client/script/socket.js?" defer type="text/javascript"></script>
    <script src="../client/script/scroll_snap.js?" defer type="text/javascript"></script>
    <script src="../client/script/variables.js?" defer type="text/javascript"></script>
    <script src="../client/script/iframe_detect.js?" defer type="text/javascript"></script>
    <script src="../client/script/actions.js?" defer type="text/javascript"></script>
    <link href="../client/style/variables.css?" rel="stylesheet">
    <link href="../client/style/reset.css?" rel="stylesheet">
    <link href="../client/style/base.css?" rel="stylesheet">
    <link href="../client/style/scrollbar.css?" rel="stylesheet">
    <link href="../client/style/controls.css?" rel="stylesheet">
    <link href="../client/style/dialog.css?" rel="stylesheet">
    <link href="../client/style/actions.css?" rel="stylesheet">
    <meta name="INDEX" content="index.html">
    <meta name="PANEL_DASHBOARD" content="panel-dashboard.html">
    <meta name="PANEL_ACTIONS" content="panel-actions.html">
    <meta name="PANEL_LAYOUT" content="panel-layout.html">
    <meta name="PANEL_DRAW" content="panel-draw.html">
    <meta name="PANEL_EMBED" content="embed.html">
    <meta name="PANEL_FEATURE_EMBED" content="embed-feature.html">
    <meta name="PANEL_MEDIA_EMBED" content="embed-media.html">
    <meta name="PANEL_DRAW_EMBED" content="embed-draw.html">
    <meta name="PANEL_SOUND_EMBED" content="embed-sound.html">
    <meta name="API_STYLE_GET" content="https://api.dbdbdbdbdbgroup.com/demo/api/style/get">
    <meta name="API_CONFIG_GET" content="https://api.dbdbdbdbdbgroup.com/demo/api/config/get">
    <meta name="API_SIGNAL_CREATE" content="https://api.dbdbdbdbdbgroup.com/demo/api/signal/create">
    <meta name="API_CONFIG_UPDATE" content="https://api.dbdbdbdbdbgroup.com/demo/api/config/update">
    <meta name="API_STYLE_UPDATE" content="https://api.dbdbdbdbdbgroup.com/demo/api/style/update">
    <meta name="API_MEDIA_UPDATE" content="https://api.dbdbdbdbdbgroup.com/demo/api/media/update">
    <meta name="TWITCH_LOGIN" content="https://api.dbdbdbdbdbgroup.com/demo/t/w/i/t/c/h/l/o/g/i/n/">
    <meta name="TWITCH_LOGIN_SUCCESS" content="https://api.dbdbdbdbdbgroup.com/t/w/i/t/c/h/l/o/g/i/n/s/u/c/c/e/s/s/">
    <style id="public_module_styles"></style>
</head>
<body>
    <section>
            <div class="none" aria-label="..."></div>
            <div class="none">
                <label id="">
                    <button aria-label="..."></button>
                    <input type="text" value="..."/>
                    <button readonly></button>
                    <button readonly></button>
                    <button aria-label="..."></button>
                    <textarea>...</textarea>
                </label>
            </div>
            <div class="none" aria-label="..."></div>
            <div class="none">
                <label id="">
                    <button aria-label="..."></button>
                    <input type="text" value="..."/>
                    <button aria-label="⬆" id=""></button>
                    <button aria-label="🔍"></button>
                    <button aria-label="..."></button>
                    <img />
                </label>
            </div>
            <div class="none" aria-label="..."></div>
            <div class="none">
                <label id="">
                    <button aria-label="..."></button>
                    <input type="text" value="..."/>
                    <button aria-label="⬆" id=""></button>
                    <button aria-label="🎶"></button>
                    <button aria-label="..."></button>
                </label>
            </div>
            <div class="none" aria-label="..."></div>
            <div class="none">
                <label id="">
                    <button aria-label="..."></button>
                    <input type="text" value="..."/>
                    <button readonly></button>
                    <button readonly></button>
                    <button aria-label="..."></button>
                </label>
            </div>
            <div class="none" aria-label="..."></div>
            <div class="none">
                <label id="">
                    <button aria-label="..."></button>
                    <input type="text" value="..."/>
                    <button readonly></button>
                    <button readonly></button>
                    <button aria-label="..."></button>
                </label>
            </div>
            <div class="none" aria-label="..."></div>
            <div class="none">
                <label id="">
                    <button aria-label="..."></button>
                    <input type="text" readonly value=""/>
                    <button readonly></button>
                    <button readonly></button>
                    <button aria-label="..."></button>
                </label>
            </div>
    </section>
    <ul id="emoji-widget">
        <li aria-label="✨"></li>
        <li aria-label="📢"></li>
        <li aria-label="❤"></li>
        <li aria-label="⏰"></li>
        <li aria-label="🥊"></li>
        <li aria-label="🧐"></li>
        <li aria-label="🎬"></li>
        <li aria-label="👾"></li>
        <li aria-label="🌟"></li>
        <li aria-label="🍕"></li>
        <li aria-label="🎮"></li>
        <li aria-label="🔥"></li>
        <li aria-label="🎧"></li>
        <li aria-label="💎"></li>
        <li aria-label="🕹️"></li>
        <li aria-label="🖥️"></li>
        <li aria-label="🚀"></li>
        <li aria-label="🌈"></li>
        <li aria-label="👑"></li>
        <li aria-label="💥"></li>
        <li aria-label="🌍"></li>
        <li aria-label="🎤"></li>
        <li aria-label="🎨"></li>
        <li aria-label="🎸"></li>
        <li aria-label="🎹"></li>
        <li aria-label="🚗"></li>
        <li aria-label="🦄"></li>
        <li aria-label="🐉"></li>
        <li aria-label="💡"></li>
        <li aria-label="🍎"></li>
        <li aria-label="🔗"></li>
        <li aria-label="⚙"></li>
        <li aria-label="🧑"></li>
        <li aria-label="🔒"></li>
        <li aria-label="🎬"></li>
        <li aria-label="⚡"></li>
        <li aria-label="🌀"></li>
        <li aria-label="✅"></li>
        <li aria-label="🔄"></li>
        <li aria-label="✏"></li>
        <li aria-label="🌐"></li>
    </ul>
    <nav class="right">
        <button aria-label="🧮"></button>
    </nav>
    <script>
        document.addEventListener("DOMContentLoaded", () => cssDevWatch());
        document.addEventListener("DOMContentLoaded", () => reducedMotion());
        document.addEventListener("DOMContentLoaded", () => iframeDetect());
        document.addEventListener("DOMContentLoaded", () => socketConnect());
        document.addEventListener("DOMContentLoaded", () => socketWatchReload());
        document.addEventListener("DOMContentLoaded", () => {
            const processConfig = (signals) =>{
                const parsed = signals.slice(0);
                signals
                    .filter(s => !(s.type==="empty"));
                [
                    signals.find(s => s.type === 'announce'),
                    signals.find(s => s.type === 'media'),
                    signals.find(s => s.type === 'sound'),
                    signals.find(s => s.type === 'feature'),
                    signals.find(s => s.type === 'mark'),
                    signals.find(s => s.type === 'ad'),
                ].map((signal, index) =>{
                    const {type, theme} = signal;
                    const title = type.charAt(0).toUpperCase() + type.slice(1);
                    document.body.querySelectorAll('section > div[aria-label]')[index].setAttribute('aria-label', title);
                    document.body.querySelectorAll('section > div[aria-label]')[index].setAttribute('class', theme);
                    return signal;
                });
                [
                    ...parsed.filter(s => s.type === 'announce'),
                    ...parsed.filter(s => s.type === 'media'),
                    ...parsed.filter(s => s.type === 'sound'),
                    ...parsed.filter(s => s.type === 'feature'),
                    ...parsed.filter(s => s.type === 'mark'),
                    ...parsed.filter(s => s.type === 'ad'),
                ]
                    .map((signal) => parsed.indexOf(signal))
                    .map((indexOf, index) => {
                        const formEl = document.body.querySelectorAll('section > div:not([aria-label])')[index];
                        const {theme, emoji, label, description, visibility, type} = parsed[indexOf];
                        formEl.setAttribute('class', theme);
                        formEl.querySelector('label').setAttribute('id', indexOf);
                        formEl.querySelector('button:nth-of-type(1)').setAttribute('aria-label', emoji);
                        formEl.querySelector('button:nth-of-type(4)').setAttribute('aria-label', visibility);
                        formEl.querySelector('button:nth-of-type(2)').setAttribute('id', description);
                        formEl.querySelector('input[type=text]').setAttribute("value", label);
                        if (type === 'announce') {
                            formEl.querySelector('textarea').innerText = description;
                            formEl.querySelector('textarea').disabled = "OFF" === visibility;
                            formEl.querySelector('button:nth-of-type(1)').disabled = "OFF" === visibility;
                            formEl.querySelector('button:nth-of-type(2)').disabled = true;
                            formEl.querySelector('button:nth-of-type(3)').disabled = true;
                        }
                        if (type === 'media') {
                            formEl.querySelector('button:nth-of-type(1)').disabled = "OFF" === visibility;
                            formEl.querySelector('button:nth-of-type(2)').disabled = "OFF" === visibility;
                            formEl.querySelector('button:nth-of-type(3)').disabled = "OFF" === visibility;
                        }
                        if (type === 'sound') {
                            formEl.querySelector('button:nth-of-type(1)').disabled = "OFF" === visibility;
                            formEl.querySelector('button:nth-of-type(2)').disabled = "OFF" === visibility;
                            formEl.querySelector('button:nth-of-type(3)').disabled = "OFF" === visibility;
                        }
                        if (type === 'feature') {
                            formEl.querySelector('button:nth-of-type(1)').disabled = "OFF" === visibility;
                            formEl.querySelector('button:nth-of-type(2)').disabled = true;
                            formEl.querySelector('button:nth-of-type(3)').disabled = true;
                        }
                        if (type === 'mark') {
                            formEl.querySelector('button:nth-of-type(1)').disabled = "OFF" === visibility;
                            formEl.querySelector('button:nth-of-type(2)').disabled = true;
                            formEl.querySelector('button:nth-of-type(3)').disabled = true;
                        }
                        if (type === 'ad') {
                            formEl.querySelector('input').disabled = true;
                            formEl.querySelector('button:nth-of-type(1)').disabled = "OFF" === visibility;
                            formEl.querySelector('button:nth-of-type(2)').disabled = true;
                            formEl.querySelector('button:nth-of-type(3)').disabled = true;
                        }
                    });
                actions();
            };
            const res = axios.get(getPath("API_CONFIG_GET"));
            res.then((res) => processConfig(res.data));
            res.catch((error) => console.log("API_CONFIG_GET :: error:", error.response.data));
            res.finally(_ => console.info("API_CONFIG_GET :: complete"));
        });
        document.addEventListener("DOMContentLoaded", () => initHomeControls());
        document.addEventListener("DOMContentLoaded", () => scrollSnap(document.body.querySelector("body > section")));
    </script>
</body>
</html>