{%extends "main.njk"%}
{%set public_routes = "public_routes"|getParam%}
{%block head%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.min.js?{{cacheBuster}}" type="text/javascript" defer></script>
<link rel="stylesheet" href="../client/style/draw.css?{{cacheBuster}}">
<style>
    :root {
        --range-rotation-deg: 0;
    }

    section button {
        transition: opacity 100ms ease-out;
    }

    section button::before {
        transition: rotateZ 1000ms ease-in-out;
        transform: rotateZ(var(--range-rotation-deg));
    }
</style>
{%endblock%}
{%block body%}
<section>
    <canvas></canvas>
    <input type="range" min="0" max="1000" value="0" disabled>
    <button onclick="javascript:getURL('{{public_routes.PANEL_DASHBOARD}}')" aria-label="🌀"></button>
    <button onclick="javascript: document.sendPayload()" aria-label="🚀" disabled></button>
    <button onclick="javascript: document.clearCanvas()" aria-label="🧼" disabled></button>
</section>
{%endblock%}
{%block scripts%}
<script defer>
    document.addEventListener("DOMContentLoaded", () => reducedMotion());
    document.addEventListener("DOMContentLoaded", () => cssDevWatch());
    document.addEventListener("DOMContentLoaded", () => iframeDetect());
    document.addEventListener("DOMContentLoaded", () => socketConnect());
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => {
        let capture = [];
        let payload = [];
        let buttonTimeout = null;
        const pixelSize = 20;
        const canvas = document.querySelector("canvas");
        canvas.width = canvas.getBoundingClientRect().width;
        canvas.height = canvas.getBoundingClientRect().height;
        const ctx = document.querySelector("canvas").getContext("2d");
        document.clearCanvas = () => {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            document.querySelector('input[type=range]').value = document.querySelector('input[type=range]').max;
            document.querySelector('[type=range]').value = 0;
            document.clearMemory();
        };
        document.sendPayload = () => {
            document.replayStart();
            payload.length && axios.get("/api/signal/create", {
                params: {
                    type: "draw",
                    description: payload.join(','),
                },
            });
        };
        document.clearMemory = () => {
            capture = [];
            payload = [];
            if (buttonTimeout) clearTimeout(buttonTimeout);
            buttonTimeout = setTimeout(() => {
                document.querySelector('button:nth-of-type(2)').disabled = true;
                document.querySelector('button:nth-of-type(3)').disabled = false;
            }, 300);
        };
        document.drawPixel = (x, y) => {
            ctx.fillStyle = getComputedStyle(document.documentElement).getPropertyValue('--color-blue').trim();
            ctx.beginPath();
            ctx.arc(x, y, pixelSize / 2, 0, Math.PI * 2, false);
            ctx.fill();
            capture.push(Math.round(x));
            payload.push(Math.round(x));
            capture.push(Math.round(y));
            payload.push(Math.round(y));
            document.querySelector('[type=range]').value = capture.length;
            if (buttonTimeout) clearTimeout(buttonTimeout);
            buttonTimeout = setTimeout(() => {
                document.querySelector('button:nth-of-type(2)').disabled = false;
                document.querySelector('button:nth-of-type(3)').disabled = false;
            }, 300);
        };
        document.replayStart = () => {
            if (Number(document.querySelector('[type=range]').value) > 0) {
                const x = capture.shift();
                const y = capture.shift();
                ctx.fillStyle = getComputedStyle(document.documentElement).getPropertyValue('--color-aqua').trim();
                ctx.beginPath();
                ctx.arc(x, y, (pixelSize * 1.25) / 2, 0, Math.PI * 2, false);
                ctx.fill();
                document.querySelector('[type=range]').value = capture.length;
                document.querySelector('button:nth-of-type(2)').disabled = true;
                document.querySelector('button:nth-of-type(3)').disabled = true;
                requestAnimationFrame(document.replayStart);
                document.querySelectorAll('[aria-label]').forEach(icon => {
                    const {value, max} = document.querySelector('[type="range"]');
                    const percent = Number(value) / Number(max);
                    const deg = Math.round(percent * 1080);
                    document.documentElement.style.setProperty('--range-rotation-deg', `${deg}deg`);
                });
            } else {
                document.clearMemory();
            }
        };
        document.touchStartMove = (e) => {
            const {left, top} = document.querySelector('canvas').getBoundingClientRect();
            document.drawPixel(
                e.touches[0].pageX - left,
                e.touches[0].pageY - top,
            )
        };
        document.querySelector('canvas').addEventListener("touchstart", (e) => document.touchStartMove(e));
        document.querySelector('canvas').addEventListener("touchmove", (e) => document.touchStartMove(e));
    });
</script>
{%endblock%}