<!DOCTYPE html>
<html lang="en">
<head>
    <title>OS</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="keyword">
    <meta name="viewport" content="width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" href="/icon512_rounded.png" type="image/png">
    <link rel="manifest" href="./manifest.json">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.5.1/dist/axios.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
    <meta name="INDEX" content="https://api.dbdbdbdbdbgroup.com/api/ui/index.html">
    <script src="../client/script/get_path.js?" defer type="text/javascript"></script>
</head>
<body>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const getIndexTimeout = null;
        const setIndex = (index) => {
            console.log('index', index);
        };
        const getIndex = () => {
            const res = axios.get(getPath("INDEX"));
            res.then((res) => setIndex(res.data));
            res.catch((error) => console.log("INDEX :: error:", error.response.data));
            res.finally(_ => console.info("INDEX :: complete"));
        };
        getIndex();
    });
</script>
</body>
</html>