<!DOCTYPE html>
<html lang="en">
<head>
    <title>OS</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="keyword">
    <meta name="viewport" content="width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" href="/icon512_rounded.png" type="image/png">
    <link rel="manifest" href="./manifest.json">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.5.1/dist/axios.min.js?" defer crossorigin="anonymous" type="text/javascript"></script>
</head>
<body>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        console.log('start.html');
    });
</script>
</body>
</html>