<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome</title>
    <meta charset="UTF-8">
    <meta name="description" content="This is a description.">
    <meta name="keywords" content="keyword">
    <meta name="viewport" content="width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon512_rounded.png" type="image/png">
</head>
<body>
Loading dashboard...
<script defer>
    document.addEventListener("DOMContentLoaded", () => {
        setTimeout(() => {
            fetch(`https://192.168.0.${window.location.pathname.split('/')[1]}`)
                .then(response => {
                    if (!response.ok) throw new Error(response);
                    return response.text();
                }).then(data => {
                document.documentElement.innerHTML = `${data}`;
            }).catch(error => {
                console.error(error);
                document.body.prepend('Error loading...');
            });
        }, 5000);
    });
</script>
</body>
</html>