<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome</title>
    <meta charset="UTF-8">
    <meta name="description" content="This is a description.">
    <meta name="keywords" content="keyword">
    <meta name="viewport" content="width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon512_rounded.png" type="image/png">
    <script defer>
        document.addEventListener("DOMContentLoaded", () => {
            document.body.innerText = ('Loading dashboard...');
            setTimeout(() => {
                fetch(`https://192.168.0.${window.location.pathname.split('.')[0].slice(1)}`)
                    .then(response => {
                        document.body.innerText = ('Loading fetch...start');
                        if (!response.ok) throw new Error(response || {r: 0} || undefined);
                        return response.text();
                    }).then(data => {
                    document.body.innerText = ('Loading fetch...done');
                    document.documentElement.innerHTML = `${data}`;
                }).catch(responseText => {
                    console.log(responseText);
                    document.body.innerText = ('Error loading...', JSON.stringify(responseText, null, 4));
                }).finally(() => {
                    document.body.innerText = ('Fetch time done...');
                });
            }, 5000);
        });
    </script>
</head>
<body>
</body>
</html>