<!DOCTYPE html>
<html lang="en">
<head>
    <title>StreamDream</title>
    <meta charset="UTF-8">
    <meta name="description" content="This is a description.">
    <meta name="referrer" content="unsafe-url">
    <meta name="keywords" content="keyword">
    <style>
        html, body {
            width: 50vw;
            height: 50vh;
            background: black;
            margin: 0;
            padding: 0;
        }
        iframe {
            width: 50vw;
            height: 50vh;
            border: none;
            background: none;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<iframe></iframe>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
        setTimeout(() => {
            document.querySelector('iframe').src = `https://192.168.0.22`;
        }, 5000);
    });
</script>
</body>
</html>