{% extends "layouts/main.njk" %}
{% set cache_buster = "" | currentTime %}
{% set public_routes = "public_routes" | getParam %}
{% block hscripts %}
<link rel="stylesheet" href="/style/dashboard.css?cb={{cache_buster}}">
{% endblock %}
{% block body %}
<section class="dashboard">
    {% for config in "dashboard_signals_config" | getParam %}
    {% if config.type == "feature" %}
    {% set data_href = public_routes.PUBLIC_SIGNAL_CREATE ~ "?api=feature&type=" ~ config.type ~ "&description=" ~
    config.description ~ ":" ~ config.label %}
    {% elif config.type == "mark" %}
    {% set data_href = public_routes.PUBLIC_SIGNAL_CREATE ~ "?api=no-feature&type=" ~ config.type ~ "&description=" ~
    config.label %}
    {% else %}
    {% set data_href = public_routes.PUBLIC_SIGNAL_CREATE ~ "?api=no-feature&type=" ~ config.type ~ "&description=" ~
    config.description %}
    {% endif %}
    <div class="button button-{{ config.theme }}" href="{{data_href}}">
        <button data-href="{{ data_href }}" onclick="javascript:sendSignal(this)">
            <label>{{ config.emoji }}</label>
            <label>{{ config.label }}</label>
        </button>
    </div>
    {% endfor %}
</section>
{% include "partials/controls.njk" %}
{% endblock %}
{% block dialogs %}
{% set device_ip = "device_ip" | getParam %}
<dialog id="qr-dialog" data-url="https://{{device_ip }}{{public_routes.PUBLIC_DASHBOARD}}">
    <h2 class="dialog--title">QR Code Dialog</h2>
    <h3 class="dialog--body">This link will open this page on any device on your network</h3>
    <canvas></canvas>
    <button>Click to Copy Link!</button>
    <button onclick="javascript:document.querySelector('#qrcode_dialog').close();">✅Done</button>
</dialog>
{% endblock %}
{% block fscripts %}
<script defer>
    document.addEventListener("DOMContentLoaded", () => iframeDetect());
    document.addEventListener("DOMContentLoaded", () => socketConnect());
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => scrollSnap(document.querySelector("body > section")));
    document.addEventListener("DOMContentLoaded", () => generateCopyLink(document.querySelector("#qr-dialog")));
    document.addEventListener("DOMContentLoaded", () => generateQrCode(
        document.querySelector("#qr-dialog canvas"),
        document.querySelector("#qr-dialog").getAttribute("data-url"),
    ));
    document.addEventListener("DOMContentLoaded", () => dashboard());
    document.addEventListener("DOMContentLoaded", () => {
        anime({
            targets: "html.iframe .dashboard button",
            duration: 1500,
            delay: anime.stagger(210),
            easing: "easeInOutCubic",
            direction: "alternate",
            borderTopWidth: ["20px", "200px"],
            borderBottomWidth: ["20px", "200px"],
            borderLeftWidth: ["20px", "200px"],
            borderRightWidth: ["20px", "200px"],
            borderRadius: ["15px", "30px"]
        });
    });
    document.addEventListener("DOMContentLoaded", () => {
        anime({
            targets: ".dashboard button",
            duration: 3000,
            delay: anime.stagger(50),
            easing: "easeInElastic(1, .6)",
            filter: "hue-rotate(360deg)",
            loopBegin: function (anim) {
                setTimeout(anim.play, 7000);
            }
        });
    });
</script>
{% endblock %}