{%extends "layouts/main.njk"%}
{%set cache_buster = "" | currentTime%}
{%set public_routes = "public_routes"|getParam%}
{%block head%}
<script defer type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.min.js"></script>
<style>
    html {
        width: 100vw;
        height: 100vh;
    }

    body {
        width: 100vw;
        height: 100vh;
    }

    canvas {
        width: 100vw;
        height: 100vw;
        box-shadow: inset 0 0 3px 3px #f77f00;
    }
</style>
{%endblock%}
{%block body%}
<section>
    <canvas id="canvas"></canvas>
    <div>menu with stuff</div>
</section>
<nav>
    <label onclick="javascript:getURL('{{public_routes.PANEL_DASHBOARD}}')" aria-label="🌀"></label>
</nav>
{%endblock%}
{%block fscripts%}
<script defer>
    document.addEventListener("DOMContentLoaded", () => iframeDetect());
    document.addEventListener("DOMContentLoaded", () => socketConnect());
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => {
        const pixelSize = 20;
        const canvas = document.querySelector("canvas");
        canvas.width = canvas.getBoundingClientRect().width;
        canvas.height = canvas.getBoundingClientRect().height;
        const drawPixel = (x, y) => {
            const ctx = canvas.getContext("2d");
            ctx.fillStyle = "#6a82ff";
            ctx.beginPath();
            ctx.arc(x, y, pixelSize / 2, 0, Math.PI * 2, false);
            ctx.fill();
        };
        window.addEventListener("touchmove", (e) => {
            drawPixel(
                e.touches[0].pageX,
                e.touches[0].pageY,
            );
            console.log('e.pageX', e.touches[0].pageX);
            console.log('e.pageY', e.touches[0].pageY);
        });
    });
</script>
{%endblock%}