{%extends "layouts/main.njk"%}
{%set cache_buster = "" | currentTime%}
{%set public_routes = "public_routes"|getParam%}
{%block head%}
<script defer type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.min.js"></script>
<style>
    canvas {
        min-width: 100vw;
        min-height: 100vh;
    }
</style>
{%endblock%}
{%block body%}
<section class="draw">
    <canvas id="canvas" width="400" height="400"></canvas>
</section>
{%include "partials/controls.njk"%}
{%endblock%}
{%block dialogs%}
{%set device_ip = "device_ip"|getParam%}
{%endblock%}
{%block fscripts%}
<script defer>
    document.addEventListener("DOMContentLoaded", () => iframeDetect());
    document.addEventListener("DOMContentLoaded", () => socketConnect());
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => {
        const canvas = document.querySelector("canvas");
        const pixelSize = 6;
        const drawPixel = (x, y) => {
            canvas.getContext("2d").fillStyle = "#000";
            canvas.getContext("2d").fillRect(x - pixelSize / 2, y - pixelSize / 2, pixelSize, pixelSize);
        };
        document.addEventListener("mousemove", (e) => {
            drawPixel(
                e.pageX,
                e.pageY,
            );
        });
    });
</script>
{%endblock%}