{%extends "layouts/main.njk"%}
{%set cache_buster = "" | currentTime%}
{%set public_routes = 'public_routes'|getParam%}
{%block head%}
<link rel="stylesheet" href="/style/modules.css?cb={{cache_buster}}">
<style id="public_module_styles">:root{{'{' ~ 'public_module_styles'|getParam ~ '}'}}</style>
{%endblock%}
{%block body%}
{%set public_routes = 'public_routes'|getParam%}
<section class="modules">
    <div class="module aqua">
        <div class="title" aria-label="Featured">
            <button onclick="javascript:document.body.querySelector('#qr-dashboard-dialog').showModal()"
                    aria-label="🔗"></button>
        </div>
        <div class="preview">
            <iframe width="1920"
                    height="1080"
                    src="{{public_routes.PUBLIC_FEATURE_EMBED}}#edit">
            </iframe>
        </div>
        <div class="controls">
            <label aria-label="move">
                <input type="range" min="0" max="66" step="3" value="66" name="--_feat-translateX">
                <input type="range" min="0" max="66" step="3" value="66" name="--_feat-translateY" hidden>
            </label>
            <label aria-label="size">
                <input type="range" min="33" max="99" step="9" value="33" name="--_feat-scaleX">
                <input type="range" min="33" max="99" step="9" value="33" name="--_feat-scaleX" hidden>
            </label>
            <label aria-label="tilt">
                <input type="range" min="-3" max="3" step="3" value="0" name="--_feat-rotateX">
                <input type="range" min="-3" max="3" step="3" value="0" name="--_feat-rotateY" hidden>
            </label>
            <label aria-label="spin">
                <input type="range" min="-6" max="6" step="3" value="0" name="--_feat-rotateZ">
                <input type="range" min="-6" max="6" step="3" value="0" name="--_feat-rotateZ" hidden>
            </label>
        </div>
    </div>
    <div class="module bloodorange">
        <div class="title" aria-label="BPM">
            <button onclick="javascript:document.body.querySelector('#qr-dashboard-dialog').showModal()"
                    aria-label="🔗"></button>
        </div>
        <div class="preview">
            <iframe width="1920"
                    height="1080"
                    src="{{public_routes.PUBLIC_BPM_EMBED}}#edit">
            </iframe>
        </div>
        <div class="controls">
            <label aria-label="move">
                <input type="range" min="0" max="66" step="3" value="66" name="--_bpm-translateX">
                <input type="range" min="0" max="66" step="3" value="66" name="--_bpm-translateX" hidden>
            </label>
            <label aria-label="size">
                <input type="range" min="33" max="99" step="9" value="33" name="--_bpm-scaleX">
                <input type="range" min="33" max="99" step="9" value="33" name="--_bpm-scaleX" hidden>
            </label>
            <label aria-label="tilt">
                <input type="range" min="-3" max="3" step="3" value="0" name="--_bpm-rotateX">
                <input type="range" min="-3" max="3" step="3" value="0" name="--_bpm-rotateY" hidden>
            </label>
            <label aria-label="spin">
                <input type="range" min="-6" max="6" step="3" value="0" name="--_bpm-rotateZ">
                <input type="range" min="-6" max="6" step="3" value="0" name="--_bpm-rotateZ" hidden>
            </label>
        </div>
    </div>
</section>
{%include "partials/home.njk"%}
{%endblock%}
{%block dialogs%}
{%set device_ip = "device_ip"|getParam%}
<dialog id="qr-dashboard-dialog" data-url="https://{{device_ip }}">
    <section>
        <h2 aria-label="QR Code Link"></h2>
        <h3 aria-label="This link will open this page on any device on your network"></h3>
        <canvas></canvas>
        <button aria-label="Click to Copy Link!"></button>
        <button aria-label="✅Done"
                onclick="javascript:document.body.querySelector('#qr-dashboard-dialog').close();"></button>
    </section>
</dialog>
{%endblock%}
{%block fscripts%}
<script defer>
    document.addEventListener("DOMContentLoaded", () => cssDevWatch());
    document.addEventListener("DOMContentLoaded", () => iframeDetect());
    document.addEventListener("DOMContentLoaded", () => socketConnect());
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => scrollSnap(document.body.querySelector("body > section")));
    document.addEventListener("DOMContentLoaded", () => generateCopyLink(document.body.querySelector("#qr-dashboard-dialog")));
    document.addEventListener("DOMContentLoaded", () => generateQrCode(
        document.body.querySelector("#qr-dashboard-dialog canvas"),
        document.body.querySelector("#qr-dashboard-dialog").getAttribute("data-url"),
    ));
    document.addEventListener("DOMContentLoaded", () => setCssVariable('.preview', 'width', '--js-module-preview-width'));
    document.addEventListener("DOMContentLoaded", () => setCssVariable('.title', 'height', '--js-module-title-height', 'px'));
    document.addEventListener("DOMContentLoaded", () => setCssVariable('.module', 'height', '--js-module-content-height', 'px'));
    document.addEventListener("DOMContentLoaded", () => applyModuleStyles());
    document.addEventListener("DOMContentLoaded", () => initializeModuleClickTouch());
</script>
{%endblock%}