{% extends "layouts/main.njk" %}
{% set cache_buster = "" | currentTime %}
{% block hscripts %}
<link rel="stylesheet" href="/style/settings.css?cb={{cache_buster}}">
{% endblock %}
{% block body %}
{% include "partials/controls.njk" %}
<ul class="settings-container">
    <!---->
    <!---->
    <!---->
    {% set feature_title_set = false %}
    {% for signal in "dashboard_signals_config" | getParam %}
    {% if signal.type == "feature" %}
    {% if not feature_title_set %}{% set feature_title_set = true %}
    <li class="settings-container--header {{ signal.theme }}">
        <p>Featured</p>
    </li>
    {% endif %}
    <li>
        <div class="settings-editor {{ signal.theme }}" data-editor-id="{{ loop.index0  }}">
            <button/>
            {{ signal.emoji }}</button>
            <input type="text" value="{{ signal.label }}"/>
        </div>
    </li>
    {% endif %}
    {% endfor %}
    <!---->
    <!---->
    <!---->
    {% set feature_title_set = false %}
    {% for signal in "dashboard_signals_config" | getParam %}
    {% if signal.type == "mark" %}
    {% if not feature_title_set %}{% set feature_title_set = true %}
    <li class="settings-container--header {{ signal.theme }}">
        <p>Markers</p>
    </li>
    {% endif %}
    <li>
        <div class="settings-editor {{ signal.theme }}" data-editor-id="{{ loop.index0  }}">
            <button/>
            {{ signal.emoji }}</button>
            <input type="text" value="{{ signal.label }}"/>
        </div>
    </li>
    {% endif %}
    {% endfor %}
    <!---->
    <!---->
    <!---->
    {% set feature_title_set = false %}
    {% for signal in "dashboard_signals_config" | getParam %}
    {% if signal.type == "ad" %}
    {% if not feature_title_set %}{% set feature_title_set = true %}
    <li class="settings-container--header {{ signal.theme }}">
        <p>Ads</p>
    </li>
    {% endif %}
        <div class="settings-editor {{ signal.theme }}" data-editor-id="{{ loop.index0  }}">
            <button/>
            {{ signal.emoji }}</button>
            <input type="text" disabled value="{{ signal.label }}"/>
        </div>
    </li>
    {% endif %}
    {% endfor %}
    <!---->
    <!---->
    <!---->
    {% set feature_title_set = false %}
    {% for signal in "dashboard_signals_config" | getParam %}
    {% if signal.type == "heart" %}
    {% if not feature_title_set %}{% set feature_title_set = true %}
    <li class="settings-container--header {{ signal.theme }}">
        <p>BPM Display</p>
    </li>
    {% endif %}
        <div class="settings-editor {{ signal.theme }}" data-editor-id="{{ loop.index0  }}">
            <button/>
            {{ signal.emoji }}</button>
            <input type="text" value="{{ signal.label }}"/>
        </div>
    </li>
    {% endif %}
    {% endfor %}
    <!---->
    <!---->
    <!---->
</ul>
<ul id="emoji-widget">
    <li>✨</li>
    <li>📢</li>
    <li>❤</li>
    <li>⏰</li>
    <li>🥊</li>
    <li>🧐</li>
    <li>🎬</li>
    <li>👾</li>
    <li>🌟</li>
    <li>🍕</li>
    <li>🎮</li>
    <li>🔥</li>
    <li>🎧</li>
    <li>💎</li>
    <li>🕹️</li>
    <li>🖥️</li>
    <li>🚀</li>
    <li>🌈</li>
    <li>👑</li>
    <li>💥</li>
</ul>
{% endblock %}
{% block fscripts %}
<script>
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => iframeDetect());
    document.addEventListener("DOMContentLoaded", () => scrollSnap('.settings-container'));
    document.addEventListener("DOMContentLoaded", () => {
        socketWatchReload();
        document.querySelectorAll(".settings-editor").forEach(initSettingsEditor);
        scrollSnap('.settings-container');
    });
</script>
{% endblock %}
