{% extends "layouts/main.njk" %}
{% set cache_buster = "" | currentTime %}
{% block hscripts %}
<link rel="stylesheet" href="/style/settings.css?cb={{cache_buster}}">
{% endblock %}
{% block body %}
<section class="settings">
    <ul>
    <!---->
    <!---->
    <!---->
    {% set feature_title_set = false %}
    {% for signal in "dashboard_signals_config" | getParam %}
    {% if signal.type == "feature" %}
    {% if not feature_title_set %}{% set feature_title_set = true %}
    <li class="settings-header {{ signal.theme }}">
        <p>Featured</p>
    </li>
    {% endif %}
    <li class="not-settings-header">
        <form class="settings-editor {{ signal.theme }}" data-editor-id="{{ loop.index0  }}">
            <button/>
            {{ signal.emoji }}</button>
            <input type="text" value="{{ signal.label }}"/>
        </form>
    </li>
    {% endif %}
    {% endfor %}
    <!---->
    <!---->
    <!---->
    {% set feature_title_set = false %}
    {% for signal in "dashboard_signals_config" | getParam %}
    {% if signal.type == "mark" %}
    {% if not feature_title_set %}{% set feature_title_set = true %}
    <li class="settings-header {{ signal.theme }}">
        <p>Markers</p>
    </li>
    {% endif %}
    <li>
        <form class="settings-editor {{ signal.theme }}" data-editor-id="{{ loop.index0  }}">
            <button/>
            {{ signal.emoji }}</button>
            <input type="text" value="{{ signal.label }}"/>
        </form>
    </li>
    {% endif %}
    {% endfor %}
    <!---->
    <!---->
    <!---->
    {% set feature_title_set = false %}
    {% for signal in "dashboard_signals_config" | getParam %}
    {% if signal.type == "ad" %}
    {% if not feature_title_set %}{% set feature_title_set = true %}
    <li class="settings-header {{ signal.theme }}">
        <p>Ads</p>
    </li>
    {% endif %}
    <form class="settings-editor {{ signal.theme }}" data-editor-id="{{ loop.index0  }}">
        <button/>
        {{ signal.emoji }}</button>
        <input type="text" disabled value="{{ signal.label }}"/>
    </form>
    </li>
    {% endif %}
    {% endfor %}
    <!---->
    <!---->
    <!---->
    {% set feature_title_set = false %}
    {% for signal in "dashboard_signals_config" | getParam %}
    {% if signal.type == "bpm" %}
    {% if not feature_title_set %}{% set feature_title_set = true %}
    <li class="settings-header {{ signal.theme }}">
        <p>BPM</p>
    </li>
    {% endif %}
    <li>
        <form class="settings-editor {{ signal.theme }}" data-editor-id="{{ loop.index0  }}">
            <button/>
            {{ signal.emoji }}</button>
            <input type="text" value="{{ signal.label }}"/>
        </form>
    </li>
    {% endif %}
    {% endfor %}
    <!---->
    <!---->
    <!---->
    </ul>
</section>
{% include "partials/controls.njk" %}
{% endblock %}
{% block dialogs %}
{% set device_ip = "device_ip" | getParam %}
<dialog id="qr-dialog" data-url="https://{{device_ip }}{{public_routes.PUBLIC_DASHBOARD}}">
    <h2 class="dialog--title">QR Code Dialog</h2>
    <h3 class="dialog--body">This link will open this page on any device on your network</h3>
    <canvas></canvas>
    <button>Click to Copy Link!</button>
    <button onclick="javascript:document.querySelector('#qrcode_dialog').close();">✅Done</button>
</dialog>
<ul id="emoji-widget">
    <li>✨</li>
    <li>📢</li>
    <li>❤</li>
    <li>⏰</li>
    <li>🥊</li>
    <li>🧐</li>
    <li>🎬</li>
    <li>👾</li>
    <li>🌟</li>
    <li>🍕</li>
    <li>🎮</li>
    <li>🔥</li>
    <li>🎧</li>
    <li>💎</li>
    <li>🕹️</li>
    <li>🖥️</li>
    <li>🚀</li>
    <li>🌈</li>
    <li>👑</li>
    <li>💥</li>
</ul>
{% endblock %}
{% block fscripts %}
<script defer>
    document.addEventListener("DOMContentLoaded", () => iframeDetect());
    document.addEventListener("DOMContentLoaded", () => socketConnect());
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => scrollSnap(document.querySelector("body > section")));
    document.addEventListener("DOMContentLoaded", () => generateCopyLink(document.querySelector("#qr-dialog")));
    document.addEventListener("DOMContentLoaded", () => generateQrCode(
        document.querySelector("#qr-dialog canvas"),
        document.querySelector("#qr-dialog").getAttribute("data-url"),
    ));
    document.addEventListener("DOMContentLoaded", () => {
        settings();
    });
</script>
{% endblock %}
