{%extends "layouts/main.njk"%}
{%block cdn%}<!-- nocdn -->{%endblock%}
{%block local%}<!-- nostyle -->{%endblock%}
{%block hscripts%}
<script defer crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
        type="text/javascript" defer></script>
<script defer crossorigin="anonymous"
        src="https://cdn.socket.io/4.0.0/socket.io.min.js"
        type="text/javascript" defer></script>
<script defer src="/script/iframe_detect.js?={{cache_buster}}" type="text/javascript"></script>
<script defer src="/script/socket.js?={{cache_buster}}" type="text/javascript"></script>
<link rel="stylesheet" href="/style/base.css?cb={{cache_buster}}">
<link rel="stylesheet" href="/style/iframe.css?cb={{cache_buster}}">
{%from "macros/public_module_styles.njk" import public_module_styles%}
<style>
    #bpm-rate {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100px;
        color: red;
        width: 100vw;
        height: 100vh;
    }
</style>
<style>
    :root {
        --_bpm-translateX: 0.0;
        --_bpm-translateY: 0.0;
        --_bpm-scaleX: 100.0;
        --_bpm-scaleY: var(--_bpm-scaleX);//100.0;
        --_bpm-rotateX: 0.0;
        --_bpm-rotateY: 0.0;
        --_bpm-rotateZ: 0.0;
    }
</style>
{{public_module_styles()}}
<style>
    body {
        perspective: 1920px;
    }
    #module-container {
        transform: translateX(calc(calc(var(--_bpm-translateX) * -1%) + 33%))
        translateY(calc(calc(var(--_bpm-translateY) * -1%) + 33%))
        scaleX(calc(var(--_bpm-scaleX) * 0.01))
        scaleY(calc(var(--_bpm-scaleY) * 0.01))
        rotateX(calc(var(--_bpm-rotateX) * 3.6deg))
        rotateY(calc(var(--_bpm-rotateY) * 3.6deg))
        rotateZ(calc(var(--_bpm-rotateZ) * 3.6deg))
    }
</style>
<style>
    :root {
        --_bpm-translateX: 0.0;
        --_bpm-translateY: 0.0;
        --_bpm-scaleX: 100.0;
        --_bpm-scaleY: 100.0;
        --_bpm-rotateX: 0.0;
        --_bpm-rotateY: 0.0;
        --_bmp-rotateZ: 0.0;
    }
</style>
{{public_module_styles()}}
{%endblock%}
{%block body%}
{%for signal in "dashboard_signals_config" | getParam%}
{%if signal.type == "bpm"%}
<div id="module-container">
    <div id="bpm-rate"
         data-label-content="{{ signal.label }}"
         data-emoji-content="{{ signal.emoji }}">
        <div></div>
        <div></div>
    </div>
</div>
{%endif%}
{%endfor%}
{%endblock%}
{%block fscripts%}
<script defer>
    document.addEventListener("DOMContentLoaded", () => iframeDetect());
    document.addEventListener("DOMContentLoaded", () => socketConnect());
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => socketWatchStyle((payload) => {
        let style = payload.split('style:set:')[1];
        document.head.querySelector('#public_module_styles').innerHTML = `:root{${style};}`;
    }));
    document.addEventListener("DOMContentLoaded", () => {
        const bpmRateElement = document.body.querySelector('#bpm-rate');
        const labelEl = bpmRateElement.querySelector('div:nth-of-type(1)');
        const emojiEl = bpmRateElement.querySelector('div:nth-of-type(2)');
        const bpmPing = async () => {
            try {
                const response = await axios.get("/public/bpm/ping");
                const bpmRate = response.data;
                const label = bpmRateElement.getAttribute('data-label-content');
                const emoji = bpmRateElement.getAttribute('data-emoji-content');
                labelEl.textContent = bpmRate ? bpmRate : label;
                emojiEl.textContent = emoji ? emoji : "♥";
            } catch (error) {
                bpmRateElement.textContent = "BPM";
                console.error("Failed to fetch bpm rate:", error);
            }
        };
        setInterval(() => bpmPing(), 1000);
    });
</script>
{%endblock%}