<!-- src/views/embed.html -->
{% extends "layouts/main.njk" %}
{% from "macros/public_module_styles.njk" import public_module_styles %}
{% block cdn %}<!-- noscript -->{% endblock %}
{% block local %}<!-- nostyle -->{% endblock %}
{% block hscripts %}
<script defer crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer
        type="text/javascript"></script>
<script defer crossorigin="anonymous" src="https://cdn.socket.io/4.0.0/socket.io.min.js" defer
        type="text/javascript"></script>
<script defer src="/script/iframe.js?={{cache_buster}}" type="text/javascript"></script>
<script defer src="/script/socket.js?={{cache_buster}}" type="text/javascript"></script>
<script defer src="/script/router.js?={{cache_buster}}" type="text/javascript"></script>
<link rel="stylesheet" href="/style/base.css?cb={{cache_buster}}">
<style>
    #twitch-embed {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<style>
    #module-container {
        width: 100vw;
        height: 100%;
        display: block;
    }

    :root {
        --module-feature--translateX: 0;
        --module-feature--translateY: 0;
        --module-feature--translateZ: 0;
        --module-feature--rotateX: 0;
        --module-feature--rotateY: 0;
        --module-feature--rotateZ: 0;
        --module-feature--scaleX: 1;  /* Scale should start from 1 (no scale) */
        --module-feature--scaleY: 1;  /* Add scaleY */
        --module-feature--scaleZ: 1;  /* Add scaleZ */
    }
    #module-container {
        position: relative;
        transform-origin: center center;
        transform: transform: matrix3d(
        var(--module-feature--scaleX) * cos(var(--module-feature--rotateY)),
        var(--module-feature--scaleX) * sin(var(--module-feature--rotateZ)),
        0, 0,
        var(--module-feature--scaleY) * -sin(var(--module-feature--rotateX)),
        var(--module-feature--scaleY) * cos(var(--module-feature--rotateY)),
        0, 0,
        var(--module-feature--scaleZ), var(--module-feature--scaleZ), var(--module-feature--scaleZ), 1,
        var(--module-feature--translateX), var(--module-feature--translateY), var(--module-feature--translateZ), 1
        );
    }

    html.iframe #module-container:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: inset 0 0 10px 10px white;
        box-sizing: border-box;
    }
</style>
{{ public_module_styles() }}
{% endblock %}
{% block body %}
<div id="module-container">
    <iframe
            id="twitch-embed"
            frameborder="0"
            allowfullscreen="true"
            scrolling="no"
            height="100%"
            width="100%"
    >
    </iframe>
</div>
{% endblock %}
{% block fscripts %}
<script>
    document.addEventListener("DOMContentLoaded", () => iframeDetect());
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => {
        // Read query param of featuredName
        // Load featuredName into the embed
        const urlParams = new URLSearchParams(window.location.search);
        const streamerQueryParam = urlParams.get('featuredName');
        if (!streamerQueryParam) {
            console.log('No streamer found');
        } else {
            const URL = `https://player.twitch.tv/?channel=${streamerQueryParam}&parent=localhost&muted=false`;
            const twitchEmbed = document.querySelector('#twitch-embed');
            twitchEmbed.src = URL;
        }
    });
    document.addEventListener("DOMContentLoaded", () => socketWatchFeatureSet((payload) => {
        // If signal re-sends the same name, hide everything
        const urlParams = new URLSearchParams(window.location.search);
        const streamerQueryParam = urlParams.get('featuredName');
        const featuredName = payload.split(':').pop();
        const isOpen = (streamerQueryParam === featuredName);

        console.log('window.location.hash', window.location.hash);

        return;
        if (isOpen) {
            try {
                (!'#featuredNameLock' == window.location.hash) && document.documentElement.remove();
            } catch (e) {
                //window.location.reload();
            }
        } else {
            getURL(`${window.location.origin}${window.location.pathname}?featuredName=${featuredName}`);
        }
    }));
</script>
{% endblock %}