{%extends "layouts/main.njk"%}
{%block cdn%}<!-- nocdn -->{%endblock%}
{%block local%}<!-- nostyle -->{%endblock%}
{%block head%}
<script defer crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
        type="text/javascript" defer></script>
<script defer crossorigin="anonymous"
        src="https://cdn.socket.io/4.0.0/socket.io.min.js"
        type="text/javascript" defer></script>
<script defer src="/script/iframe_detect.js?={{cache_buster}}" type="text/javascript"></script>
<script defer src="/script/socket.js?={{cache_buster}}" type="text/javascript"></script>
<link rel="stylesheet" href="/style/base.css?cb={{cache_buster}}">
<style>
    canvas {
        width: 100vw;
        height: 100vw;
    }
</style>
{%endblock%}
{%block body%}
<div id="module-container">
    <canvas></canvas>
</div>
{%endblock%}
{%block fscripts%}
<script defer>
    document.addEventListener("DOMContentLoaded", () => iframeDetect());
    document.addEventListener("DOMContentLoaded", () => socketConnect());
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => socketWatchDrawSet((payload) => {
        if (document.$drawing) {
            console.log('busy...');
            return;
        }
        document.$drawing = true;
        const pixelSize = 20;
        const playback = payload.split(":")[1].split(",");
        const canvas = document.querySelector("canvas");
        canvas.width = canvas.getBoundingClientRect().width;
        canvas.height = canvas.getBoundingClientRect().height;
        const ctx = document.querySelector("canvas").getContext("2d");
        document.replayStart = () => {
            if (playback.length) {
                const x = playback.shift();
                const y = playback.shift();
                ctx.fillStyle = "#2fffa5";
                ctx.beginPath();
                ctx.arc(x, y, (pixelSize * 1.25) / 2, 0, Math.PI * 2, false);
                ctx.fill();
                requestAnimationFrame(document.replayStart);
            } else {
                document.$drawing = false;
                clearTimeout(document.$drawing);
            }
        };
        document.replayStart();
        document.$drawing = setTimeout(()=>{
            ctx.clearRect(0, 0, canvas.width, canvas.height);
        });
    }));
</script>
{%endblock%}