{%extends "layouts/main.njk"%}
{%block cdn%}<!-- nocdn -->{%endblock%}
{%block local%}<!-- nostyle -->{%endblock%}
{%block hscripts%}
<script defer crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
        type="text/javascript" defer></script>
<script defer crossorigin="anonymous"
        src="https://cdn.socket.io/4.0.0/socket.io.min.js"
        type="text/javascript" defer></script>
<script defer src="/script/get_url.js?={{cache_buster}}" type="text/javascript"></script>
<script defer src="/script/iframe_detect.js?={{cache_buster}}" type="text/javascript"></script>
<script defer src="/script/socket.js?={{cache_buster}}" type="text/javascript"></script>
<link rel="stylesheet" href="/style/base.css?cb={{cache_buster}}">
<link rel="stylesheet" href="/style/iframe.css?cb={{cache_buster}}">
{%from "macros/public_module_styles.njk" import public_module_styles%}
<style>
    #twitch-embed {
        justify-content: center;
        align-items: center;
        font-size: 100px;
        width: 100vw;
        height: 100vh;
    }
</style>
<style>
    html.iframe #module-container:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: inset 0 0 10px 10px white;
        box-sizing: border-box;
    }
    @keyframes wave {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: -100vw -100vh;
        }
    }
</style>
<style>
    :root {
        --_feat-translateX: 0.0;
        --_feat-translateY: 0.0;
        --_feat-scaleX: 100.0;
        --_feat-scaleY: var(--_feat-scaleX);//100.0;
        --_feat-rotateX: 0.0;
        --_feat-rotateY: 0.0;
        --_feat-rotateZ: 0.0;
    }
</style>
{{public_module_styles()}}
<style>
    body {
        perspective: 1920px;
    }

    #module-container {
        transform: translateX(calc(calc(var(--_feat-translateX) * -1%) + 33%)) translateY(calc(calc(var(--_feat-translateY) * -1%) + 33%)) scaleX(calc(var(--_feat-scaleX) * 0.01)) scaleY(calc(var(--_feat-scaleY) * 0.01)) rotateX(calc(var(--_feat-rotateX) * 3.6deg)) rotateY(calc(var(--_feat-rotateY) * 3.6deg)) rotateZ(calc(var(--_feat-rotateZ) * 3.6deg))
    }
</style>
{%endblock%}
{%block body%}
<div id="module-container">
    <iframe id="twitch-embed"
            frameborder="0"
            allowfullscreen="true"
            scrolling="no"
            height="100%"
            width="100%">
    </iframe>
</div>
{%endblock%}
{%block fscripts%}
<script defer>
    document.addEventListener("DOMContentLoaded", () => iframeDetect());
    document.addEventListener("DOMContentLoaded", () => socketConnect());
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => socketWatchStyle((payload) => {
        let style = payload.split('style:set:')[1];
        document.head.querySelector('#public_module_styles').innerHTML = `:root{${style};}`;
    }));
    document.addEventListener("DOMContentLoaded", () => socketWatchFeatureSet((payload) => {
        const urlParams = new URLSearchParams(window.location.search);
        const streamerQueryParam = urlParams.get('featuredName');
        const featuredName = payload.split(':').pop();
        const isOpen = (streamerQueryParam === featuredName);
        if (isOpen) {
            try {
                (!'#featuredNameLock' == window.location.hash) && document.documentElement.remove();
            } catch (e) {
                window.location.reload();
            }
        } else {
            getURL(`${window.location.origin}${window.location.pathname}?featuredName=${featuredName}`);
        }
    }));
    document.addEventListener("DOMContentLoaded", () => {
        const urlParams = new URLSearchParams(window.location.search);
        const streamerQueryParam = urlParams.get('featuredName');
        if (!streamerQueryParam) {
            console.log('No streamer found');
        } else {
            const URL = `https://player.twitch.tv/?channel=${streamerQueryParam}&parent=localhost&muted=false`;
            const twitchEmbed = document.body.querySelector('#twitch-embed');
            twitchEmbed.src = URL;
        }
    });
</script>
{%endblock%}