<!-- src/views/heart.html -->
{% extends "layouts/main.njk" %}
{% from "macros/public_module_styles.njk" import public_module_styles %}
{% block hscripts %}
<style>
    #heart-rate {
        font-size: 50px;
        font-family: sans-serif;
        color: red;
        height: 10vh
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<style>
    #module-container {
        height: 10vh
    }
    /** overwritten by "public_module_styles()" macro */
    :root {
        --module-heart-scaleX: 1;
        --module-heart-scaleY: 1;
        --module-heart-scaleZ: 1;
        --module-heart-translateX: 0;
        --module-heart-translateY: 0;
        --module-heart-translateZ: 0;
        --module-heart-rotateX: 0;
        --module-heart-rotateY: 0;
        --module-heart-rotateZ: 0;
    }
    #module-container {
        transform:
                scaleX(var(--module-heart-scaleX))
                scaleY(var(--module-heart-scaleY))
                scaleZ(var(--module-heart-scaleZ))
                translateX(var(--module-heart-translateX))
                translateY(var(--module-heart-translateY))
                translateZ(var(--module-heart-translateZ))
                rotateX(var(--module-heart-rotateX))
                rotateY(var(--module-heart-rotateY))
                rotateZ(var(--module-heart-rotateZ));
        transform-origin: center center;
    }

</style>
{{ public_module_styles() }}
{% endblock %}
{% block body %}
{% for signal in "dashboard_signals_config" | getParam %}
{% if signal.type == "heart" %}
<div id="module-container">
    <div id="heart-rate"
         data-label-content="{{ signal.label }}"
         data-emoji-content="{{ signal.emoji }}">
        <div></div>
        <div></div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}
{% block fscripts %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const heartRateElement = document.querySelector('#heart-rate');
        const labelEl = heartRateElement.querySelector('div:nth-of-type(1)');
        const emojiEl = heartRateElement.querySelector('div:nth-of-type(2)');
        const heartPing = async () => {
            try {
                const response = await axios.get("/public/heart/ping");
                const heartRate = response.data;
                const label = heartRateElement.getAttribute('data-label-content');
                const emoji = heartRateElement.getAttribute('data-emoji-content');
                labelEl.textContent = heartRate ? heartRate : label;
                emojiEl.textContent = emoji ? emoji : "♥";
            } catch (error) {
                heartRateElement.textContent = "BPM";
                console.error("Failed to fetch heart rate:", error);
            }
        };
        setInterval(() => heartPing(), 1000);
        socketWatchReload();
    });
</script>
{% endblock %}