{% macro form_loop_el(command, decorator) %}
    <div>
        <button
            onclick="javascript:nmps.form_loop({event,ctx:this})"
            data-onclick-command="{{ command }}"
            data-onclick-decorator="{{ decorator }}"
        >
            Set Command
        </button>
    </div>
{% endmacro %}

{% macro form_loop_js() %}
    <script src="/js/form_loop.js" typeof="text/javascript"></script>
{% endmacro %}
