{% macro qrcode_dialog(id) %}
    {% set device_ip = 'device_ip' | getParam %}
    <dialog class="dialog-container" id="{{ id }}">
        <div class="dialog--title">Default Title</div>
        <div class="dialog--body">This is the default body content of the dialog.</div>
        <canvas id="qr-code-dialog-canvas" data-url="{{ device_ip  }}"></canvas>
        <button onclick="javascript:closeDialog('{{ id }}')">Close</button>
    </dialog>
{% endmacro %}