<!-- src/views/dashboard.html -->
{% extends "layouts/main.njk" %}
{% from "macros/qrcode_dialog.njk" import qrcode_dialog %}
{% set cache_buster = "" | currentTime %}
{% set public_routes = 'public_routes' | getParam %}
{% block hscripts %}
<link rel="stylesheet" href="/style/dashboard.css?cb={{cache_buster}}">
{% endblock %}
{% block body %}
{% include "partials/controls.njk" %}
<div class="dashboard">
    {% for config in 'dashboard_signals_config' | getParam %}

    {% if config.type == "feature" %}
    {% set data_href = public_routes.PUBLIC_SIGNAL_CREATE ~ "?api=feature&type=" ~ config.type ~ "&description=" ~
    config.description ~ ":" ~ config.label %}
    {% elif config.type == "mark" %}
    {% set data_href = public_routes.PUBLIC_SIGNAL_CREATE ~ "?api=no-feature&type=" ~ config.type ~ "&description=" ~
    config.label %}
    {% else %}
    {% set data_href = public_routes.PUBLIC_SIGNAL_CREATE ~ "?api=no-feature&type=" ~ config.type ~ "&description=" ~
    config.description %}
    {% endif %}

    <div class="button button-{{ config.theme }}" href="{{data_href}}">
        <button
                data-href="{{ data_href }}"
                onclick="javascript:sendSignal(this)">
            <label>{{ config.emoji }}</label>
            <label>{{ config.label }}</label>
        </button>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block fscripts %}
<!-- dialogs start -->
{{ qrcode_dialog("qrcode_dialog", public_routes.PUBLIC_INDEX) }}
<!-- dialogs end -->
<script>
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => iframeDetect());
    document.addEventListener("DOMContentLoaded", () => scrollSnap('.dashboard'));
    document.addEventListener("DOMContentLoaded", () => generateCopyLink('#qr-code-copy-link'));
    document.addEventListener("DOMContentLoaded", () => generateQrCode(document.querySelector("#qrcode_dialog canvas").getAttribute('data-url'), "#qr-code-dialog-canvas"));
    document.addEventListener("DOMContentLoaded", () => dashboardButtons(
        "signals:order",
        document.querySelector(".dashboard"),
        document.querySelector("#dashboard--toggle"),
    ));
    document.addEventListener("DOMContentLoaded", () => {
        anime({
            targets: '.dashboard button',
            duration: 3000,
            delay: anime.stagger(50),
            easing: 'easeInElastic(1, .6)',
            filter: 'hue-rotate(360deg)',
            loopBegin: function(anim) {
                setTimeout(anim.play, 7000);
            }
        });
        anime({
            targets: '.dashboard button',
            duration: 3000,
            delay: anime.stagger(50),
            easing: 'easeInElastic(1, .6)',
            filter: 'hue-rotate(360deg)',
            loopBegin: function(anim) {
                setTimeout(anim.play, 7000);
            }
        });
        // @eyecandy
        // anime({
        //     targets: '.dashboard button',
        //     duration: 1500,
        //     delay: anime.stagger(210),
        //     easing: 'easeInOutCubic',
        //     direction: 'alternate',
        //     borderTopWidth: ['20px', '200px'],
        //     borderBottomWidth: ['20px', '200px'],
        //     borderLeftWidth: ['20px', '200px'],
        //     borderRightWidth: ['20px', '200px'],
        //     borderRadius: ['15px', '30px'],
        //     loopBegin: (anim) =>{
        //         setTimeout(anim.play, 11000);
        //     }
        // });
        // TODO: All button down behaviours
        const downButton = () => {

        };
        // TODO: All button up behaviours
        const upButton = () => {

        };
        document.querySelectorAll('.dashboard button').forEach(buttonEl => {
            buttonEl.addEventListener('mousedown', downButton);
            buttonEl.addEventListener('touchstart', downButton);
            buttonEl.addEventListener('mouseup', upButton);
            buttonEl.addEventListener('touchend', upButton);
        });
    });
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
</script>
{% endblock %}