<!-- src/views/dashboard.html -->
{% extends "layouts/main.njk" %}
{% from "macros/qrcode_dialog.njk" import qrcode_dialog %}
{% set cache_buster = "" | currentTime %}
{% set public_routes = 'public_routes' | getParam %}
{% block hscripts %}
<link rel="stylesheet" href="/style/dashboard.css?cb={{cache_buster}}">
{% endblock %}
{% block body %}
{% include "partials/controls.njk" %}
<div class="dashboard">
    {% for config in 'dashboard_signals_config' | getParam %}

    {% if config.type == "feature" %}
    {% set data_href = public_routes.PUBLIC_SIGNAL_CREATE ~ "?api=feature&type=" ~ config.type ~ "&description=" ~
    config.description ~ ":" ~ config.label %}
    {% elif config.type == "mark" %}
    {% set data_href = public_routes.PUBLIC_SIGNAL_CREATE ~ "?api=no-feature&type=" ~ config.type ~ "&description=" ~
    config.label %}
    {% else %}
    {% set data_href = public_routes.PUBLIC_SIGNAL_CREATE ~ "?api=no-feature&type=" ~ config.type ~ "&description=" ~
    config.description %}
    {% endif %}

    <div class="button button-{{ config.theme }}" href="{{data_href}}">
        <button
                data-state="idle"
                data-sending="Sending"
                data-error="Error"
                data-success="Success"
                data-wait="{{ config.wait }}"
                data-href="{{ data_href }}"
                onclick="javascript:sendSignal(this)">
            <label>
                {{ config.emoji }}
                {{ config.label }}
            </label>
        </button>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block fscripts %}
{{ qrcode_dialog("qrcode_dialog") }}
<script>
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => scrollSnap('.dashboard'));
    document.addEventListener("DOMContentLoaded", () => generateQrCode(document.querySelector("#qr-code-dialog-canvas").getAttribute('data-url'), "qr-code-dialog-canvas"));
    document.addEventListener("DOMContentLoaded", () => sortableContainer(
        "signals:order",
        document.querySelector(".dashboard"),
        document.querySelector("#dashboard--toggle"),
    ));
</script>
{% endblock %}