<!-- src/views/embed.html -->
{% extends "layouts/main.njk" %}
{% block hscripts %}
<link rel="stylesheet" href="/style/embed.css">
{% endblock %}
{% block body %}
<iframe id="twitch-embed"
        frameborder="0"
        allowfullscreen="true"
        scrolling="no"
        height="100%"
        width="100%">
</iframe>
<div>
    <canvas id="streamer-qr-code"></canvas>
</div>
{% endblock %}
{% block fscripts %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const twitchEmbed = document.querySelector('#twitch-embed');
        const reloadEmbed = (bool, streamerName) => {
            const streamer = streamerName || streamers[Math.floor(Math.random() * streamers.length)];
            const URL = `https://player.twitch.tv/?channel=${streamer}&parent=localhost&muted=false`;
            if (bool) {
                twitchEmbed.src = URL;
                generateQrCode(URL, 'streamer-qr-code');
            } else {
                document.documentElement.style.display = 'none';
                twitchEmbed.src = "";
            }
            embedActive = bool;
        };
        socketConnect((payload) => ('feature:toggle' === payload) && reloadEmbed(!embedActive));
        reloadEmbed(true, 'aaknot');
    });
</script>
{% endblock %}