<!-- src/views/embed.html -->
{% extends "layouts/main.njk" %}
{% block hscripts %}
<link rel="stylesheet" href="/style/embed.css">
{% endblock %}
{% block body %}
<iframe
        id="twitch-embed"
        frameborder="0"
        allowfullscreen="true"
        scrolling="no"
        height="100%"
        width="100%"
>
</iframe>
{% endblock %}
{% block fscripts %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        let embedActive = false;
        const twitchEmbed = document.querySelector('#twitch-embed');
        const toggleEmbed = (bool) => {
            twitchEmbed.src = bool ? "https://player.twitch.tv/?channel=stonerkat_&parent=localhost&muted=false" : "";
            embedActive = bool;
        };
        socketConnect((payload) => ('feature:toggle' === payload) && toggleEmbed(!embedActive));
        toggleEmbed(false);
    });
</script>
{% endblock %}