<!-- src/views/heart.html -->
{% extends "layouts/main.njk" %}
{% block hscripts %}
<link rel="stylesheet" href="/style/heart.css">
{% endblock %}
{% block body %}
<div id="heart-rate"></div>
{% endblock %}
{% block fscripts %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {

        const heartRateElement = document.querySelector('#heart-rate');

        // Poll function
        setInterval(async () => {
            try {
                const response = await axios.get("/public/heart/ping");
                const heartRate = response.data;
                heartRateElement.textContent = heartRate ? `${heartRate}` : 'BPM';
                console.log("Fetch heart rate:", heartRate);
            } catch (error) {
                heartRateElement.textContent = "BPM";
                console.error("Failed to fetch heart rate:", error);
            }
            resizeHeartRate();
        }, 1000);

        // Resize function
        function resizeHeartRate() {
            const viewportWidth = window.innerWidth;
            const viewportHeight = window.innerHeight;
            const fontSize = Math.min(viewportWidth, viewportHeight) * 0.5;
            heartRateElement.style.fontSize = `${fontSize}px`;
            console.error("resizeHeartRate:", viewportWidth,viewportHeight,heartRateElement.style.fontSize);
        }

    });
</script>
{% endblock %}