{%extends "layouts/main.njk"%}
{%set cache_buster = "" | currentTime%}
{%set public_routes = 'public_routes'|getParam%}
{%block cdn%}<!-- noscript -->{%endblock%}
{%block local%}<!-- nostyle -->{%endblock%}
{%block head%}
<script defer crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
        type="text/javascript" defer></script>
<script defer crossorigin="anonymous"
        src="https://cdn.socket.io/4.0.0/socket.io.min.js"
        type="text/javascript" defer></script>
<script defer crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js"
        type="text/javascript" defer></script>
<link rel="stylesheet" href="/style/index.css?cb={{cache_buster}}">
<script src="/script/service_worker.js?cb={{cache_buster}}" defer type="text/javascript"></script>
{%endblock%}
{%block body%}
<main>
    <iframe src="{{public_routes.PANEL_MODULES}}"></iframe>
    <iframe src="{{public_routes.PANEL_DASHBOARD}}"></iframe>
    <iframe src="{{public_routes.PANEL_SETTINGS}}"></iframe>
    <iframe src="{{public_routes.PANEL_DRAW}}"></iframe>
</main>
{%endblock%}
{%block fscripts%}
<script defer src="/script/socket.js?={{cache_buster}}" type="text/javascript"></script>
<script defer src="/script/detect_press_hold.js?={{cache_buster}}" type="text/javascript"></script>
<script defer src="/script/debounce_function.js?={{cache_buster}}" type="text/javascript"></script>
<script defer>
    document.addEventListener("DOMContentLoaded", () => initServiceWorker());
    document.addEventListener("DOMContentLoaded", () => {
        let previousPath = null;
        window.addEventListener('message', function (e) {
            if (e.origin === window.location.origin && e.data.type === "path") {
                const currentPath = e.data.message;
                const iframeEl = Array.from(document.body.querySelectorAll(`iframe[src="${currentPath}"]`))[0];
                const indexOf = Array.from(document.body.querySelectorAll("iframe")).indexOf(iframeEl);
                const vw = parseFloat(getComputedStyle(document.documentElement).getPropertyValue('--index-grid-cell-width'));
                const vh = parseFloat(getComputedStyle(document.documentElement).getPropertyValue('--index-grid-cell-height'));
                const translateValues = [
                    {translateX: `${1 * vw}vw`, translateY: `${0 * vh}vh`},
                    {translateX: `${0 * vw}vw`, translateY: `${0 * vh}vh`},
                    {translateX: `${-1 * vw}vw`, translateY: `${0 * vh}vh`},
                    {translateX: `${0 * vw}vw`, translateY: `${-1 * vh}vh`},
                ];
                previousPath = currentPath;
                const {translateX, translateY} = translateValues[indexOf];
                anime({
                    targets: 'main',
                    translateX: translateX,
                    translateY: translateY,
                    duration: 22,
                    easing: 'linear',
                    complete: () => {
                        // console.log('done');
                    }
                });
            }
        });
    });
</script>
{%endblock%}