<!-- src/views/index.html -->
{% extends "layouts/main.njk" %}
{% set cache_buster = "" | currentTime %}
{% set public_routes = 'public_routes' | getParam %}
{% block cdn %}<!-- noscript -->{% endblock %}
{% block local %}<!-- style -->{% endblock %}
{% block hscripts %}
<link rel="stylesheet" href="/style/index.css?cb={{cache_buster}}">
{% endblock %}
{% block body %}
<div class="pages">
    <iframe src="{{public_routes.PUBLIC_MODULES}}"></iframe>
    <iframe src="{{public_routes.PUBLIC_DASHBOARD}}"></iframe>
    <iframe src="{{public_routes.PUBLIC_SETTINGS}}"></iframe>
</div>
{% endblock %}
{% block fscripts %}
<script defer crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer
        type="text/javascript"></script>
<script defer crossorigin="anonymous" src="https://cdn.socket.io/4.0.0/socket.io.min.js" defer
        type="text/javascript"></script>
<script defer crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js" defer
        type="text/javascript"></script>
<script defer src="/script/socket_connect.js?={{cache_buster}}" type="text/javascript"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {

    });
    document.addEventListener("DOMContentLoaded", () => {
        window.addEventListener('message', function (e) {
            const path = e.data.message
            if (e.origin === window.location.origin && e.data.type === "path") {
                const iframeEls = Array.from(document.querySelectorAll("iframe"));
                const iframeEl = iframeEls.find(el => {
                    return el.getAttribute('src') === path.trim();
                });
                const rootStyles = getComputedStyle(document.documentElement);
                const vw = parseFloat(rootStyles.getPropertyValue('--index-grid-cell-width'));
                const vh = parseFloat(rootStyles.getPropertyValue('--index-grid-cell-height'));
                const indexOf = iframeEls.indexOf(iframeEl);
                const translateValues = [
                    {translateX: `${1 * vw}vw`, translateY: `${0 * vh}vh`},// iframe[0]
                    {translateX: `${0 * vw}vw`, translateY: `${0 * vh}vh`},// iframe[1]
                    {translateX: `${-1 * vw}vw`, translateY: `${0 * vh}vh`},// iframe[2]
                ];
                const {translateX, translateY} = translateValues[indexOf];
                anime({
                    targets: '.pages',
                    translateX: translateX,
                    translateY: translateY,
                    duration: 333,
                    easing: 'linear',
                });
            }
        });
    });
</script>
{% endblock %}