<!-- src/views/dashboard.html -->
{% extends "layouts/main.njk" %}
{% from "macros/form_loop.njk" import form_href_el %}
{% from "macros/qrcode_dialog.njk" import qrcode_dialog %}
{% set cache_buster = "" | currentTime %}
{% set public_routes = 'public_routes' | getParam %}
{% block hscripts %}
<link rel="stylesheet" href="/style/modules.css?cb={{cache_buster}}">
{% endblock %}
{% block body %}
{% include "partials/controls.njk" %}
<style>
    .modules {
        background: cadetblue;
    }

    :root {
        --selector-cell-width: 30px;
        --selector-cell-height: var(--selector-cell-width);
        --selector-width: calc(3 * var(--selector-cell-width));
        --selector-height: calc(3 * var(--selector-cell-height));
    }

    .module .module-9x9-selector ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: var(--selector-width);
        height: var(--selector-height);
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding: 10px;
    }

    .module .module-9x9-selector li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .module .module-9x9-selector input[type="radio"] {
        border-radius: 0;
        width: var(--selector-cell-width);
        height: var(--selector-cell-height);
        border: 2px solid var(--button-bloodorange);
        background: var(--button-orange);
    }

    .module .module-9x9-selector input[type="radio"]:checked {
        border-width: 10px;
        background: var(--button-deepyellow);
    }

    .module .preview {
        width: 100%;
        height: 0;
        padding-top: 56.25%;
        background-color: var(--button-black);
        position: relative;
    }

    .module .preview iframe {
        transform: scale(calc(var(--js-module-preview-width)/1920));
        pointer-events: none;
        border: none;
        background: none;
        position: absolute;
        left: 0;
        top: 0;
        transform-origin: 0 0;
    }

</style>
{% set public_routes = 'public_routes' | getParam %}
<div class="modules">
    <div class="module">
        <div class="preview">
            <iframe width="1920" height="1080" src="{{public_routes.PUBLIC_HEART_EMBED}}"></iframe>
        </div>
        <div class="controls">
            <div data-module-selector="heart:alignment"
                 data-module-payload="heart:alignment"
                 class="module-9x9-selector">
                <ul>
                    <li><input type="radio" name="group1" value="1"></li>
                    <li><input type="radio" name="group1" value="2"></li>
                    <li><input type="radio" name="group1" value="3"></li>
                    <li><input type="radio" name="group1" value="4"></li>
                    <li><input type="radio" name="group1" value="5"></li>
                    <li><input type="radio" name="group1" value="6"></li>
                    <li><input type="radio" name="group1" value="7"></li>
                    <li><input type="radio" name="group1" value="8"></li>
                    <li><input type="radio" name="group1" value="9"></li>
                </ul>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block fscripts %}
<script>
    document.addEventListener("DOMContentLoaded", () => setupCssVariable('.preview', 'width', '--js-module-preview-width'));
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => {

    });
</script>
{% endblock %}