<!-- src/views/dashboard.html -->
{% extends "layouts/main.njk" %}
{% from "macros/public_module_styles.njk" import public_module_styles %}
{% from "macros/qrcode_dialog.njk" import qrcode_dialog %}
{% set cache_buster = "" | currentTime %}
{% set public_routes = 'public_routes' | getParam %}
{% block hscripts %}
<link rel="stylesheet" href="/style/modules.css?cb={{cache_buster}}">
{% endblock %}
{% block body %}
{% include "partials/controls.njk" %}
<style>

    .module input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 100%;
        background: repeating-linear-gradient(-45deg, #fff, #ccc 15px);
        overflow: hidden;
    }

    .module input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 60px;
        height: 60px;
        background: repeating-radial-gradient(circle, #4f4f4f 0px, #020202 8px);
        box-shadow: 0px 0px 8px 8px rgba(44, 44, 44, 0.5);
    }

    .module .controls {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-auto-rows: auto;
        gap: 12px;
        margin: 12px;
        min-height: 110px;
        padding-right: 12px;
    }

    .preview:after {
        content: "";
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 10px 10px white;
        box-sizing: border-box;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        transform: scaleX(var(--module-heart-scaleX)) scaleY(var(--module-heart-scaleY)) scaleZ(var(--module-heart-scaleZ)) translateX(var(--module-heart-translateX)) translateY(var(--module-heart-translateY)) translateZ(var(--module-heart-translateZ)) rotateX(var(--module-heart-rotateX)) rotateY(var(--module-heart-rotateY)) rotateZ(var(--module-heart-rotateZ));
    }

</style>
{% set public_routes = 'public_routes' | getParam %}
{{ public_module_styles() }}
<div class="modules">
    <div class="module bloodorange">
        <div class="title">
            <p>BPM</p>
            <button onclick="javascript:showPanelQR('#heart_embed_qrcode_dialog', 'BPM')">🔗</button>
        </div>
        <div class="preview">
            <iframe width="1920" height="1080" src="{{public_routes.PUBLIC_HEART_EMBED}}"></iframe>
        </div>
        <div class="controls">
            <input type="range" id="--module-heart-scaleX" value="1" min="0.5" max="1" step="0.01" name=""
                   oninput="renderStyleUpdates()" onchange="pushStyleUpdates()">
            <input type="range" id="--module-heart-scaleY" value="1" min="0.5" max="1" step="0.01" name=""
                   oninput="renderStyleUpdates()" onchange="pushStyleUpdates()">
            <input type="range" id="--module-heart-translateX" value="1" min="0" max="50" step="1" name="%"
                   oninput="renderStyleUpdates()" onchange="pushStyleUpdates()">
            <input type="range" id="--module-heart-translateY" value="1" min="0" max="50" step="1" name="%"
                   oninput="renderStyleUpdates()" onchange="pushStyleUpdates()">
<!--            <input type="range" id="&#45;&#45;module-heart-translateZ" value="1" min="0" max="100" step="1" name="%"-->
<!--                   oninput="renderStyleUpdates()" onchange="pushStyleUpdates()">-->
            <!--            <input type="range" id="&#45;&#45;module-heart-translateX" name="%" min="0" max="360" value="0" step="36">-->
            <!--            <input type="range" id="&#45;&#45;module-heart-translateY" name="%" min="0" max="360" value="0" step="36">-->
            <!--            <input type="range" id="&#45;&#45;module-heart-translateZ" name="%" min="0" max="360" value="0" step="36">-->
            <!--            <input type="range" id="&#45;&#45;module-heart-rotateX" name="%" min="0" max="360" value="0" step="36">-->
            <!--            <input type="range" id="&#45;&#45;module-heart-rotateY" name="%" min="0" max="360" value="0" step="36">-->
            <!--            <input type="range" id="&#45;&#45;module-heart-rotateZ" name="%" min="0" max="360" value="0" step="36">-->
        </div>
    </div>
</div>
{% endblock %}
{% block fscripts %}
<!-- dialogs start -->
{{ qrcode_dialog("heart_embed_qrcode_dialog", public_routes.PUBLIC_HEART_EMBED ) }}
{{ qrcode_dialog("feature_embed_qrcode_dialog", public_routes.PUBLIC_FEATURE_EMBED ) }}
<!-- dialogs end -->
<script>
    document.addEventListener("DOMContentLoaded", () => socketWatchReload());
    document.addEventListener("DOMContentLoaded", () => iframeDetect());
    document.addEventListener("DOMContentLoaded", () => scrollSnap('.modules'));
    document.addEventListener("DOMContentLoaded", () => setCssVariable('.preview', 'width', '--js-module-preview-width'));
    document.addEventListener("DOMContentLoaded", () => setCssVariable('.title', 'height', '--js-module-title-height', 'px'));
    document.addEventListener("DOMContentLoaded", () => setCssVariable('.module', 'height', '--js-module-content-height', 'px'));
    document.addEventListener("DOMContentLoaded", () => renderStyleUpdates());
    document.addEventListener("DOMContentLoaded", () => applyStyleUpdates());
</script>
{% endblock %}