{% extends "layouts/main.njk" %}
{% set cache_buster = "" | currentTime %}
{% block hscripts %}
<link rel="stylesheet" href="/style/settings.css?cb={{cache_buster}}">
{% endblock %}
{% block body %}
{% include "partials/controls.njk" %}
<nav class="settings-nav">
    <ul>
        <li><a href="#feature">Featured Streamers</a></li>
        <li><a href="#ad">Ads</a></li>
        <li><a href="#heart">Heart rate</a></li>
        <li><a href="#mark">Markers</a></li>
    </ul>
</nav>
<ul class="settings-container">
    {% for signal in "dashboard_signals_config" | getParam %}
    {% if signal.type == "feature" %}
    <li class="settings-container--header" id="{{ signal.type }}">
        Featured Streamers:
        <button>Add Streamer</button>
        <button>Edit Theme</button>
    </li>
    <li>
        <input type="text" value="{{ signal.label }}"><input>
        <input type="text" value="{{ signal.emoji }}"><input>
        <div>Online Status: On/Off</div>
        <button>Edit</button>
        <button>Delete</button>
    </li>
    {% endif %}
    {% endfor %}
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <!---->
    <!---->
    <!---->
    {% for signal in "dashboard_signals_config" | getParam %}
    {% if signal.type == "ad" %}
    <li class="settings-container--header" id="{{ signal.type }}">Ads:</li>
    <li>
        <strong>Label:</strong> {{ signal.label }} <br>
        <strong>Emoji:</strong> {{ signal.emoji }}
    </li>
    {% endif %}
    {% endfor %}
    <!---->
    <!---->
    <!---->
    {% for signal in "dashboard_signals_config" | getParam %}
    {% if signal.type == "heart" %}
    <li class="settings-container--header" id="{{ signal.type }}">Heart rate:</li>
    <li>
        <strong>Label:</strong> {{ signal.label }} <br>
        <strong>Emoji:</strong> {{ signal.emoji }}
    </li>
    {% endif %}
    {% endfor %}
    <!---->
    <!---->
    <!---->
    {% for signal in "dashboard_signals_config" | getParam %}
    {% if signal.type == "mark" %}
    <li class="settings-container--header" id="{{ signal.type }}">Markers:</li>
    <li>
        <strong>Label:</strong> {{ signal.label }} <br>
        <strong>Emoji:</strong> {{ signal.emoji }}
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}
