<!-- src/views/settings.html -->
{% extends "layouts/main.njk" %}

{% from "macros/form_loop.njk" import form_button_el %}
{% from "macros/form_loop.njk" import form_href_el %}
{% from "macros/form_loop.njk" import form_loop_js %}

{% block title %}Settings{% endblock %}

{% block body %}
<h3>Twitch Commands</h3>
<table>
    <thead>
    <tr>
        <th>Command</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% set twitch_commands = 'twitch_commands' | getParam %}
    {% set public_routes = 'public_routes' | getParam %}
    <tr id="decorator-login">
        <td>login</td>
        <td>/twitch/login</td>
        <td>
            {{ form_href_el('Login', public_routes.TWITCH_LOGIN) }}
        </td>
    </tr>
    {% for key, details in twitch_commands %}
    <tr id="decorator-{{key}}">
        <td>{{ key }}</td>
        <td>{{ details.description }}</td>
        <td>
            {{ form_button_el('Set Command', public_routes.TWITCH_COMMAND_CREATE ~ '?command=' ~ key, '#decorator-' ~ key) }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block footerScripts %}
{{ form_loop_js() }}
{% endblock %}
