<!-- src/views/settings.html -->
{% extends "layouts/main.njk" %}

{% block title %}Settings{% endblock %}

{% block body %}
<h3>Twitch Commands</h3>
<table>
    <thead>
    <tr>
        <th>Command</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% set twitch_commands = 'twitch_commands' | getParam %}
    {% set public_routes = 'public_routes' | getParam %}
    {% for key, details in twitch_commands %}
    <tr id="decorator-{{key}}">
        <td>{{ key }}</td>
        <td>{{ details.description }}</td>
        <td>
            <button
                    onclick="javascript:form_loop({event,ctx:this})"
                    data-onclick-command="{{ public_routes.TWITCH_COMMAND_CREATE }}?command={{ key }}"
                    data-onclick-decorator="#decorator-{{ key }}"
            >
                Set Command
            </button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block footerScripts %}
<script src="/js/form_loop.js" typeof="text/javascript"></script>
{% endblock %}
