/** override hosts **/
body {
    overflow: hidden !important;
    background: none !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100vw !important;
}

/** base overrides for this app  **/
html {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100vw;
    height: 100vh;
}

ul {
    list-style: none;
}

section {
    display: block;
}

textarea {
    resize: none;
}

::selection {
    background-color: #000;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: auto;
    overscroll-behavior: none;
    transform: translate3d(0, 0, 0);
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

*[aria-label]:before {
    content: attr(aria-label);
}

html.reduced-motion * {
    animation: none !important;
    transition: none !important;
}