:root { --controls-filter: 0; }
nav { position: fixed; z-index: 1; max-width: 100vw; max-height: 100vh; display: grid; grid-template-columns: repeat(11, calc(9.09091vw)); grid-template-rows: repeat(11, calc(9.09091vh)); left: 0px; top: 0px; pointer-events: none; }
nav button { background: var(--color-light); display: block; width: 100%; height: 100%; font-size: 30px; border-radius: 30px; pointer-events: all; }
nav.controls { top: 0px; left: 0px; overflow: hidden; }
nav.controls button::before, nav.controls button span::before { display: inline-block; visibility: hidden; width: 0px; height: 0px; line-height: 0; opacity: 0; }
html.edit-active nav.controls button:nth-of-type(1), html.edit-active nav.controls button:nth-of-type(2), html.edit-active nav.controls button:nth-of-type(3), html.edit-active nav.controls button:nth-of-type(4), html.edit-active nav.controls button:nth-of-type(5), html.edit-active nav.controls button:nth-of-type(6), html.edit-active nav.controls button:nth-of-type(7), html.edit-active nav.controls button:nth-of-type(8) { display: none; }
nav.controls button:nth-of-type(1) { grid-area: 11 / 10 / 12 / 11; }
nav.controls button:nth-of-type(2) { grid-area: 11 / 11 / 12 / 12; }
nav.controls button:nth-of-type(3) { grid-area: 11 / 9 / 12 / 10; }
nav.controls button:nth-of-type(4) { grid-area: 11 / 6 / 12 / 7; }
nav.controls button:nth-of-type(5) { grid-area: 11 / 7 / 12 / 8; }
nav.controls button:nth-of-type(6) { grid-area: 11 / 3 / 12 / 2; }
nav.controls button:nth-of-type(7) { grid-area: 11 / 4 / 12 / 5; }
nav.controls button:nth-of-type(8) { grid-area: 11 / 3 / 12 / 4; }
nav.controls button:nth-of-type(9) { grid-area: 11 / 1 / 12 / 2; }
nav.top button { grid-area: 6 / 1 / 7 / 2; }
nav.top button::before { content: "⬆"; }
nav.right button { grid-area: 6 / 11 / 7 / 12; }
nav.right button::before { content: "➡"; }
nav.left button { grid-area: 6 / 1 / 7 / 2; }
nav.left button::before { content: "⬅"; }
nav.bottom button { grid-area: 11 / 6 / 12 / 7; }
nav.bottom button::before { content: "⬇"; }