html.edit-active nav input[type='checkbox'],
html.edit-active nav aside > :not(#toggle-edit-dashboard) {
    display: none;
}
html.edit-active nav > label {
    display: none;
}
nav {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav.top {
    top: 1.5%;
    left: 50%;
    transform: translateX(-50%);
}
nav.right {
    top: 50%;
    right: 1.5%;
}
nav.bottom {
    bottom: 1.5%;
    left: 50%;
    transform: translateX(-50%);
}
nav.left {
    top: 50%;
    left: 1.5%;
}
nav input[type='checkbox'] {
    display: none;
}
nav label {
    position: relative;
    background: var(--color-light);
    width: 30px;
    height: 30px;
    border-radius: 999px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    line-height: 2.5rem;
    cursor: pointer;
}
nav aside {
    display: none;
    flex-direction: column;
    background: var(--color-light);
    border-radius: 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    min-width: 250px;
    padding: 20px;
    text-align: left;
    bottom: calc(100% + 10px);
}
nav aside em {
    font-style: normal;
    display: inline-block;
    min-width: 1.5em;
    text-align: center;
}
nav input[type='checkbox']:checked ~ aside {
    display: flex;
}
nav aside button {
    color: var(--color-light);
    border: none;
    text-align: left;
    font-size: 2rem;
    width: 100%;
    cursor: pointer;
    padding: 6px 11px 8px 6px;
}
nav aside button:hover,
nav aside button:active {
    background: repeating-linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.15) 0px,
        rgba(0, 0, 0, 0.15) 2px,
        rgba(255, 255, 255, 0.15) 2px,
        rgba(255, 255, 255, 0.15) 4px
    );
}
