:root {
    --grid-size: 6;
}
section {
    display: grid;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    position: relative;
}
section {
    grid-template-columns: repeat(var(--grid-size), calc(100vw / 3));
    grid-template-rows: repeat(var(--grid-size), calc(100vh / 4));
    transition: width 500ms ease-in-out,
            height 500ms ease-in-out;
}
html.edit-active section {
    width: 200vw;
    height: 200vh;
    background: var(--color-dark);
}
@media (orientation: landscape) {
    section {
        grid-template-columns: repeat(var(--grid-size), calc(100vw / 4));
        grid-template-rows: repeat(var(--grid-size), calc(100vh / 3));
    }
}
@media (orientation: portrait) {
    section {
        grid-template-columns: repeat(var(--grid-size), calc(100vw / 3));
        grid-template-rows: repeat(var(--grid-size), calc(100vh / 5));
    }
}
section article {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
}
section img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
section article button {
    font-size: 30px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    white-space: nowrap;
    overflow-wrap: normal;
    word-break: keep-all;
}
section article button:disabled {
    filter: saturate(0);
}
section article button label {
    width: 100%;
    text-align: center;
}
section article button label:nth-of-type(1) {
    font-size: 60px;
    text-shadow: black 0px 0px 5px;
}
section article button label:nth-of-type(2) {
    --text-shadow-size: 3px;
    font-size: 40px;
    text-shadow:
        white 0px 0px var(--text-shadow-size),
        white 0px 0px var(--text-shadow-size),
        white 0px 0px var(--text-shadow-size),
        white 0px 0px var(--text-shadow-size);
}
section article button label::-webkit-scrollbar {
    display: none;
}
html.edit-active section article button {
    border-style: dashed;
}
section article button {
    border-width: 15px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.6) rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
section article button:active {
    border: 20px solid rgb(255, 255, 255);
}
section article button::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    z-index: 0;
}
section .red button {
    background-color: var(--color-red);
    color: var(--color-light);
}
section .pink button {
    background-color: var(--color-pink);
    color: var(--color-light);
}
section .blue button {
    background-color: var(--color-blue);
    color: var(--color-light);
}
section .aqua button {
    background-color: var(--color-aqua);
    color: var(--color-dark);
}
section .black button {
    background-color: var(--color-light);
    color: var(--color-light);
}
section .orange button {
    background-color: var(--color-orange);
    color: var(--color-dark);
}
section .purple button {
    background-color: var(--color-purple);
    color: var(--color-light);
}
section .bloodorange button {
    background-color: var(--color-bloodorange);
    color: var(--color-light);
}
section .deepyellow button {
    background-color: var(--color-deepyellow);
    color: var(--color-dark);
}
section .green button {
    background-color: var(--color-green);
    color: var(--color-light);
}
.pointer-events-none {
    pointer-events: none;
}
