dialog {
    display: none;
}
dialog[open] {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 50px;
    border-radius: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 25px 25px;
}
dialog::backdrop {
    opacity: 1;
}
dialog[open]::backdrop {
    opacity: 1;
}
dialog h2 {
    font-size: 30px;
    margin-bottom: 20px;
}
dialog h3 {
    text-align: center;
    font-size: 20px;
}
dialog canvas {
    margin: 0 auto;
    width: 200px;
    height: 200px;
}
dialog button {
    color: var(--color-light);
    padding: 10px 20px;
    cursor: pointer;
    font-size: 24px;
    border: 5px solid var(--color-dark);
    box-sizing: border-box;
    border-radius: 25px;
    margin: 10px;
}
