body {
    perspective: 1920px;
    overflow: hidden !important;
    background: none !important;
    padding: 0px !important;
    margin: 0px !important;
    width: 100vw !important;
}
main {
    width: 100vw;
    height: 100vh;
    display: block;
    position: relative;
    background-size: 7vw 7vh;
    background-repeat: repeat;
}
html.iframe main {
    background: var(--color-deepyellow);
    border: 30px solid var(--color-dark);
    box-sizing: border-box;
}
