body {
    perspective: 1920px;
    overflow: hidden !important;
    background: none !important;
    padding: 0px !important;
    margin: 0px !important;
    width: 100vw !important;
}
main {
    width: 100vw;
    height: 100vh;
    display: block;
    position: relative;
    background-size: 7vw 7vh;
    background-repeat: repeat;
}
html.iframe main {
    background: var(--color-bloodorange);
    box-sizing: border-box;
    background-color: var(--color-light);
    opacity: 0.6;
    background: radial-gradient(circle, transparent 20%, var(--color-light) 20%, var(--color-light) 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, var(--color-light) 20%, var(--color-light) 80%, transparent 80%, transparent) 32.5px 32.5px, linear-gradient(#000000 2.6px, transparent 2.6px) 0 -1.3px, linear-gradient(90deg, #000000 2.6px, var(--color-light) 2.6px) -1.3px 0;
    background-size: 65px 65px, 65px 65px, 32.5px 32.5px, 32.5px 32.5px;
    border: 32.5px solid var(--color-dark);
}
