body {
    overflow: hidden !important;
    background: none !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100vw !important;
    perspective: 1920px;
}

main {
    width: 100vw;
    height: 100vh;
    display: block;
    position: relative;
    background-size: 7vw 7vh;
    background-repeat: repeat;
}

html.iframe main {
    background: var(--color-deepyellow);
}