:root { --cell-density: 3.125vw; --section-width: 100vh; --section-height: 100vh; }
section { width: var(--section-width); height: var(--section-height); overflow: hidden; position: relative; margin: 0px; padding: 0px; background: repeating-linear-gradient(-45deg, rgb(0, 0, 0), rgb(19, 19, 19) 15px); display: flex; flex-direction: row; align-items: center; justify-content: center; }
@media (min-aspect-ratio: 1 / 1) {
  section { --cell-density: 3vh; --section-width: 100vw; --section-height: 100vh; }
}
@media (max-aspect-ratio: 1 / 1) {
  section { --section-width: 100vw; --section-height: 100vh; }
}
article { display: grid; overflow: visible; grid-template-columns: repeat(32, calc(var(--cell-density))); grid-template-rows: repeat(32, calc(var(--cell-density))); }
article .preview { position: relative; overflow: hidden; width: 100%; height: 100%; box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 5px 5px inset; background-color: var(--color-light); opacity: 1; background-size: 100% 100%; grid-area: 1 / 1 / 19 / 33; }
article .preview iframe { transform-origin: left top; pointer-events: none; border: none; background: none; position: absolute; left: 0px; top: 0px; }
article .layers { grid-area: 19 / 1 / 31 / 9; display: grid; grid-template-rows: repeat(4, calc(var(--cell-density) * 3)); width: 100%; overflow: hidden; background-image: radial-gradient(circle, var(--color-deepyellow), var(--color-bloodorange)); background-position: right center; background-size: 4px 4px; }
article .layers label { position: relative; display: flex; justify-content: center; align-items: center; font-size: 35px; width: 100%; height: 100%; border-width: 7px; border-style: solid; border-color: rgb(255, 195, 0) rgb(247, 127, 0) rgb(255, 100, 0) rgb(255, 195, 0); background: var(--color-orange); box-sizing: border-box; }
article .layers input { display: none; }
article .layers input:checked + * { background: linear-gradient(45deg, var(--color-aqua), var(--color-light)); }
article .modes { grid-area: 19 / 25 / 31 / 33; display: grid; grid-template-rows: repeat(4, calc(var(--cell-density) * 3)); width: 100%; overflow: hidden; grid-template-columns: repeaT(4,calc(var(--cell-density)*2)); }
article .modes label { position: relative; display: flex; justify-content: center; align-items: center; font-size: 30px; width: 100%; height: 100%; border-width: 7px; border-style: solid; border-color: rgb(255, 195, 0) rgb(247, 127, 0) rgb(255, 100, 0) rgb(255, 195, 0); background: var(--color-orange); box-sizing: border-box; }
article .modes input { display: none; }
article .modes input:checked + * { background: linear-gradient(45deg, var(--color-aqua), var(--color-light)); }
article .controls { position: relative; overflow: hidden; grid-area: 19 / 9 / 31 / 25; border-width: 7px; border-style: solid; border-color: rgb(255, 195, 0) rgb(247, 127, 0) rgb(255, 100, 0) rgb(255, 195, 0); background: var(--color-orange); box-sizing: border-box; }
article .controls label { overflow: scroll; position: relative; display: block; width: 100%; height: 100%; }
article .controls label::after { content: ""; display: block; width: 200%; height: 200%; background-color: var(--color-light); opacity: 1; background-image: radial-gradient(circle, var(--color-orange), var(--color-bloodorange)),
    repeating-radial-gradient(
            circle,
            var(--color-red),
            var(--color-red),
            17.5px,
            transparent 25px,
            transparent 25px
    ); background-blend-mode: hard-light; }
article input::-webkit-slider-thumb { appearance: none; }
article .controls label input { display: none; }