:root {
    --cell-density-X: 4vw;
    --cell-density-Y: 4vh;
}
section {
    overflow: hidden;
    position: relative;
    margin: 0px;
    padding: 0px;
    background: repeating-linear-gradient(-45deg, rgb(0, 0, 0), rgb(19, 19, 19) 15px);
}
article {
    display: grid;
    overflow: visible;
    grid-template-columns: repeat(25, calc(4vw));
    grid-template-rows: repeat(25, calc(4vh));
}
article .preview {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 0.8;
    background-position:
        0px 0px,
        0px 0px,
        40px 70px,
        40px 70px,
        0px 0px,
        40px 70px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 5px 5px inset;
    grid-area: 1 / 1 / 19 / 33;
}
article .preview iframe {
    transform-origin: left top;
    pointer-events: none;
    border: none;
    background: none;
    position: absolute;
    left: 0px;
    top: 0px;
}
article .layers {
    display: grid;
    grid-template-rows: auto;
    background-image: radial-gradient(circle, var(--color-deepyellow), var(--color-bloodorange));
    background-size: 4px 4px;
    grid-area: 19 / 1 / 26 / 7;
}
article .layers label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 100%;
    height: 100%;
    border-width: 7px;
    border-style: solid;
    border-color: rgb(255, 195, 0) rgb(247, 127, 0) rgb(255, 100, 0) rgb(255, 195, 0);
    background: var(--color-orange);
    box-sizing: border-box;
}
article .layers input {
    display: none;
}
article .layers input:checked + * {
    background: linear-gradient(45deg, var(--color-aqua), var(--color-light));
}
article .effects {
    overflow: hidden;
    background-image: radial-gradient(circle, var(--color-deepyellow), var(--color-bloodorange));
    background-position: right center;
    background-size: 4px 4px;
    grid-area: 19 / 17 / 23 / 19;
    grid-template-rows: auto;
    display: grid;
}
article .effects button:nth-of-type(1) {
    border-width: 7px;
    border-style: solid;
    border-color: rgb(255, 195, 0) rgb(247, 127, 0) rgb(255, 100, 0) rgb(255, 195, 0);
    background: var(--color-orange);
    box-sizing: border-box;
    font-size: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
article .effects button:nth-of-type(2) {
    border-width: 7px;
    border-style: solid;
    border-color: rgb(255, 195, 0) rgb(247, 127, 0) rgb(255, 100, 0) rgb(255, 195, 0);
    background: var(--color-orange);
    box-sizing: border-box;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
article .modes {
    display: grid;
    width: 100%;
    overflow: hidden;
    grid-area: 19 / 7 / 26 / 13;
    grid-template-rows: repeat(4, 25%);
    background-image: radial-gradient(circle, var(--color-deepyellow), var(--color-bloodorange));
    background-position: right center;
    background-size: 4px 4px;
}
article .modes label,
article .modes button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 100%;
    height: 100%;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(255, 195, 0) rgb(247, 127, 0) rgb(255, 100, 0) rgb(255, 195, 0);
    background: var(--color-orange);
    box-sizing: border-box;
}
article .modes label:nth-of-type(1) {
    grid-area: 1 / 1 / 1 / 1;
}
article .modes label:nth-of-type(2) {
    grid-area: 1 / 2 / 1 / 3;
}
article .modes label:nth-of-type(3) {
    grid-area: 1 / 3 / 1 / 4;
}
article .modes label:nth-of-type(4) {
    grid-area: 1 / 4 / 1 / 5;
}
article .modes label:nth-of-type(5) {
    grid-area: 3 / 1 / 2 / 3;
}
article .modes label:nth-of-type(6) {
    grid-area: 3 / 1 / 5 / 3;
}
article .modes input {
    display: none;
}
article .modes input:checked + * {
    background: linear-gradient(45deg, var(--color-aqua), var(--color-light));
}
article .controls {
    position: relative;
    overflow: hidden;
    border-width: 7px;
    border-style: solid;
    border-color: rgb(255, 195, 0) rgb(247, 127, 0) rgb(255, 100, 0) rgb(255, 195, 0);
    background: var(--color-orange);
    box-sizing: border-box;
    grid-area: 19 / 19 / 26 / 26;
}
article .controls label {
    overflow: scroll;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: none;
}
article .controls label::after {
    content: '';
    display: block;
    width: 200%;
    height: 200%;
    background-blend-mode: revert-layer;
}
article .controls[id='opacity'] label::after {
    background-image: repeating-linear-gradient(transparent 0px, rgb(0, 0, 0) 27px);
}
article .controls[id='translate'] label::after {
    background-image: repeating-radial-gradient(
        circle,
        rgb(0, 0, 0),
        rgb(0, 0, 0),
        17px,
        transparent 34px,
        transparent 17px
    );
}
article .controls[id='scale'] label::after {
    background-image: repeating-radial-gradient(
        circle,
        rgb(0, 0, 0),
        rgb(0, 0, 0),
        40px,
        transparent 80px,
        transparent 40px
    );
}
article .controls[id='rotate'] label::after {
    background-image: repeating-radial-gradient(
        circle,
        rgb(0, 0, 0),
        rgb(0, 0, 0),
        4px,
        transparent 8px,
        transparent 4px
    );
}
article .controls[id='pivot'] label::after {
    background-image: repeating-linear-gradient(transparent 0px, rgb(0, 0, 0) 27px);
}
article input::-webkit-slider-thumb {
    appearance: none;
}
article .controls label input {
    display: none;
}
