body {
}
:root {
    --cell-density: 3.125vw;
    --section-width: 100vh;
    --section-height: 100vh;
}
section {
    width: var(--section-width);
    height: var(--section-height);
    overflow: hidden;
    position: relative;
    margin: 0px;
    padding: 0px;
    background: var(--color-orange);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@media (min-aspect-ratio: 1 / 1) {
    section {
        --cell-density: 3vh;
        --section-width: 100vw;
        --section-height: 100vh;
    }
}
@media (max-aspect-ratio: 1 / 1) {
    section {
        --section-width: 100vw;
        --section-height: 100vh;
    }
}
article {
    display: grid;
    overflow: visible;
    grid-template-columns: repeat(32, calc(var(--cell-density)));
    grid-template-rows: repeat(32, calc(var(--cell-density)));
}
article .preview {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 5px 5px inset;
    background-color: var(--color-light);
    opacity: 1;
    background-size: 100% 100%;
    grid-area: 1 / 1 / 19 / 33;
}
article .preview iframe {
    pointer-events: none;
    border: none;
    background: none;
    position: absolute;
    left: 0px;
    top: 0px;
    transform-origin: 0px 0px;
    width: 100%;
    height: 100%;
}
article .layers {
    grid-area: 20 / 2 / 33 / 16;
    background: var(--color-dark);
    border-radius: 25px;
    padding: 15px;
    display: grid;
    grid-template-rows: repeat(4, calc(var(--cell-density) * 1.5));
}
article .layers ul {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(12, calc(var(--cell-density)));
    box-sizing: border-box;
}
article .layers label::before {
    font-size: 20px;
    color: var(--color-lightgreen) !important;
}
article .layers label[aria-label] {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    color: var(--color-lightgreen) !important;
}
article .modes {
    grid-area: 20 / 17 / 24 / 32;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(5, 25%);
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
}
article .modes label {
    position: relative;
}
article .modes label input {
    background: repeating-linear-gradient(-45deg, var(--color-light), var(--color-deepyellow) 25px);
}
article .modes label input:checked {
    background: repeating-linear-gradient(45deg, var(--color-bloodorange), var(--color-deepyellow) 25px);
    box-shadow: 0px 0px 10px inset;
}
article .modes label[aria-label]::before {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: bolder;
    text-shadow:
        0px 0px 5px var(--color-light),
        0px 0px 5px var(--color-light),
        0px 0px 5px var(--color-light),
        0px 0px 5px var(--color-light);
}
article .modes input {
    appearance: none;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(-45deg, var(--color-light), rgb(204, 204, 204) 10px);
    box-shadow: inset 0 0 5px 5px var(--color-deepyellow);
}
article .controls {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 25px;
    box-shadow: inset 0 0 5px 5px var(--color-dark);
}
article .controls {
    grid-area: 25 / 17 / 33 / 32;
}
article .controls label {
    overflow: scroll;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px 4px inset;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
article .controls label::after {
    content: '';
    display: block;
    width: 200%;
    height: 200%;
    background-color: var(--color-light);
    opacity: 1;
    background-image: radial-gradient(circle, var(--color-orange), var(--color-bloodorange)),
        repeating-radial-gradient(
            circle,
            var(--color-red),
            var(--color-red),
            17.5px,
            transparent 25px,
            transparent 25px
        );
    background-blend-mode: hard-light;
}
article input::-webkit-slider-thumb {
    appearance: none;
}
article .controls label input {
    display: none;
}
