body {
    background: var(--color-dark) !important;
}
section {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    margin: 0px;
    padding: 0px;
    background: repeating-linear-gradient(-45deg, var(--color-dark), var(--color-gray) 15px);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 25px;
}
article {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(16, calc(6.25vw));
    grid-template-rows: repeat(30, calc(6.25vw));
    height: calc(187.5vw);
}
article .preview {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 5px 5px inset;
    background-color: var(--color-light);
    opacity: 1;
    background-size: 100% 100%;
    grid-area: 1 / 1 / 10 / 17;
}
article .preview iframe {
    pointer-events: none;
    border: none;
    background: none;
    position: absolute;
    left: 0px;
    top: 0px;
    transform-origin: 0px 0px;
    width: 100%;
    height: 100%;
}
article .layers {
    grid-area: 11 / 1 / 13 / 8;
    background: var(--color-orange);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
article .controls {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 25px;
}
article .controls {
    grid-area: 11 / 9 / 18 / 17;
}
article label {
    overflow: scroll;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px 4px inset;
    position: relative;
}
article label::after {
    content: '';
    display: block;
    width: 200%;
    height: 200%;
    background-color: var(--color-light);
    opacity: 1;
    background-image: radial-gradient(circle, var(--color-dark), var(--color-light)),
        repeating-radial-gradient(circle, var(--color-dark), var(--color-dark), 5px, transparent 10px, transparent 10px);
    background-blend-mode: hard-light;
}
article input {
    appearance: none;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(-45deg, var(--color-light), rgb(204, 204, 204) 10px);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 5px 5px;
    border-radius: 25px;
}
article input::-webkit-slider-thumb {
    appearance: none;
}
article label input {
    display: none;
}
