section {
    width: 100vw;
    height: 100vh;
    overflow: hidden scroll;
    position: relative;
    margin: 0px;
    padding: 0px;
    background: repeating-linear-gradient(-45deg, rgb(2, 2, 2), rgb(19, 19, 19) 15px);
    font-size: 300%;
}
section::after {
    content: '';
    height: 130px;
    background: transparent;
    width: 100%;
    display: block;
}
section > ul > li[aria-label] {
    display: flex;
    align-items: center;
    z-index: 1;
    box-sizing: border-box;
    border-width: 20px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.6) rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.4);
    min-height: calc(-80px + 5vh);
    padding-left: 10px;
}
section button {
    font-size: 40px;
    padding: 10px;
}
section label {
    display: grid;
    grid-template-columns: repeat(15, 25px);
    grid-template-rows: repeat(10, 25px);
    box-sizing: border-box;
    height: 75px;
}
section > ul > li:not([aria-label]) label {
    grid-template-rows: repeat(auto-fit, 25px);
    height: 75px;
}
section > ul > li:not([aria-label]):nth-child(2) label {
    height: 225px;
}
section label > [type='text'] {
    font-size: 25px;
    padding: 10px;
    grid-area: 1 / 4 / 4 / 22;
}
section label > textarea {
    font-size: 25px;
    padding: 10px;
    grid-area: 4 / 4 / 10 / 22;
    width: 420px;
    height: 120px;
}
section label > [type='text']:nth-of-type(2) {
    grid-row: 4 / 7;
}
section label > textarea:disabled,
section label > [type='text']:disabled {
    color: var(--color-light);
    opacity: 0.5;
    pointer-events: none;
}
section label > textarea:focus,
section label > [type='text']:focus {
    background: var(--color-deepyellow);
    border-radius: 10px;
}
section label > button {
    line-height: 0;
    grid-area: 1 / 1 / 10 / 4;
}
body > #emoji-widget {
    display: none;
}
#emoji-widget {
    display: none;
}
#emoji-widget {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(5, calc(20%));
    border-top: 5px dotted rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.emoji-widget-instance,
.emoji-widget-instance-trigger {
}
#emoji-widget li {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    height: 10vh;
}
#emoji-widget li.active {
    box-shadow: inset 0 0 8px 8px var(--color-deepyellow);
}
section li.aqua,
section label.aqua,
section label.aqua + #emoji-widget {
    background: var(--color-aqua);
}
section li.orange,
section label.orange,
section label.orange + #emoji-widget {
    background: var(--color-orange);
}
section li.bloodorange,
section label.bloodorange,
section label.bloodorange + #emoji-widget {
    background: var(--color-bloodorange);
}
section li.purple,
section label.purple,
section label.purple + #emoji-widget {
    background: var(--color-purple);
}
section li.green,
section label.green,
section label.green + #emoji-widget {
    background: var(--color-green);
}
section li.red,
section label.red,
section label.red + #emoji-widget {
    background: var(--color-red);
}
