.settings {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    margin: 0;
    padding: 0;
    background: repeating-linear-gradient(-45deg, #020202, #131313 15px);
    font-size: 300%;
}

.settings:after {
    content: "";
    height: 130px;
    background: transparent;
    width: 100%;
    display: block;
}

.settings li {
    min-height: 5vh;
}

.settings .settings-header {
    display: flex;
    align-items: center;
    z-index: 1;
    box-sizing: border-box;
    border-top: 20px solid rgba(255, 255, 255, 0.6);
    border-right: 20px solid rgba(255, 255, 255, 0.2);
    border-bottom: 20px solid rgba(255, 255, 255, 0.1);
    border-left: 20px solid rgba(255, 255, 255, 0.4);
    min-height: calc(5vh - (4 * 20px));
}
.settings-header p {
    flex-grow: 1;
    font-size: 30px;
    margin: 0;
    background: repeating-linear-gradient(45deg, rgba(0, 0, 0, .05) 0px, rgba(0, 0, 0, .05) 2px, rgba(255, 255, 255, .05) 2px, rgba(255, 255, 255, .05) 4px);
}

label {
    display: grid;
    grid-template-columns: repeat(5, calc(100% / 5));
    box-sizing: border-box;
    min-height: 8vh;
}

label > button {
    font-size: 40px;
}

label > [type="text"] {
    font-size: 25px;
    grid-column: span 3;
    padding: 0 15px;
}

label > [type="text"]:disabled {
    opacity: .5;
}

label > [type="text"]:focus {
    background: var(--color-deepyellow);
    border-radius: 10px;
}

label > :not([type="text"]) {
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    position: relative;
}

body > #emoji-widget {
    display: none;
}

#emoji-widget {
    display: none;
}

#emoji-widget {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, calc(100% / 5));
}

.emoji-widget-instance,
.emoji-widget-instance-trigger {
    background: green !important;
}

#emoji-widget li {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    height: 10vh;
}

#emoji-widget li.active {
    box-shadow: inset 0 0 8px 8px var(--color-deepyellow);
}

/** themes start **/
label.aqua,
.settings-header.aqua,
label.aqua + #emoji-widget {
    background: var(--color-aqua);
}

label.orange,
.settings-header.orange,
label.orange + #emoji-widget {
    background: var(--color-orange);
}

label.bloodorange,
.settings-header.bloodorange,
label.bloodorange + #emoji-widget {
    background: var(--color-bloodorange);
}

label.purple,
.settings-header.purple,
label.purple + #emoji-widget {
    background: var(--color-purple);
}

label.green,
.settings-header.green,
label.green + #emoji-widget {
    background: var(--color-green);
}

/** themes end **/