:root {
    --color-light: white;
    --color-dark: black;
    --color-red: #e63946;
    --color-pink: #ff79c6;
    --color-blue: #4a90e2;
    --color-aqua: #56cfe1;
    --color-orange: #f77f00;
    --color-purple: #9b5de5;
    --color-bloodorange: #ff4500;
    --color-deepyellow: #ffc300;
    --color-green: #20894a;
}
