{{! This view extend the main layout }}
{{#extend "main"}}

    {{#block "body"}}
        <p>Welcome to the success page after Twitch login!</p>
        <p>The message displayed above comes from the header partial: <strong>{{message}}</strong></p>
    {{/block}}

{{/extend}}